<div class="content sidebar-r">
    <div class="container">
        <div class="row">
            <div class="xs-flex-box">
    <div class="col-xs-12">
    <div class="main">
        <div class="block-header">
            <h3 i18n>Replenish via Ozon</h3>
        </div>

      <form class="hide" #ozonForm action="https://testgateway.moneyfgepayment.com/payment/welcome" method="POST" name="form">
        <input type="text" name="amount" value="<?php echo $amount ?>">
        <input type="text" name="currency" value="<?php echo $currency ?>">
        <input type="hidden" name="paymentMethod" value="VISA">
        <input type="hidden" name="apiKey" value="<?php echo  $apiKey?>">
        <input type="hidden" name="billingFirstName" value="John">
        <input type="hidden" name="billingLastName" value="Doe">
        <input type="hidden" name="language" value="en">
        <input type="hidden" name="billingCountry" value="TR">
        <input type="hidden" name="billingCity" value="Istanbul">
        <input type="hidden" name="billingPostcode" value="07070">
        <input type="hidden" name="email" value="welcometo@moneyfgepayment.com">
        <input type="hidden" name="billingAddress1" value="My address">
        <input type="hidden" name="timestamp" value="<?php echo $timestamp ?>">
        <input type="hidden" name="referenceNo" value="<?php echo $referenceNo ?>">
        <input type="hidden" name="birthday" value="1990-10-10">
        <input type="hidden" name="token" value="<?php echo  $token ?>">
        <input type="hidden" name="returnUrl" value="<?php echo $url ?>">
        <input type="submit">
      </form>

        <div class="four-col-blocks">
            <div class="row">
              <div class="col-lg-3">
                <div class="alert alert-danger" *ngIf="errorMsg">
                  {{ errorMsg }}
                </div>
                <form [formGroup]="form" (ngSubmit)="handleSubmit()">
                  <div class="form-group">
                    <label class="control-label" for="currency">Currency</label>
                    <select name="currency" id="currency" class="form-control" formControlName="currency">
                      <option [value]="currency">{{ currency }}</option>
                    </select>
                  </div>
                  <div class="form-group">
                    <label class="control-label" for="amount">Amount</label>
                    <input type="number" id="amount" name="amount" class="form-control" formControlName="amount" />
                  </div>
                  <div class="form-group">
                    <button type="button" class="btn btn-accent">Submit</button>
                  </div>
                </form>
              </div>
            </div>
        </div>

        <div class="block-header">
            <h3 i18n>News</h3>
            <a href="/site/under-construct" class="flright under-construction" i18n>All news</a>
        </div>
    </div>
</div>
</div>        </div>
    </div>
</div>
