<header class="inner-head">

  <home-header-component></home-header-component>

  <div class="head-banner" style="background-image: url(assets/img/tv.jpg);">
    <div class="container">
      <div class="row">
        <div class="col-md-7">
          <div class="head-banner-info">
            <h1 i18n>Pay online  for TV, internet, telephone - easily and comfortably, without leaving your home!</h1>
            <!--<h1><span i18n>Pay online  for TV,</span><br class="hidden-sm hidden-xs"> <span i18n>internet, telephone -</span><br class="hidden-sm hidden-xs"><small i18n>easily and comfortably, without leaving your home!</small></h1>-->
          </div>
        </div>
        <div class="col-md-5"></div>
      </div>
    </div>
  </div>

</header>

<div class="main">
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <h1 class="page-title" >
          <small i18n>Service payment for Internet, television, telephones</small></h1>
        <div class="main-text">
          <p i18n>MoneyFGE payment system provides payment services for Internet, TV and telephony online.</p>
          <p i18n>You can easily perform data operations. without leaving home. This can be done from anywhere in the world with Internet access.</p>
          <div class="table-responsive">
            <table class="table table-striped hide">
              <tbody><tr>
                <th i18n>Bills</th>
                <th i18n>Commission</th>
              </tr>
              <tr>
                <td>ADSL</td>
                <td>1%</td>
              </tr>
              <tr>
                <td>TTNet</td>
                <td>2%</td>
              </tr>
              </tbody></table>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>

<home-footer-component></home-footer-component>
