<header class="inner-head">

  <home-header-component></home-header-component>

  <div class="head-banner" style="background-image: url(assets/img/tv.jpg);">
    <div class="container">
      <div class="row">
        <div class="col-md-7">
          <div class="head-banner-info">
            <h1>Pay online  for TV,<br class="hidden-sm hidden-xs"> internet, telephone -<br class="hidden-sm hidden-xs"><small>easily and comfortably, without leaving your home!</small></h1>
          </div>
        </div>
        <div class="col-md-5"></div>
      </div>
    </div>
  </div>

</header>

<div class="main">
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <h1 class="page-title"><small>Service payment for Internet, television, telephones
        </small></h1>
        <div class="main-text">
          <p> MoneyFGE payment system provides payment services for Internet, TV and telephony online.
          </p>
          <p> You can easily perform data operations. without leaving home. This can be done from anywhere in the world with Internet access.
          </p>
          <div class="table-responsive">
            <table class="table table-striped hide">
              <tbody><tr>
                <th> Bills</th>
                <th>Commission</th>
              </tr>
              <tr>
                <td>ADSL</td>
                <td>1%</td>
              </tr>
              <tr>
                <td>TTNet</td>
                <td>2%</td>
              </tr>
              </tbody></table>
          </div>

        </div>
      </div>


      <div class="col-md-4">
        <div class="aside">
          <!--        <h2 class="page-subtitle">--><!--?//= Yii::t('frontend', 'У Вас есть вопросы?') ?--><!--</h2>-->
          <!--        <div class="btns-group">-->
          <!--            <button type="button" class="btn btn-fill" data-toggle="modal" data-target="#exampleModal" data-whatever="@mdo"><i class="icon-phone-white"></i>--><!--?//= Yii::t('frontend', 'Бесплатный звонок') ?--><!--</button>-->
          <!--            <button type="button" class="btn btn-fill" data-toggle="modal" data-target="#exampleModal1" data-whatever="@mdo"><i class="icon-mail-white"></i>--><!--?//= Yii::t('frontend', 'Электронная почта') ?--><!--</button>-->
          <!--        </div>-->
          <!--<div class="block-item image" style="background-image: url(/img/block-item-bg.jpg);"><a href="#"></a></div>-->
        </div>
      </div>

    </div>
  </div>
</div>

<home-footer-component></home-footer-component>
