<business-header-component></business-header-component>

<section class="main-sect sect-grey">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <h2 class="sect-title">Do not waste time standing in line <br> pay online <span> MoneyFGE</span></h2>
      </div>
    </div>
    <div class="row">
      <div class="advant-blocks clearfix">
        <div class="col-md-3 col-sm-6">
          <div class="adv-block-wrap">
            <a href="#" class="adv-block clearfix">
              <div class="icon-wrap"><img src="/assets/new_assets/img/adv-icon-1.png" alt="Advantage"></div>
              <div class="text-wrap">
                <h5 class="adv-block-title">Add mobile</h5>
                <ul class="adv-block-list">
                  <li>Life</li>
                  <li>Kyivstar</li>
                  <li>Vodafone</li>
                </ul>
              </div>
            </a>
          </div>
        </div>
        <div class="col-md-3 col-sm-6">
          <div class="adv-block-wrap">
            <a href="#" class="adv-block clearfix">
              <div class="icon-wrap"><img src="/assets/new_assets/img/adv-icon-2.png" alt="Advantage"></div>
              <div class="text-wrap">
                <h5 class="adv-block-title">Add mobile</h5>
                <ul class="adv-block-list">
                  <li>Life</li>
                  <li>Kyivstar</li>
                  <li>Vodafone</li>
                </ul>
              </div>
            </a>
          </div>
        </div>
        <div class="col-md-3 col-sm-6">
          <div class="adv-block-wrap">
            <a href="#" class="adv-block clearfix">
              <div class="icon-wrap"><img src="/assets/new_assets/img/adv-icon-3.png" alt="Advantage"></div>
              <div class="text-wrap">
                <h5 class="adv-block-title">Add mobile</h5>
                <ul class="adv-block-list">
                  <li>Life</li>
                  <li>Kyivstar</li>
                  <li>Vodafone</li>
                </ul>
              </div>
            </a>
          </div>
        </div>
        <div class="col-md-3 col-sm-6">
          <div class="adv-block-wrap">
            <a href="#" class="adv-block clearfix">
              <div class="icon-wrap"><img src="/assets/new_assets/img/adv-icon-4.png" alt="Advantage"></div>
              <div class="text-wrap">
                <h5 class="adv-block-title">Add mobile</h5>
                <ul class="adv-block-list">
                  <li>Life</li>
                  <li>Kyivstar</li>
                  <li>Vodafone</li>
                </ul>
              </div>
            </a>
          </div>
        </div>
        <div class="col-md-3 col-sm-6">
          <div class="adv-block-wrap">
            <a href="#" class="adv-block clearfix">
              <div class="icon-wrap"><img src="/assets/new_assets/img/adv-icon-5.png" alt="Advantage"></div>
              <div class="text-wrap">
                <h5 class="adv-block-title">Add mobile</h5>
                <ul class="adv-block-list">
                  <li>Life</li>
                  <li>Kyivstar</li>
                  <li>Vodafone</li>
                </ul>
              </div>
            </a>
          </div>
        </div>
        <div class="col-md-3 col-sm-6">
          <div class="adv-block-wrap">
            <a href="#" class="adv-block clearfix">
              <div class="icon-wrap"><img src="/assets/new_assets/img/adv-icon-6.png" alt="Advantage"></div>
              <div class="text-wrap">
                <h5 class="adv-block-title">Add mobile</h5>
                <ul class="adv-block-list">
                  <li>Life</li>
                  <li>Kyivstar</li>
                  <li>Vodafone</li>
                </ul>
              </div>
            </a>
          </div>
        </div>
        <div class="col-md-3 col-sm-6">
          <div class="adv-block-wrap">
            <a href="#" class="adv-block clearfix">
              <div class="icon-wrap"><img src="/assets/new_assets/img/ikon_2.png" alt="Advantage"></div>
              <div class="text-wrap">
                <h5 class="adv-block-title">Add mobile</h5>
                <ul class="adv-block-list">
                  <li>Life</li>
                  <li>Kyivstar</li>
                  <li>Vodafone</li>
                </ul>
              </div>
            </a>
          </div>
        </div>
        <div class="col-md-3 col-sm-6">
          <div class="adv-block-wrap">
            <a href="#" class="adv-block clearfix">
              <div class="icon-wrap"><img src="/assets/new_assets/img/adv-icon-8.png" alt="Advantage"></div>
              <div class="text-wrap">
                <h5 class="adv-block-title">Add mobile</h5>
                <ul class="adv-block-list">
                  <li>Life</li>
                  <li>Kyivstar</li>
                  <li>Vodafone</li>
                </ul>
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="main-sect">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <h2 class="sect-title">Instant online transfers</h2>
      </div>
    </div>
    <div class="row">
      <div class="advant-blocks clearfix">
        <div class="col-md-2 col-sm-4">
          <div class="adv-block-wrap">
            <a href="#" class="adv-block adv-block-vertical clearfix">
              <div class="icon-wrap"><img src="/assets/new_assets/img/adv-vert-icon-1.png" alt="Advantage"></div>
              <div class="text-wrap">
                <h5 class="adv-block-title">Transfer from card to card</h5>
              </div>
            </a>
          </div>
        </div>
        <div class="col-md-2 col-sm-4">
          <div class="adv-block-wrap">
            <a href="#" class="adv-block adv-block-vertical clearfix">
              <div class="icon-wrap"><img src="/assets/new_assets/img/adv-vert-icon-2.png" alt="Advantage"></div>
              <div class="text-wrap">
                <h5 class="adv-block-title">Transfer from card to card</h5>
              </div>
            </a>
          </div>
        </div>
        <div class="col-md-2 col-sm-4">
          <div class="adv-block-wrap">
            <a href="#" class="adv-block adv-block-vertical clearfix">
              <div class="icon-wrap"><img src="/assets/new_assets/img/adv-vert-icon-3.png" alt="Advantage"></div>
              <div class="text-wrap">
                <h5 class="adv-block-title">Transfer from card to card</h5>
              </div>
            </a>
          </div>
        </div>
        <div class="col-md-2 col-sm-4">
          <div class="adv-block-wrap">
            <a href="#" class="adv-block adv-block-vertical clearfix">
              <div class="icon-wrap"><img src="/assets/new_assets/img/adv-vert-icon-4.png" alt="Advantage"></div>
              <div class="text-wrap">
                <h5 class="adv-block-title">Transfer from card to card</h5>
              </div>
            </a>
          </div>
        </div>
        <div class="col-md-2 col-sm-4">
          <div class="adv-block-wrap">
            <a href="#" class="adv-block adv-block-vertical clearfix">
              <div class="icon-wrap"><img src="/assets/new_assets/img/adv-vert-icon-5.png" alt="Advantage"></div>
              <div class="text-wrap">
                <h5 class="adv-block-title">Transfer from card to card</h5>
              </div>
            </a>
          </div>
        </div>
        <div class="col-md-2 col-sm-4">
          <div class="adv-block-wrap">
            <a href="#" class="adv-block adv-block-vertical clearfix">
              <div class="icon-wrap"><img src="/assets/new_assets/img/adv-vert-icon-6.png" alt="Advantage"></div>
              <div class="text-wrap">
                <h5 class="adv-block-title">Transfer from card to card</h5>
              </div>
            </a>
          </div>
        </div>

      </div>
    </div>
  </div>
</section>

<news-component></news-component>

<footer-component></footer-component>
