<simple-header-component></simple-header-component>

<section class="main-sect sect-grey page-content">
  <div class="head-banner" style="background-image: url(/assets/new_assets/img/about.jpg);height:300px;">
    <div class="container">
      <h1 class="big_text" i18n>Do a quick easy <br /> online payments</h1>
    </div>
  </div>

  <div class="main">
    <div class="container">
      <div class="row">
        <div class="col-md-8">
          <h1 class="page-title"><small i18n>About the company</small></h1>
          <div class="main-text">
            <p i18n>MoneyFGE is a  reliable, safe and modern internet platform to make online payments and money transfers.</p>
            <p i18n>Our system is a universal payment tool that allows you to  transfer money  to and from your clients and pay for different services in different directions.</p>
            <p i18n>With MoneyFGE is the rapid transfer of funds.</p>
            <p i18n>Our service is a convenient and easy platform for the transfer of funds to various popular payment methods and various services, including bank cards, mobile and online payments, utilities, repayment of loans, pay for games and entertainment, and more. All this can be done from anywhere in the world.</p>
            <p i18n>All payment data in our system  is confidential.</p>
            <p i18n>MoneyFGE offers the most favorable terms to its customers and is a handy assistant payments to your business.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<footer-component></footer-component>
