<header class="inner-head">

  <home-header-component></home-header-component>

  <div class="head-banner" style="background-image: url(assets/img/game.jpg);">
    <div class="container">
      <div class="row">
        <div class="col-md-7">
          <div class="head-banner-info">
            <h1 i18n>Game payments quickly and easily with MoneyFGE</h1>
              <!--<h1><span i18n>Game payments</span><br class="hidden-sm hidden-xs"><small i18n>quickly and easily with MoneyFGE</small></h1>-->
              <small>
          </small></div><small>
        </small></div><small>
        <div class="col-md-5"></div>
      </small></div><small>
    </small></div><small>
  </small></div>

</header>
<small>
<div class="main">
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <h1 class="page-title" i18n>Games, Entertainment</h1>
        <div class="main-text">
          <p i18n>MoneyFGE provides services to pay for different types of games and entertainment.</p>
          <p i18n>Payment for games and entertainment will take very little time to put money into the account can be done  from the computer and at any convenient time of the day or night. You can pay with us all the most popular online games.</p>
          <p i18n>For example:</p>
          <ul class="block-item-list">
            <li>Steam</li>
            <li>World of Tanks;</li>
            <li>World of Warships</li>
            <li>Tanks Online</li>
            <li>Warface</li>
            <li>Perfect World</li>
          </ul>
          <div class="table-responsive">
            <table class="table table-striped hide">
              <tbody><tr>
                <th i18n>Game</th>
                <th i18n>Commission</th>
              </tr>
              <tr>
                <td>Steam</td>
                <td>1%</td>
              </tr>
              <tr>
                <td>World of Warships</td>
                <td>2%</td>
              </tr>
              <tr>
                <td>Tanks Online</td>
                <td>3%</td>
              </tr>
              <tr>
                <td>Warface</td>
                <td>2%</td>
              </tr>
              <tr>
                <td>Perfect World</td>
                <td>1%</td>
              </tr>
              </tbody></table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</small>
<home-footer-component></home-footer-component>
