<simple-header-component></simple-header-component>

<section class="main-sect sect-grey page-content">

  <div id="bg-vacancies">
    <div class="col-xs-12">
      <div class="margin-top-x2">
        <h1 class="big_text text-center">FIND WORK <br> YOUR DREAMS</h1>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="page-content-heading">
      <div class="row">
        <div class="col-xs-12">
          <ul class="breadcrumbs">
            <li><a [routerLink]="['']">Main</a></li>
            <li><a href="#" (click)="false">Jobs</a></li>
          </ul>
        </div>
        <div class="col-xs-12">
          <h1 class="page-title">Jobs</h1>
        </div>

        <div class="advant-blocks clearfix">
          <div class="col-md-4 col-sm-4 col-xs-12">
            <div class="adv-block-wrap">
              <a href="#" (click)="false" class="adv-block adv-block-div clearfix">
                <div class="icon-wrap vacancies-icon"><img src="/assets/new_assets/img/zarplata.png" alt="Advantage"></div>
                <div class="text-wrap vacancies-text">
                  <h5 class="adv-block-title vac-text">High <br> salary</h5>
                </div>
              </a>
            </div>
          </div>
          <div class="col-md-4 col-sm-4 col-xs-12">
            <div class="adv-block-wrap">
              <a href="#" (click)="false" class="adv-block adv-block-div clearfix">
                <div class="icon-wrap vacancies-icon"><img src="/assets/new_assets/img/rost.png" alt="Advantage"></div>
                <div class="text-wrap vacancies-text">
                  <h5 class="adv-block-title vac-text">Career <br> growth</h5>
                </div>
              </a>
            </div>
          </div>
          <div class="col-md-4 col-sm-4 col-xs-12">
            <div class="adv-block-wrap">
              <a href="#" (click)="false" class="adv-block adv-block-div clearfix">
                <div class="icon-wrap vacancies-icon"><img src="/assets/new_assets/img/prof.png" alt="Advantage"></div>
                <div class="text-wrap vacancies-text">
                  <h5 class="adv-block-title vac-text">Professionalism</h5>
                </div>
              </a>
            </div>
          </div>
        </div>
        <div class="col-xs-12">
          <article>
            <div class="article-text">
              <p>MoneyFGE is a reliable, safe and modern internet platform to make online payments and money transfers. Our system is a universal payment tool that allows you to transfer money to and from your clients and pay for different services in different directions. With MoneyFGE is the rapid transfer of funds.</p>
              <p>
                Our service is a convenient and easy platform for the transfer of funds to various popular payment methods and various services, including bank cards, mobile and online payments, utilities, repayment of loans, pay for games and entertainment, and more. All this can be done from anywhere in the world.
              </p>
            </div>
          </article>
        </div>

        <div class="row">
          <ul id="vacancies-list">
            <li>
              <div class="col-md-3 col-sm-3 col-xs-6 vacancies-list-item"><a href="#" (click)="false" class="name-vacancies"><span>1 </span><span class="number-vacancies">Front-end Angular 2</span></a></div>
              <div class="col-md-3 col-sm-3 col-xs-6 vacancies-list-item"><span class="vacancies-list-text">Software Engeneering</span></div>
              <div class="col-md-3 col-sm-3 col-xs-6 vacancies-list-item"><span class="vacancies-list-text">San Francisco, CA, USA</span></div>
              <div class="col-md-3 col-sm-3 col-xs-6 vacancies-list-item"><a href="#" (click)="false" class="send-cv">To send a resume</a></div>
            </li>

            <li>
              <div class="col-md-3 col-sm-3 col-xs-6 vacancies-list-item"><a href="#" (click)="false" class="name-vacancies"><span>2 </span><span class="number-vacancies">Front-end Angular 2</span></a></div>
              <div class="col-md-3 col-sm-3 col-xs-6 vacancies-list-item"><span class="vacancies-list-text">Software Engeneering</span></div>
              <div class="col-md-3 col-sm-3 col-xs-6 vacancies-list-item"><span class="vacancies-list-text">San Francisco, CA, USA</span></div>
              <div class="col-md-3 col-sm-3 col-xs-6 vacancies-list-item"><a href="#" (click)="false" class="send-cv">To send a resume</a></div>
            </li>
            <li>
              <div class="col-md-3 col-sm-3 col-xs-6 vacancies-list-item"><a href="#" (click)="false" class="name-vacancies"><span>3 </span><span class="number-vacancies">Front-end Angular 2</span></a></div>
              <div class="col-md-3 col-sm-3 col-xs-6 vacancies-list-item"><span class="vacancies-list-text">Software Engeneering</span></div>
              <div class="col-md-3 col-sm-3 col-xs-6 vacancies-list-item"><span class="vacancies-list-text">San Francisco, CA, USA</span></div>
              <div class="col-md-3 col-sm-3 col-xs-6 vacancies-list-item"><a href="#" (click)="false" class="send-cv">To send a resume</a></div>
            </li>
            <li>
              <div class="col-md-3 col-sm-3 col-xs-6 vacancies-list-item"><a href="#" (click)="false" class="name-vacancies"><span>4 </span><span class="number-vacancies">Front-end Angular 2</span></a></div>
              <div class="col-md-3 col-sm-3 col-xs-6 vacancies-list-item"><span class="vacancies-list-text">Software Engeneering</span></div>
              <div class="col-md-3 col-sm-3 col-xs-6 vacancies-list-item"><span class="vacancies-list-text">San Francisco, CA, USA</span></div>
              <div class="col-md-3 col-sm-3 col-xs-6 vacancies-list-item"><a href="#" (click)="false" class="send-cv">To send a resume</a></div>
            </li>
          </ul>
        </div>
      </div>
    </div>

  </div>
</section>

<footer-component></footer-component>
