<private-header-component></private-header-component>

<div class="first_block">
  <div class="container">
    <div class="sect_head col-lg-12">With <span>MoneyFGE</span> you can</div>
    <div class="can_g_block col-lg-12">
      <div class="can_block col-md-4">
        <img src="/assets/new_assets/img/icon_can_1.png" alt="">
        <span>Easeli and fast transfer money</span>
      </div>
      <div class="can_block col-md-4">
        <img src="/assets/new_assets/img/icon_can_2.png" alt="">
        <span>Pay for internet shopping</span>
      </div>
      <div class="can_block col-md-4">
        <img src="/assets/new_assets/img/icon_can_3.png" alt="">
        <span>Many ways to plant and withdrawals</span>
      </div>

    </div>
    <div class="col-lg-12">
      <div class="text_midle_block">
        ...and much more
      </div>
    </div>
    <div class="col-lg-12">
      <div class="border_block">
        <a href="#" class="start_now_btn">Start now</a>
      </div>
    </div>
  </div>
</div>
<div class="second_block">
  <div class="container">
    <div class="row">
      <div class="col-md-10 col-md-offset-1">
        <h2 class="sect_head col-lg-12">Send and receive<br> more than <span>50</span> methods</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <div class="col-lg-2 col-md-3 col-sm-6">
          <img src="/assets/new_assets/img/icon_visa.png" alt="">
        </div>
        <div class="col-lg-2 col-md-3 col-sm-6">
          <img src="/assets/new_assets/img/icon_master.png" alt="">
        </div>
        <div class="col-lg-2 col-md-3 col-sm-6">
          <img src="/assets/new_assets/img/akbank.png" alt="">
        </div>
        <div class="col-lg-2 col-md-3 col-sm-6">
          <img src="/assets/new_assets/img/denizbank.png" alt="">
        </div>
        <div class="col-lg-2 col-md-3 col-sm-6">
          <img src="/assets/new_assets/img/finans bank.png" alt="">
        </div>
        <div class="col-lg-2 col-md-3 col-sm-6">
          <img src="/assets/new_assets/img/garanti.png" alt="">
        </div>
      </div>
      <div class="col-lg-12">
        <div class="col-lg-2 col-md-3 col-sm-6">
          <img src="/assets/new_assets/img/halkbank.png" alt="">
        </div>
        <div class="col-lg-2 col-md-3 col-sm-6">
          <img src="/assets/new_assets/img/ing bank.png" alt="">
        </div>
        <div class="col-lg-2 col-md-3 col-sm-6">
          <img src="/assets/new_assets/img/turkiye.png" alt="">
        </div>
        <div class="col-lg-2 col-md-3 col-sm-6">
          <img src="/assets/new_assets/img/vaki.png" alt="">
        </div>
        <div class="col-lg-2 col-md-3 col-sm-6">
          <img src="/assets/new_assets/img/yapikredi.png" alt="">
        </div>
        <div class="col-lg-2 col-md-3 col-sm-6">
          <img src="/assets/new_assets/img/teb.png" alt="">
        </div>
      </div>
    </div>
  </div>
</div>

<div style="margin-top: 90px;">
  <news-component></news-component>
</div>

<footer-component></footer-component>
