<new-cabinet-header-component></new-cabinet-header-component>

<section class="sect-grey padding-small">
    <div class="container">
        <div class="row">
            <div class="col-md-9 centered col-xs-12">
                <div class="dashboard-main-content">

                    <div class="clearfix"></div>
                    <money-course-component></money-course-component>

                    <div class="fl-right">
                        <ul class="breadcrumbs">
                            <li><a [routerLink]="['/user/dashboard']">Main</a></li>
                            <li><a (click)="false" href="#">Refill</a></li>
                        </ul>
                    </div>

                    <form class="transfer-form cash-in">
                        <div class="card card--lightgrey">
                            <p class="select-label">Select method</p>
                            <select class="select-medium transfer-select custom">
                                <option value="visa" selected>VISA</option>
                                <option value="mastercard">MASTERCARD</option>
                                <option value="visa">PAYPAL</option>
                            </select>
                            <p class="select-label">Choose account</p>
                            <loader-component #accountLoader>
                                <select class="select-medium transfer-select bill" (change)="onToChange($event.target.value)">
                                    <option></option>
                                    <option *ngFor="let acc of activeAccounts" value="{{acc.id}}">MoneyFGE {{acc.sum}} {{acc.currency}}</option>
                                </select>
                            </loader-component>
                        </div>

                        <div class="card card--darkgrey">
                            <div class="row">
                                <div class="col-sm-6">
                                    <p class="select-label">Sum to refill</p>
                                    <input type="number" class="input-medium input-small-width" placeholder="0.00" required (keyup)="onSumChange($event.target.value)">
                                    <span class="form-info-summa">$</span>
                                    <p class="select-label">To pay</p>
                                    <input type="text" class="input-medium input-small-width" disabled placeholder="{{sumToPay}}$">
                                    <span class="form-info">Including <br>bank fee 5%</span>
                                    <div class="clearfix"></div>
                                    <button class="btn-image"><img src="/assets/new_assets/img/visa-checkout.png" alt="Checkout"></button>
                                </div>
                            </div>
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div>
</section>

<footer-component></footer-component>