<new-cabinet-header-component></new-cabinet-header-component>

<section class="sect-grey padding-small">
    <div class="container">
        <div class="row">
            <div class="col-md-9 centered col-xs-12">
                <div class="dashboard-main-content">

                    <div class="clearfix"></div>
                    <div class="money-course">
                        <p>
                            Exchange rate:
                            <span>$: 26.400 / 27.248</span>
                            <span>€:  27.80 / 28.41</span>
                        </p>
                    </div>
                    <div class="fl-right">
                        <ul class="breadcrumbs">
                            <li><a href="#">Main</a></li>
                            <li><a href="#">Transfers</a></li>
                        </ul>
                    </div>

                    <h2 class="dashboard-page-title">Transfers</h2>

                    <form class="transfer-form">
                        <div class="card card--lightgrey">
                            <p class="select-label">From account</p>
                            <select class="select-medium transfer-select">
                                <option value="1" selected>My MoneyFGA &nbsp;&nbsp; 0,000 USD</option>
                                <option value="2">My MoneyFGA &nbsp;&nbsp; 0,000 RUB</option>
                                <option value="3">My MoneyFGA &nbsp;&nbsp; 0,000 UAH</option>
                            </select>
                            <p class="select-label">On account</p>
                            <select class="select-medium transfer-select">
                                <option value="1" selected>My MoneyFGA &nbsp;&nbsp; 0,000 USD</option>
                                <option value="2">My MoneyFGA &nbsp;&nbsp; 0,000 RUB</option>
                                <option value="3">My MoneyFGA &nbsp;&nbsp; 0,000 UAH</option>
                            </select>
                        </div>

                        <div class="card card--darkgrey">
                            <div class="row">
                                <div class="col-sm-6">
                                    <p class="select-label">Ammount of payments</p>
                                    <input type="number" class="input-medium input-small-width" placeholder="0, 000">
                                    <span class="form-info-summa">$</span>
                                    <p class="select-label">To payment</p>
                                    <input type="text" class="input-medium input-small-width" disabled placeholder="0, 000 $">
                                    <span class="form-info">Considering <br>bank commission 5%</span>
                                    <div class="clearfix"></div>
                                    <button class="btn btn-medium btn-accent">Continue</button>
                                </div>
                                <div class="col-sm-6">
                                    <p class="select-label grey">Add comment</p>
                                    <textarea></textarea>
                                </div>
                            </div>
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div>
</section>

<footer-component></footer-component>