<div class="content sidebar-r">
    <div class="container">
        <div class="row">
            <div class="xs-flex-box">
    <div class="col-lg-9 col-xs-12">
        <div class="main">
            <div class="block-header">
                <h3>Transfers
</h3>
            </div>
            <div class="two-col-blocks">
                <div class="row">
                    <div class="col-lg-4">
                        <div class="info-block-main perevod">
                            <div class="info-block-main-icon"><img src="/assets/img/icon-9.png" alt="Icon"></div>
                            <div class="info-block-main-title"><a href="/site/under-construct" class="under-construction">
                                    <h4>Transfers between accounts</h4></a></div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="info-block-main perevod">
                            <div class="info-block-main-icon"><img src="/assets/img/icon-10.png" alt="Icon"></div>
                            <div class="info-block-main-title">
                                <a class="under-construction" href="/en/user/cabinet/transfer-card"><h4>Into the bank account
</h4></a>                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="info-block-main perevod">
                            <div class="info-block-main-icon"><img src="/assets/img/icon-11.png" alt="Icon"></div>
                            <div class="info-block-main-title"><a href="/site/under-construct" class="under-construction">
                                    <h4>Money transfer system</h4></a></div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="block-header">
                <h3>News</h3>
                <a href="/site/under-construct" class="flright under-construction">All news</a>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-xs-12">
        <div class="aside">

            <div class="info-block widget">
                <div class="block-header">
                    <h3>Other services</h3>
                </div>
                <div class="info-block-content">
                    <ul class="links-list">
                        <li><a href="/site/under-construct" class="under-construction">Mobile payments</a></li>
                        <li><a href="/site/under-construct" class="under-construction">Money transfer</a></li>
                        <li><a href="/site/under-construct" class="under-construction">Credit payments</a></li>
                        <li><a href="/site/under-construct" class="under-construction">Games/Entertainment</a></li>
                        <li><a href="/site/under-construct" class="under-construction">Internet / TV / Telephone</a></li>
                        <li><a href="/site/under-construct" class="under-construction">Online payments</a></li>
                        <li><a href="/site/under-construct" class="under-construction">Bills</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>        </div>
    </div>
</div>
