<cabinet-header-component></cabinet-header-component>

<div class="container">
  <div class="row">
    <div class="col-md-6"></div>
    <div class="col-md-6 col-xs-12">
      <ul class="courses">
        <li><span>USD:</span> 25.7/26.0 </li>
        <li><span>EUR:</span> 29.60/30.03 </li>
        <li><span>EUR:</span> 29.60/30.03 </li>
      </ul>
    </div>
  </div>
</div>


<div class="content sidebar-r">
  <div class="container">
    <div class="row">
      <div class="col-lg-9 col-xs-12">
        <div class="main">
          <div class="block-header" >
            <h3 style="margin-top: 12px;">Popular categories</h3>
            <a href="#" class="flright">All categories</a>
          </div>
          <div class="info-block-main">
            <div class="info-block-main-icon"><img src="assets/img/icon-1.png" alt="Icon"></div>
            <div class="info-block-main-title"><a href="#"><h4>Mobile payments</h4></a></div>
            <div class="info-block-main-cats">
              <ul>
                <li><a href="#"><img src="assets/img/logo-mobile-1.png" alt="Logo"></a></li>
                <li><a href="#"><img src="assets/img/logo-mobile-2.png" alt="Logo"></a></li>
                <li><a href="#"><img src="assets/img/logo-mobile-3.png" alt="Logo"></a></li>
                <li><a href="#"><img src="assets/img/logo-mobile-2.png" alt="Logo"></a></li>
                <li><a href="#"><img src="assets/img/logo-mobile-1.png" alt="Logo"></a></li>
              </ul>
            </div>
            <div class="info-block-main-link"><a href="#" class="btn btn-main">Additional  options</a></div>
          </div>
          <div class="info-block-main">
            <div class="info-block-main-icon"><img src="assets/img/icon-2.png" alt="Icon"></div>
            <div class="info-block-main-title"><a href="#"><h4>Money transfer</h4></a></div>
            <div class="info-block-main-cats">
              <ul>
                <li><a href="#"><img src="assets/img/icon-pay-1.png" alt="Logo"></a></li>
                <li><a href="#"><img src="assets/img/icon-pay-2.png" alt="Logo"></a></li>
                <li><a href="#"><img src="assets/img/icon-pay-3.png" alt="Logo"></a></li>
                <li><a href="#"><img src="assets/img/icon-pay-4.png" alt="Logo"></a></li>
                <li><a href="#"><img src="assets/img/icon-pay-5.png" alt="Logo"></a></li>
              </ul>
            </div>
            <div class="info-block-main-link"><a href="#" class="btn btn-main">Additional  options</a></div>
          </div>
          <div class="info-block-main">
            <div class="info-block-main-icon"><img src="assets/img/icon-3.png" alt="Icon"></div>
            <div class="info-block-main-title"><a href="#"><h4>Credit payments</h4></a></div>
            <div class="info-block-main-cats">
              <ul>
                <li><a href="#"><img src="assets/img/icon-bank-1.png" alt="Logo"></a></li>
                <li><a href="#"><img src="assets/img/icon-bank-2.png" alt="Logo"></a></li>
                <li><a href="#"><img src="assets/img/icon-bank-3.png" alt="Logo"></a></li>
                <li><a href="#"><img src="assets/img/icon-bank-4.png" alt="Logo"></a></li>
                <li><a href="#"><img src="assets/img/icon-bank-5.png" alt="Logo"></a></li>
              </ul>
            </div>
            <div class="info-block-main-link"><a href="#" class="btn btn-main">Additional  options</a></div>
          </div>
          <div class="info-block-main mb30">
            <div class="info-block-main-icon"><img src="assets/img/icon-4.png" alt="Icon"></div>
            <div class="info-block-main-title"><a href="#"><h4>Games / Entertainment</h4></a></div>
            <div class="info-block-main-cats">
              <ul>
                <li><a href="#"><img src="assets/img/icon-play-1.png" alt="Logo"></a></li>
                <li><a href="#"><img src="assets/img/icon-play-2.png" alt="Logo"></a></li>
                <li><a href="#"><img src="assets/img/icon-play-3.png" alt="Logo"></a></li>
                <li><a href="#"><img src="assets/img/icon-play-4.png" alt="Logo"></a></li>
                <li><a href="#"><img src="assets/img/icon-play-5.png" alt="Logo"></a></li>
              </ul>
            </div>
            <div class="info-block-main-link"><a href="#" class="btn btn-main">Additional  options</a></div>
          </div>

          <div class="block-header">
            <h3 style="margin-top: 15px;">Making purchases / payments with MONEYFGE you get back up to 30% on your account</h3>
            <a href="#" class="flright">All partners</a>
          </div>

          <div class="info-block-cashebacks mb30">
            <ul class="clearfix">
              <li>
                <a href="#">
                  <div class="casheback-logo"><img src="assets/img/logo-big-1.png" alt="Logo"></div>
                  <h4 class="casheback-title">IC Hotels</h4>
                  <p class="casheback-info">We offer you <span class="accent-color">to 20%</span> <i class="fa fa-info-circle" tabindex="0" data-toggle="popover" data-trigger="hover"></i></p>
                </a>
              </li>
              <li>
                <a href="#">
                  <div class="casheback-logo"><img src="assets/img/logo-mobile-1.png" alt="Logo"></div>
                  <h4 class="casheback-title">Turcell</h4>
                  <p class="casheback-info">We offer you <span class="accent-color">to 20%</span> <i class="fa fa-info-circle"></i></p>
                </a>
              </li>
              <li>
                <a href="#" class="casheback-link">
                  <div class="casheback-logo"><img src="assets/img/logo-mobile-3.png" alt="Logo"></div>
                  <h4 class="casheback-title">AVEA</h4>
                  <p class="casheback-info">We offer you <span class="accent-color">to 20%</span> <i class="fa fa-info-circle"></i></p>
                </a>
              </li>
              <li>
                <a href="#" class="casheback-link">
                  <div class="casheback-logo"><img src="assets/img/logo-mobile-1.png" alt="Logo"></div>
                  <h4 class="casheback-title">Turcell</h4>
                  <p class="casheback-info">We offer you <span class="accent-color">to 20%</span> <i class="fa fa-info-circle"></i></p>
                </a>
              </li>
              <li>
                <a href="#" class="casheback-link">
                  <div class="casheback-logo"><img src="assets/img/logo-cashback-2.jpg" alt="Logo"></div>
                  <h4 class="casheback-title">IATA</h4>
                  <p class="casheback-info">We offer you <span class="accent-color">to 20%</span> <i class="fa fa-info-circle"></i></p>
                </a>
              </li>
              <li>
                <a href="#" class="casheback-link">
                  <div class="casheback-logo"><img src="assets/img/logo-cashback-3.png" alt="Logo"></div>
                  <h4 class="casheback-title">Turcell</h4>
                  <p class="casheback-info">We offer you <span class="accent-color">to 20%</span> <i class="fa fa-info-circle"></i></p>
                </a>
              </li>
            </ul>
          </div>

          <div class="block-header">
            <h3>Archive transactions</h3>
            <a href="#" class="block-header-link">Go to archive</a>
            <div class="forms flright">
              <form class="block-header-search">
                <input type="text">
                <button>Search</button>
              </form>
              <form class="block-header-date">
                <input type="date" name="calendar" value="2016-09-20">
                <button>Show</button>
              </form>
            </div>
          </div>

          <!--<div class="info-block table-block mb30">-->
            <!--<div class="table">-->
              <!--<div class="table-row">-->
                <!--<div class="table-cell">Дата</div>-->
                <!--<div class="table-cell">Призначення платежа</div>-->
                <!--<div class="table-cell">Сумма</div>-->
                <!--<div class="table-cell">Статус</div>-->
                <!--<div class="table-cell"></div>-->
              <!--</div>-->
              <!--<div class="table-row">-->
                <!--<div class="table-cell">25.04.2016 <br class="hidden-xs">с 9:35</div>-->
                <!--<div class="table-cell">Переказ: <br class="hidden-xs">Сергій Остапенко</div>-->
                <!--<div class="table-cell">279 грн.</div>-->
                <!--<div class="table-cell">Виконано</div>-->
                <!--<div class="table-cell">-->
                  <!--<a href="#" class="btn btn-main btn-small">Повторить</a>-->
                  <!--<a href="#" class="btn btn-main btn-small">Отправить</a>-->
                  <!--<a href="#" class="btn btn-main btn-small">Распечатать квитанцию</a>-->
                  <!--<a href="#" class="btn btn-main btn-small">Детали</a>-->
                <!--</div>-->
              <!--</div>-->
              <!--<div class="table-row">-->
                <!--<div class="table-cell">25.04.2016 <br class="hidden-xs">с 9:35</div>-->
                <!--<div class="table-cell">Переказ: <br class="hidden-xs">Сергій Остапенко</div>-->
                <!--<div class="table-cell">279 грн.</div>-->
                <!--<div class="table-cell">Виконано</div>-->
                <!--<div class="table-cell">-->
                  <!--<a href="#" class="btn btn-main btn-small">Повторить</a>-->
                  <!--<a href="#" class="btn btn-main btn-small">Отправить</a>-->
                  <!--<a href="#" class="btn btn-main btn-small">Распечатать квитанцию</a>-->
                  <!--<a href="#" class="btn btn-main btn-small">Детали</a>-->
                <!--</div>-->
              <!--</div>-->
              <!--<div class="table-row">-->
                <!--<div class="table-cell">25.04.2016 <br class="hidden-xs">с 9:35</div>-->
                <!--<div class="table-cell">Переказ: <br class="hidden-xs">Сергій Остапенко</div>-->
                <!--<div class="table-cell">279 грн.</div>-->
                <!--<div class="table-cell">Виконано</div>-->
                <!--<div class="table-cell">-->
                  <!--<a href="#" class="btn btn-main btn-small">Повторить</a>-->
                  <!--<a href="#" class="btn btn-main btn-small">Отправить</a>-->
                  <!--<a href="#" class="btn btn-main btn-small">Распечатать квитанцию</a>-->
                  <!--<a href="#" class="btn btn-main btn-small">Детали</a>-->
                <!--</div>-->
              <!--</div>-->
            <!--</div>-->
            <!--<div class="table-block-info">-->
              <!--<div>-->
                <!--<p>Категория: <a href="#" class="accent-color">Коммунальные услуги</a></p>-->
                <!--<p>Карта MasterCard GOLD (*3595)</p>-->
              <!--</div>-->
              <!--<p class="flright">Чтобы не платить комиссии за снятие наличных и получать бонусы, расплачивайтесь карточкой в магазинах.</p>-->
            <!--</div>-->
          <!--</div>-->

          <div class="block-header">
            <h3 style="margin-top: 15px;">News</h3>
            <a href="#" class="flright">All news</a>
          </div>
          <!--<div class="main-blocks">-->
            <!--<div class="row">-->
              <!--<div class="col-lg-4">-->
                <!--<div class="info-block article">-->
                  <!--<h4 class="article-title">Пользователям Visa QIWI Walle на Java ME</h4>-->
                  <!--<p class="article-text">В разделе QIWI Bonus мы публикуем информацию о скидках онлайн-магазинов на одежду, технику, детские товары и многое другое.</p>-->
                <!--</div>-->
              <!--</div>-->
              <!--<div class="col-lg-4">-->
                <!--<div class="info-block article">-->
                  <!--<h4 class="article-title">Пользователям Visa QIWI Walle на Java ME</h4>-->
                  <!--<p class="article-text">В разделе QIWI Bonus мы публикуем информацию о скидках онлайн-магазинов на одежду, технику, детские товары и многое другое.</p>-->
                <!--</div>-->
              <!--</div>-->
              <!--<div class="col-lg-4">-->
                <!--<div class="info-block article">-->
                  <!--<h4 class="article-title">Пользователям Visa QIWI Walle на Java ME</h4>-->
                  <!--<p class="article-text">В разделе QIWI Bonus мы публикуем информацию о скидках онлайн-магазинов на одежду, технику, детские товары и многое другое.</p>-->
                <!--</div>-->
              <!--</div>-->
            <!--</div>-->
          <!--</div>-->
        </div>
      </div>
      <div class="col-lg-3 col-xs-12">
        <div class="aside">

          <div class="info-block widget">
            <div class="block-header">
              <h3>Transfers</h3>
              <div class="info-block-main-cats">
                <ul>
                  <li><a href="#"><img src="assets/img/logo-mobile-1.png" alt="Logo"></a></li>
                  <li><a href="#"><img src="assets/img/logo-mobile-2.png" alt="Logo"></a></li>
                  <li><a href="#"><img src="assets/img/logo-mobile-3.png" alt="Logo"></a></li>
                  <li><a href="#"><img src="assets/img/logo-mobile-2.png" alt="Logo"></a></li>
                  <li><a href="#"><img src="assets/img/logo-mobile-1.png" alt="Logo"></a></li>
                </ul>
              </div>
            </div>
            <div class="info-block-content">
              <form class="pay">
                <label>Enter the number <i class="fa fa-info-circle"></i></label>
                <input type="text" required>
                <label>Enter amount <i class="fa fa-info-circle"></i></label>
                <input type="text" required>
                <div class="checkbox checked-box">
                  <i class="fa fa-check">
                    <input type="checkbox" id="check1" checked="checked">
                  </i>
                </div>
                <label for="check1">Make regular</label>
                <button href="#" class="btn btn-accent">Replenish</button>
              </form>
              <div class="info-popover">
                <p>Commission: 2,5%</p>
                <p>Minimum payment: 10 TRY</p>
                <p>Maximum payment: 10000 TRY</p>
              </div>
            </div>
          </div>

          <div class="info-block widget">
            <div class="block-header" >
              <h3>Money transfer</h3>
              <div class="info-block-main-cats">
                <ul>
                  <li><a href="#"><img src="assets/img/icon-pay-4.png" alt="Logo"></a></li>
                  <li><a href="#"><img src="assets/img/icon-pay-3.png" alt="Logo"></a></li>
                  <li><a href="#"><img src="assets/img/icon-pay-5.png" alt="Logo"></a></li>
                  <li><a href="#"><img src="assets/img/icon-pay-1.png" alt="Logo"></a></li>
                </ul>
              </div>
            </div>
            <div class="info-block-content">
              <form class="pay">
                <label>Enter the number <i class="fa fa-info-circle"></i></label>
                <input type="text" required>
                <label>Enter amount<i class="fa fa-info-circle"></i></label>
                <input type="text" required>
                <div class="checkbox checked-box">
                  <i class="fa fa-check">
                    <input type="checkbox" id="check2" checked="checked">
                  </i>
                </div>
                <label for="check2">Make regular</label>
                <button href="#" class="btn btn-accent" >Money transfer</button>
              </form>
              <div class="info-popover">
                <p>Commission: 2,5%</p>
                <p>Minimum payment: 10 TRY</p>
                <p>Maximum amount: 10000 TRY</p>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>

<cabinet-footer-component></cabinet-footer-component>
