<div class="content sidebar-r">
  <div class="container">
    <div class="row">
      <div class="col-lg-9 col-xs-12">
        <div class="main">
          <div class="block-header" >
            <h3 style="margin-top: 12px;" i18n>Popular categories</h3>
            <a href="#" class="flright under-construction" i18n>All categories</a>
          </div>
          <div class="info-block-main">
            <div class="info-block-main-icon"><img src="assets/img/icon-1.png" alt="Icon"></div>
            <div class="info-block-main-title"><a class="under-construction" href="#"><h4 i18n>Mobile payments</h4></a></div>
            <div class="info-block-main-cats">
              <ul>
                <li><a class="under-construction" href="#"><img src="assets/img/logo-mobile-1.png" alt="Logo"></a></li>
                <li><a class="under-construction" href="#"><img src="assets/img/logo-mobile-2.png" alt="Logo"></a></li>
                <li><a class="under-construction" href="#"><img src="assets/img/logo-mobile-3.png" alt="Logo"></a></li>
                <li><a class="under-construction" href="#"><img src="assets/img/logo-mobile-2.png" alt="Logo"></a></li>
                <li><a class="under-construction" href="#"><img src="assets/img/logo-mobile-1.png" alt="Logo"></a></li>
              </ul>
            </div>
            <div class="info-block-main-link"><a href="#" class="btn btn-main under-construction" i18n>Additional options</a></div>
          </div>
          <div class="info-block-main">
            <div class="info-block-main-icon"><img src="assets/img/icon-2.png" alt="Icon"></div>
            <div class="info-block-main-title"><a class="under-construction" href="#"><h4 i18n>Money transfer</h4></a></div>
            <div class="info-block-main-cats">
              <ul>
                <li><a class="under-construction" href="#"><img src="assets/img/icon-pay-1.png" alt="Logo"></a></li>
                <li><a class="under-construction" href="#"><img src="assets/img/icon-pay-2.png" alt="Logo"></a></li>
                <li><a class="under-construction" href="#"><img src="assets/img/icon-pay-3.png" alt="Logo"></a></li>
                <li><a class="under-construction" href="#"><img src="assets/img/icon-pay-4.png" alt="Logo"></a></li>
                <li><a class="under-construction" href="#"><img src="assets/img/icon-pay-5.png" alt="Logo"></a></li>
              </ul>
            </div>
            <div class="info-block-main-link"><a href="#" class="btn btn-main under-construction" i18n>Additional options</a></div>
          </div>
          <div class="info-block-main">
            <div class="info-block-main-icon"><img src="assets/img/icon-3.png" alt="Icon"></div>
            <div class="info-block-main-title"><a class="under-construction" href="#"><h4 i18n>Credit payments</h4></a></div>
            <div class="info-block-main-cats">
              <ul>
                <li><a class="under-construction" href="#"><img src="assets/img/icon-bank-1.png" alt="Logo"></a></li>
                <li><a class="under-construction" href="#"><img src="assets/img/icon-bank-2.png" alt="Logo"></a></li>
                <li><a class="under-construction" href="#"><img src="assets/img/icon-bank-3.png" alt="Logo"></a></li>
                <li><a class="under-construction" href="#"><img src="assets/img/icon-bank-4.png" alt="Logo"></a></li>
                <li><a class="under-construction" href="#"><img src="assets/img/icon-bank-5.png" alt="Logo"></a></li>
              </ul>
            </div>
            <div class="info-block-main-link"><a href="#" class="btn btn-main under-construction" i18n>Additional options</a></div>
          </div>
          <div class="info-block-main mb30">
            <div class="info-block-main-icon"><img src="assets/img/icon-4.png" alt="Icon"></div>
            <div class="info-block-main-title"><a class="under-construction" href="#"><h4 i18n>Games / Entertainment</h4></a></div>
            <div class="info-block-main-cats">
              <ul>
                <li><a class="under-construction" href="#"><img src="assets/img/icon-play-1.png" alt="Logo"></a></li>
                <li><a class="under-construction" href="#"><img src="assets/img/icon-play-2.png" alt="Logo"></a></li>
                <li><a class="under-construction" href="#"><img src="assets/img/icon-play-3.png" alt="Logo"></a></li>
                <li><a class="under-construction" href="#"><img src="assets/img/icon-play-4.png" alt="Logo"></a></li>
                <li><a class="under-construction" href="#"><img src="assets/img/icon-play-5.png" alt="Logo"></a></li>
              </ul>
            </div>
            <div class="info-block-main-link"><a href="#" class="btn btn-main" i18n>Additional options</a></div>
          </div>

          <div class="block-header">
            <h3 style="margin-top: 15px;" i18n>Making purchases / payments with MONEYFGE you get back up to 30% on your account</h3>
            <a href="#" class="flright under-construction" i18n>All partners</a>
          </div>

          <div class="info-block-cashebacks mb30">
            <ul class="clearfix">
              <li>
                <a class="under-construction" href="#">
                  <div class="casheback-logo"><img src="assets/img/logo-big-1.png" alt="Logo"></div>
                  <h4 class="casheback-title">IC Hotels</h4>
                  <p class="casheback-info"><span i18n>We offer you</span> <span class="accent-color" i18n>to 20%</span> <i class="fa fa-info-circle" tabindex="0" data-toggle="popover" data-trigger="hover"></i></p>
                </a>
              </li>
              <li>
                <a class="under-construction" href="#">
                  <div class="casheback-logo"><img src="assets/img/logo-mobile-1.png" alt="Logo"></div>
                  <h4 class="casheback-title">Turcell</h4>
                  <p class="casheback-info"><span i18n>We offer you</span> <span class="accent-color" i18n>to 20%</span> <i class="fa fa-info-circle"></i></p>
                </a>
              </li>
              <li>
                <a href="#" class="casheback-link under-construction">
                  <div class="casheback-logo"><img src="assets/img/logo-mobile-3.png" alt="Logo"></div>
                  <h4 class="casheback-title">AVEA</h4>
                  <p class="casheback-info"><span i18n>We offer you</span> <span class="accent-color" i18n>to 20%</span> <i class="fa fa-info-circle"></i></p>
                </a>
              </li>
              <li>
                <a href="#" class="casheback-link under-construction">
                  <div class="casheback-logo"><img src="assets/img/logo-mobile-1.png" alt="Logo"></div>
                  <h4 class="casheback-title">Turcell</h4>
                  <p class="casheback-info"><span i18n>We offer you</span> <span class="accent-color" i18n>to 20%</span> <i class="fa fa-info-circle"></i></p>
                </a>
              </li>
              <li>
                <a href="#" class="casheback-link under-construction">
                  <div class="casheback-logo"><img src="assets/img/logo-cashback-2.jpg" alt="Logo"></div>
                  <h4 class="casheback-title">IATA</h4>
                  <p class="casheback-info"><span i18n>We offer you</span> <span class="accent-color" i18n>to 20%</span> <i class="fa fa-info-circle"></i></p>
                </a>
              </li>
              <li>
                <a href="#" class="casheback-link under-construction">
                  <div class="casheback-logo"><img src="assets/img/logo-cashback-3.png" alt="Logo"></div>
                  <h4 class="casheback-title">Turcell</h4>
                  <p class="casheback-info"><span i18n>We offer you</span> <span class="accent-color" i18n>to 20%</span> <i class="fa fa-info-circle"></i></p>
                </a>
              </li>
            </ul>
          </div>

          <div class="block-header">
            <h3 i18n>Archive transactions</h3>
            <a href="#" class="block-header-link under-construction" i18n>Go to archive</a>
            <div class="forms flright">
              <form class="block-header-search">
                <input type="text">
                <button i18n>Search</button>
              </form>
              <form class="block-header-date">
                <input type="date" name="calendar">
                <button i18n>Show</button>
              </form>
            </div>
          </div>
          <div class="block-header">
            <h3 style="margin-top: 15px;" i18n>News</h3>
            <a href="#" class="flright under-construction" i18n>All news</a>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-xs-12">
        <div class="aside">

          <div class="info-block widget">
            <div class="block-header">
              <h3 i18n>Transfers</h3>
              <div class="info-block-main-cats">
                <ul>
                  <li><a class="under-construction" href="#"><img src="assets/img/logo-mobile-1.png" alt="Logo"></a></li>
                  <li><a class="under-construction" href="#"><img src="assets/img/logo-mobile-2.png" alt="Logo"></a></li>
                  <li><a class="under-construction" href="#"><img src="assets/img/logo-mobile-3.png" alt="Logo"></a></li>
                  <li><a class="under-construction" href="#"><img src="assets/img/logo-mobile-2.png" alt="Logo"></a></li>
                  <li><a class="under-construction" href="#"><img src="assets/img/logo-mobile-1.png" alt="Logo"></a></li>
                </ul>
              </div>
            </div>
            <div class="info-block-content">
              <form class="pay">
                <label><span i18n>Enter the number</span> <i class="fa fa-info-circle"></i></label>
                <input type="text" required>
                <label><span i18n>Enter amount</span> <i class="fa fa-info-circle"></i></label>
                <input type="text" required>
                <div class="checkbox checked-box">
                  <i class="fa fa-check">
                    <input type="checkbox" id="check1" checked="checked">
                  </i>
                </div>
                <label for="check1" i18n>Make regular</label>
                <button class="under-construction" href="#" class="btn btn-accent" i18n>Replenish</button>
              </form>
              <div class="info-popover">
                <p i18n>Commission: 2,5%</p>
                <p i18n>Minimum payment: 10 TRY</p>
                <p i18n>Maximum payment: 10000 TRY</p>
              </div>
            </div>
          </div>

          <div class="info-block widget">
            <div class="block-header" >
              <h3 i18n>Money transfer</h3>
              <div class="info-block-main-cats">
                <ul>
                  <li><a class="under-construction" href="#"><img src="assets/img/icon-pay-4.png" alt="Logo"></a></li>
                  <li><a class="under-construction" href="#"><img src="assets/img/icon-pay-3.png" alt="Logo"></a></li>
                  <li><a class="under-construction" href="#"><img src="assets/img/icon-pay-5.png" alt="Logo"></a></li>
                  <li><a class="under-construction" href="#"><img src="assets/img/icon-pay-1.png" alt="Logo"></a></li>
                </ul>
              </div>
            </div>
            <div class="info-block-content">
              <form class="pay">
                <label><span i18n>Enter the number</span> <i class="fa fa-info-circle"></i></label>
                <input type="text" required>
                <label><span i18n>Enter amount</span> <i class="fa fa-info-circle"></i></label>
                <input type="text" required>
                <div class="checkbox checked-box">
                  <i class="fa fa-check">
                    <input type="checkbox" id="check2" checked="checked">
                  </i>
                </div>
                <label for="check2" i18n>Make regular</label>
                <button href="#" class="btn btn-accent" i18n>Money transfer</button>
              </form>
              <div class="info-popover">
                <p i18n>Commission: 2,5%</p>
                <p i18n>Minimum payment: 10 TRY</p>
                <p i18n>Maximum amount: 10000 TRY</p>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
