<div id="TermsPopup" class="white-popup mfp-hide">
  <h4 class="popup-title">Terms of the agreement</h4>
  <div class="popup-content-scroll">
    <p><b>MONEY FGE PAYMENT SYSTEM TERMS OF USE</b></p>
    <p>Any customer who opens an account within the Payment System MoneyFGE agrees and acknowledges that all services provided by MoneyFGE are subject to the terms of use set below and may be changed from time to time. Customers can ask questions that they do not understand or want more information by sending an email to info@moneyfge.com or calling the customer service at +0800 800 800 (may be subject to international quotation).</p>
    <ol class="text-justify list-terms">
      <li>
        <p><b> DEFINITONS AND EXPLANATIONS</b></p>
        <ul>
          <li>
            <p><b>1.1</b> The terms used in this agreement has the meaning set below: </p>
              <p><b>MoneyFGE Customer :</b>Means any natural or legal person who accepts the conditions set by the company.</p>
              <p><b>Customer :</b>Your account in the payment system is where your money is held and your cards are connected.</p>
              <p><b>MoneyFGE Deposit :</b>It is considered as a credit to the accounts of the customer's money.</p>
              <p><b>MoneyFGE Phone Password :</b>MoneyFGE is a mobile phone number that is used only by the Customer to send passwords for the Card, Phone Book and any existing and/or new products and services.</p>
              <p><b>Mobile Password :</b>A password that is used as transaction confirmation code for transactions made through MoneyFGE Channels or for which MoneyFGE has set the right to change, and which is sent by Customer's text message (SMS) , Password generator, etc.).</p>
              <p><b>Card :</b>MoneyFGE Cards and any additional cards that may be removed under these Cards shall be subject to the terms of this Agreement and shall be deemed as a card in the Contract.</p>
              <p><b>Account ID Information :</b>means any and all of the following pieces of information: your Card details (Card number, expiry date and CVV code), your PIN, information you use to log in to your Account, your secure identification number, security questions and answers and other Account credentials and information specific to your Account;</p>
              <p><b>Customer Contact Centre</b>can be contacted on +0800 800 800 or by writing an email to info@moneyfge.com</p>
              <p><b>Fees :</b>means any and all fees and charges levied by us for your use of MoneyFGE Service, as stated in the Fee Tables on the Website and which may be amended by us from time to time in accordance with these Terms of Use;</p>
            <p><b>Fees Table :</b>means the tables of Fees published on our Website  (and which can currently be found under the heading “Fees”) on <a href="https://www.moneyfge.com" class="link-terms">www.MoneyFGE.com</a>.</p>
              <p><b>«MoneyFGE» :</b>is a registered trademark of MONEY GROUP SOFTWARE SERVICES LIMITED COMPANY. Legal Address: HACI ILYAS MAH. 4. TAN SK. GÜZELLER IŞ MERKEZI 14/305 OSMANGAZI BURSA TURKEY.</p>
              <p><b>MONEYFGE Exchange Rate :</b>means the exchange rate used by us on all currency exchange transactions as published on our Website and which may be amended by us from time to time in accordance with these Terms of Use;</p>
              <p><b>PIN :</b>means the personal identification number which we may issue or approve to be used with your Card;</p>
              <p><b>Prohibited Transaction :</b>means any of the following types of transactions: (i) any pyramid selling, ponzi schemes or similar multi-level marketing, or matrix programs or other “get rich quick” schemes or high yield investment programs; (ii) the sale or supply of any illegal items or items which encourage or facilitate illegal activities; (iii) the sale or supply of counterfeit products; (iv) third party processing or payment aggregation products or services; (v) using MONEYFGE to facilitate the trade, exchange, purchase or sale of Bitcoins, or any other virtual currency. We reserve the right, in our sole discretion, to add categories of prohibited transactions by adding such categories either to these Terms of Use or an acceptable use policy published on the Website;</p>
              <p><b>Automatic Payment Instruction :</b>A service that allows customers to make regular payments from the customer's account.</p>
              <p><b>Transaction :</b>means, as the context permits: (i) a Payment; or (b) a Withdrawal; or (c) a Deposit; and, in each case less any applicable Fees;</p>
            <p><b>Website :</b>means <a href="https://www.moneyfge.com" class="link-terms">www.moneyfge.com</a> or such other website through which we may offer the MoneyFGE Service.</p>
              <p><b>Withdrawal :</b>means that you will be billed in your account using one of the withdrawal methods available to you in your country.</p>
              <p><b>"you" or "your"</b>means the person to whom these Terms of Use shall apply.</p>
          </li>
          <li>
            <p><b>1.2</b> These Terms of Use shall apply to all Members.</p>
          </li>
          <li>
            <p><b>1.3</b> Section headings shall not affect the interpretation of these Terms of Use.</p>
          </li>
          <li>
            <p><b>1.4</b> A person includes a natural person, corporate or unincorporated body (whether or not having separate legal personality)</p>
          </li>
          <li>
            <p><b>1.5</b> Unless the contexte otherwise requires, the singular words cover the plural meaning and the plural words cover singular meaning.</p>
          </li>
          <li>
            <p><b>1.6</b> Any words following the terms including, include, in particular, for example or any similar expression shall be construed as illustrative and shall not limit the sense of the words, description, definition, phrase or term preceding those terms.</p>
          </li>
        </ul>
      </li>
      <li>
        <p> <b>GENERAL PROVISIONS </b></p>
        <ul>
          <li>
            <p><b>2.1</b> It is a condition of membership that you agree to these Terms of Use, which form a legally binding contract between you and us once you register to become a Member.</p>
          </li>
          <li>
            <p><b>2.2</b> We may find it necessary to change the Terms of Use from time to time and we will notify you of any changes by sending an e-mail to the primary e-mail address registered with your Account and by posting notice of the changes on our Website with a link to the amended Terms of Use. We will provide at least one (1) months notice before the proposed changes come into effect, however changes that make these Terms of Use more favourable to you or that have no effect on your rights shall come into effect immediately if so stated in the change notice. Changes to the MoneyFGE Exchange Rates shall come into effect immediately without notice (all transactions involving currency conversion are calculated based on the average daily interbank market rate published by a third-party foreign currency data provider to which we add a Fee as set out in the Fees Table).</p>
          </li>
          <li>
            <p><b>2.3</b> You will be deemed to have accepted any changes made to the Terms of Use unless you notify us to the contrary before they come into force. Should you disagree with the proposed changes, you have the right to terminate and close your Account immediately without charge before the proposed date of their entry into force. A notice from you that you do not agree to the changes will constitute notice that you wish to terminate your agreement with us and your Account will be immediately closed upon receipt of your notice to terminate. Your Card will be cancelled and any funds in your Account will be returned to you using such method as notified by you.</p>
          </li>
          <li>
            <p><b>2.4</b> You may review the current Terms of Use prior to initiating any Transaction at any time by clicking on the “Terms of Use” page which at the date of these Terms of Use can be found at <a href="https://www.moneyfge.com" class="link-terms">www.moneyfge.com</a>.  The Terms of Use will show the most recent revision date. No revision will affect any Transaction that is outstanding as of the date of such revision. Use by you of the MoneyFGE Service indicates your agreement to these Terms of Use. We encourage you to print a copy of the Terms of Use for your future reference.</p>
          </li>
        </ul>
      </li>
      <li>
        <p><b>MONEYFGE SERVICE</b></p>
        <ul>
          <li>
            <p><b>3.1</b> MONEY GROUP SOFTWARE SERVICES LIMITED COMPANY is authorized to export, distribute, and electronically charge cards in accordance with MasterCard and VISA licenses. All Cards are provided by MONEY GROUP SOFTWARE SERVICES LIMITED COMPANY in accordance with MasterCard or VISA licenses.</p>
          </li>
          <li>
            <p><b>3.2</b> By accepting these Terms of Use and using the MoneyFGE Service you acknowledge that: (i) we are not a bank and your Account is not a bank account; (ii) Accounts are not insured by any government agency and the Turkish Financial Services Compensation Scheme does not apply to your Account; (iii) we do not act as a trustee, fiduciary or escrow holder in respect of balances in your Account; and (iv) we do not pay you interest on any balances in your Account.</p>
          </li>
          <li>
            <p><b>3.3</b> Although you are not required to keep a balance in your Account, if you do have a balance in your Account, funds representing that balance are segregated and pooled with funds representing the balances of other Members in an account held by us pursuant to the requirements under the Electronic Money Regulations 2011. We are not permitted to pay any interest to you in respect of balances held in your Account; any interest earned on the pooled account will be the property of MoneyFGE.</p>
          </li>
        </ul>
      </li>
      <li>
        <p><b>REQUIREMENTS FOR MEMBERS TO OBEY</b></p>
        <ul>
          <li>
            <p><b>4.1</b> In order to become a member and remain a member, you must meet the following conditions:</p>
            <p>* In the country you live in, you must fill the age of 18 years old or the age of majority in the country where you are;</p>
            <p>* You must complete all documents requested from you on the registration page and open an account according to the instructions on the registration page of our website;</p>
            <p>* You must have a legally valid active address, phone number and email address;</p>
            <p>* You need to be satisfied with all necessary security steps and our authentication checks.</p>
          </li>
          <li>
            <p><b>4.2</b> You can not allow someone else to use your account. You may not open more than one Account except where MoneyFGE allows it; We may close any Account or any Account of a Client who has, or reasonably suspects to have, more than one unauthorized Account, without prior notice.</p>
          </li>
          <li>
            <p><b>4.3</b> If your name, address, email address, phone number, credit card, or bank account details change, you need to update your account information immediately on the Web site. MoneyFGE will not be responsible for problems that would otherwise arise.</p>
          </li>
        </ul>
      </li>
      <li>
        <p><b>ELIGIBILITY</b></p>
        <ul>
          <li><p>In order to use the MoneyFGE Service, you must:</p></li>
          <li><p>*You need to be a Member; and</p></li>
          <li><p>* Not be in breach of any Terms of Use or otherwise have access to your Account restricted, nor have had any previous Account closed by us.</p></li>
        </ul>
      </li>
      <li>
        <p><b>USING YOUR ACCOUNT</b></p>
        <ul>
          <li>
            <p><b>6.1</b> Upon opening your account we will arrange a Virtual Card for you. You need to deposit money to your card by buying electronic money to be credited to your account to make transactions. Your card is not a credit card, a spending card or an ATM card. You can only spend as much money as you have on your account.</p>
          </li>
          <li>
            <p><b>6.2</b> Purchasing electronic money</p>
            <p>You may purchase electronic money by using one of the Deposit options available to you. You must provide the information requested and pass all identity and security validation and verification checks. For any Deposit, you authorise us to obtain or receive funds on your behalf from your chosen payment source, less any applicable Fees, and then issue electronic money to your Account.</p>
            <p>Notwithstanding the foregoing, certain Deposit options allow you to fund electronic money to your Account by debiting an account at your financial institution. In the event we are advised of insufficient funds in such account, we may re-present such uncleared payment at your financial institution up to two more times. In addition, we may debit the applicable insufficient funds charge and such uncleared payment from your Account, obtain it from your designated financial institution or otherwise collect it from you. Deposits are subject to fees and currency conversion fees depending on the method used. </p>
          </li>
          <li>
            <p><b>6.3</b> Applying for additional Cards</p>
            <p>You may apply for additional virtual Cards or a physical Card once your Account has been verified. In order to apply for a physical Card or more than one virtual Card, you will need to “verify” your Account by confirming your identity and where you live. Details of how to do this can be found on the Website. We may use third parties to obtain this information, which may also contain credit checks, on our behalf. You agree to us applying reasonable discretion in using and sharing relevant personal data to conduct such identity and verification checks.</p>
            <p>If you receive a physical Card, you must sign it as soon as you receive it.</p>
            <p>We reserve the right to refuse to issue you a Card in our sole discretion.</p>
          </li>
          <li>
            <p><b>6.4</b>  Payment from and for Your Account</p>
            <p>In addition to using your card to make payments and withdrawals, you can make a payment directly to the merchant accepting MoneyFGE by filling out the information on the member's "Send Money" page, and in some cases you can pay directly to the merchant from the seller's Web site, or you can receive payment from the merchant.</p>
            <p>When making a payment from your account, you can not specify a higher amount than the account in which the request was made. If you make such an attempt, your payment request is refused.</p>
            <p>The amount of payment made to your account will be credited to your account with the applicable fees deducted. If a payment recorded as receivable to your account is withdrawn by the sender before you perform the transaction, the returned payment will be refunded and no fee will be charged to you.</p>
            <p>You are responsible for the accuracy of the instructions you provide; We are not responsible for any mistakes you make when entering the buyer's email details or payment amount.</p>
            <p>You are solely responsible for the entire liability of any goods or services you purchase using the MoneyFGE service. Any dispute arising out of or relating to any product or service you purchase with the MoneyFGE Service is between you and the seller and you agree that we will not be a party to such dispute. We provide no warranties, representations, conditions or guarantees regarding such goods and services.</p>
            <p>Payments are subject to fees and currency conversion charges, depending on the method used.</p>
          </li>
          <li>
            <p><b>6.5</b> Subscription Billing</p>
            <p>Some online sellers may offer products or services that can be paid for using Subscription Invoicing. This means that your payment at regular intervals will be deducted from your account. The payment amount and deduction intervals for the payment are determined by the respective seller.</p>
            <p>Subscription Billing is an arrangement between you and the seller. If you want to change or cancel your payment, or if you have a dispute about Subscription Billing Payment, you can only do so by contacting the seller directly. Terms and conditions specified by the seller will apply. Once you've contacted the seller, you should let us know. We can not cancel or change your Subscription Billing payments without the seller's consent. You must not cancel or withdraw Subscription Billing payment without first contacting the merchant. We are not responsible for the Subscription Billing Payment deducted from your account before informing the seller of the cancellation action. You can not cancel a payment made to the seller.</p>
            <p>You are solely responsible for ensuring that your account has sufficient funds to make every payment you make using Subscription Billing. We are not responsible for fees, charges, and penalties that you may incur as a result of not having sufficient funds in your account to cover your obligations under the Subscription Billing arrangement. A payment made through Subscription Billing is a "Payment" as defined in these Terms of Use, and normal commission rates apply for each payment.</p>
          </li>
          <li>
            <p><b>6.6</b> Closing your Account and redeeming your funds</p>
            <p>If you wish to close your Account, you may do so by notifying us in writing. you may redeem at par all of the balance of electronic money in your Account (excluding amounts that have not cleared your financial institution).</p>
            <p>We will process your request provided all identity and security validation and verification checks are successfully completed.</p>
            <p>Depending on the method that your funds are redeemed, a Fee may be applicable which will be deducted from the balance in your Account prior to Withdrawal.</p>
          </li>
          <li>
            <p><b>6.7</b> You must give consent to the execution of a Transaction for it to be authorised. You agree that by pressing the “agree” button, or entering your Account ID Information (or any equivalent button or process whereby you submit the required Transaction information) you are confirming that you are providing consent for the Transaction to be processed and for the relevant Fees to be charged and deducted from your Account. All Transactions made using your PIN or your Account ID Information are deemed to be authorised by you. You also agree that once consent has been provided by you, the authorised Transaction can no longer be revoked. To this extent, the time of receipt of the Transaction request (and therefor the time of consent) is the time when the “agree” button has been pressed (or such equivalent button or process).</p>
          </li>
          <li>
            <p><b>6.8</b> We may refuse to execute any Transaction in the following circumstances:</p>
            <p>we reasonably believe that you did not give us the instruction;</p>
            <p>we reasonably suspect fraudulent activity;</p>
            <p>your instructions are unclear, incomplete or not in the required form;</p>
            <p>we suspect that that the Terms of Use have been violated;</p>
            <p>If we must do so in order to comply with the MasterCard and Visa rules;</p>
            <p>If we believe that we must do so in a way that is required by any law or regulatory body.</p>
          </li>
          <li>
            <p><b>6.9</b> Merchants may not be able to authorise a Payment if they cannot obtain online authorisation from us (for example, if they are unable to access the internet).</p>
          </li>
          <li>
            <p><b>6.10</b> You are fully responsible for the instructions you give to us and as a result we may not be able to detect errors in your Transaction instructions. It is important that you ensure all the details entered in respect of any Transaction are accurate. Any Transaction will be deemed to have been correctly executed where it has been executed in accordance with your instructions.</p>
            <p>However, we may in some circumstances, be able to assist you in recovering the funds involved and will apply the relevant Fee for doing so, per the Fee Table. We can not take back money that was mistakenly sent to another Member as long as we do not have a Police Notice, you do not have a reference number or you do not get permission from the person concerned.</p>
          </li>
          <li>
            <p><b>6.11</b> Transactions are final and are not reversible save in the following circumstances and at our sole discretion:</p>
            <p>where we confirm there has been a Merchant error;</p>
            <p>where there is illegal activity involving your Account; or</p>
            <p>where you are in breach of these Terms of Use.</p>
          </li>
          <li>
            <p><b>6.12</b> You acknowledge that certain of our Transaction options will require different types and levels of identity and security validation and verification checks, including use of third party validation and verification systems, and you agree to us applying our reasonable discretion in using and sharing relevant personal data to conduct such identity and security validation and verification checks if you choose such options.</p>
          </li>
          <li>
            <p><b>6.13</b> You also acknowledge that for security purposes, certain of our Transaction options impose minimum and maximum limits on the amounts that may be transferred. We reserve the right to impose limits on the amount of any Transaction and the frequency you may use a particular Transaction option. Further information is available on the Website. These limits are subject to change from time to time without notice.</p>
          </li>
          <li>
            <p><b>6.14</b> You should not do any of the following:</p>
            <p>In terms of the Service MoneyFGE, there are actual or attempted activities that are deemed abuse of fraud, bonuses and promotions;</p>
            <p>Your name may attempt to open more than one Account (without our prior written consent) or open an Account with a fake name;</p>
            <p>Performing false or fraudulent activities (also known as "Abuse brokers");</p>
          </li>
          <li>
            <p><b>6.15</b> You should only use your account for personal purposes and not use it to trade or conduct business other than as determined by us (we give you written permission in advance).</p>
          </li>
        </ul>
      </li>
      <li>
        <p><b>FEES</b></p>
        <ul>
          <li>
            <p><b>7.1</b> We will charge you the Fees set out on our Website for each Transaction. You authorise us to debit from your Account any applicable Fees at the time of a Transaction. We may also charge you certain administration Fees, including, but not limited to, in relation to ongoing management of inactive accounts, debt collection and reprocessing charges in case of insufficient funds. All Fees will be charged in the currency of your Account and you agree that we may debit by way of set-off from your Account any Fees, charges or other amounts owing to us and payable by you in connection with the MoneyFGE Service. All Card Fees will be charged in the currency of your Account, regardless of the currency of the Card or the Transaction.</p>
          </li>
          <li>
            <p><b>7.2</b> MoneyFGE reserves the right to change the fees to be applied to its services. Updates will be listed on the fees page of our website. Changes to the reference exchange rate are applied immediately and without notice.</p>
          </li>
          <li>
            <p><b>7.3</b> If you have funds in your Account and have not made any Transactions from or to your Account for a period of 14 months (“Inactive Account” or “Account Inactivity”) we will charge an administration fee (“Administration Fee”). You will be notified of this one month in advance by email. The Administration Fee will be charged annually and will be deducted from the available funds in your Account (we will not, however, cause you to go into a negative balance). By way of example: After your Account has been inactive for 14 months, we will apply an Inactive Account Administration Fee. You will still be able to access your Account should you wish to make a Transaction in the future.</p>
            <p>After a further 12 months of Account Inactivity (or 26 months of Account Inactivity in total), we will apply a second Inactive Account Administration Fee (if there are sufficient funds in your Account). You will still be able to access your Account should you wish to make a Transaction in the future.</p>
            <p>After a further 12 months of Account Inactivity (or 38 months of Account Inactivity in total) we will apply a third and final Inactive Account Administration Fee (if there are sufficient funds in your Account) and we will close your Account. You will not be able to log in to your Account after this, but you can reclaim your funds by contacting the Customer Contact Centre using the telephone number set out at the beginning of these Terms of Use.</p>
            <p>Six years after the date we close your Account, any funds which remain unclaimed will expire and be forfeited.</p>
            <p>If your account is a still account for a total of 38 months or more, you will close your account and cancel your card at the end of the Terms of Use</p>
          </li>
          <li>
            <p><b>7.4</b> Details of the amount of the Administration Fee can be found on the Fees page of the Website. The Administration Fee will be charged until one of the following events occurs:</p>
            <p>When you make transaction;</p>
            <p>When account balance reaches zero;</p>
            <p>When the Account is an Inactive Account for a total of 38 months or more, following which period we shall close the Account and cancel your Card in accordance with these Terms of Use.</p>
          </li>
        </ul>
      </li>
      <li>
        <p><b>CURRENCY EXCHANGE</b></p>
        <ul>
          <li>
            <p><b>8.1</b> When you register your Account, you have the option of choosing from a list of currencies, which will be the currency in which your Account will be denominated.</p>
          </li>
          <li>
            <p><b>8.2</b> If you use your Card to make a Transaction in a currency other than the issue currency of your Card, then such a Transaction will be converted to the currency of your Card on the day we receive final settlement for the Transaction (typically 72 hours after you make the Transaction). You will receive an estimate of the converted amount at the time you make the Transaction, but this may be less, or more, than the final amount deducted from your Account due to exchange rate fluctuations. We will use MasterCard authorised rates applicable for such a Transaction. A foreign exchange fee will also apply (see the Fees section on our Website for further details).</p>
          </li>
          <li>
            <p><b>8.3</b> If you apply for a Card in a currency that is different to the currency of your Account, all Transactions you make from your Account using your Card will incur a foreign exchange fee. Any Transaction you make in a currency which is different to both the currency of your Card and your Account, will incur an additional foreign exchange fee (e.g. you will be charged an exchange fee for the currency conversion from the Transaction currency into the currency of your Card and a further fee for the currency conversion into the currency of your Account). We recommend that you choose the same currency for your Card as the currency of your Account.</p>
          </li>
        </ul>
      </li>
      <li>
        <p><b>CHARGEBACKS, NEGATIVE BALANCES AND REFUNDS</b></p>
        <ul>
          <li>
            <p><b>9.1</b> If you Deposit funds into your Account and then authorise a Payment or Withdrawal of those funds, you agree that you will not charge back, cancel, reverse or de-authorise the payment method used to make that Deposit.</p>
          </li>
          <li>
            <p><b>9.2</b> Without limiting our rights or remedies, if you do charge back, cancel, reverse or de-authorise a payment in such circumstances, you are responsible for refunding the payment to us. We may, at our discretion, recover the amount by reducing your Account balance, re-charging your credit card or bank account for the amount or otherwise collecting such amount from you.</p>
          </li>
          <li>
            <p><b>9.3</b> If a negative balance is created in your Account (e.g. due to a chargeback, reversal of a Deposit, or a Transaction is processed for a larger amount than the amount of available funds in your Account) or if you cause your Account to go into a negative balance for any other reason, you will be required to repay such negative balance by uploading sufficient funds into your Account to bring it back to at least a zero balance. Your failure to do so is a breach of these Terms of Use. You agree to pay us the outstanding amount immediately on demand. We reserve the right to automatically debit such outstanding amount from any Deposits you subsequently make to your Account. We shall be entitled to charge you for any reasonable expenses we incur as a result of any negative balance on your Account.</p>
          </li>
          <li>
            <p><b>9.4</b> We reserve the right, at any time, to send you reminders or to take other debt collection measures including but not limited to mandating a debt collection agency or solicitors or to pursue the claim in court. We reserve the right to charge you the expenses we reasonably incur in connection with any such debt collection or enforcement efforts. This provision shall survive termination of the relationship between you and us.</p>
          </li>
          <li>
            <p><b>9.5</b> If you receive a refund for purchases made with your Card, the refund will be paid to your Account. For legal reasons, you are not entitled to receive refunds in cash for Transactions made using your Card. Refunds may take up to 30 days to process.</p>
          </li>
          <li>
            <p><b>9.6</b> We accept no responsibility for the goods or services you purchase using the MoneyFGE Service. All such disputes must be addressed directly with the Merchant providing the relevant goods or services. Where you have used your Card to buy goods or services you may have a claim against the Merchant if the goods or services are unsatisfactory, not supplied, supplied only in part or do not match the supplier’s description. You must notify us of any dispute within 60 days of the purchase and the chargeback will only be applied to your account if successfully secured from the merchant through MasterCard; MasterCard and not us will determine who will win the chargeback. If you wrongly make a chargeback claim, we will be entitled to charge you any fees we reasonably incur in pursuing the chargeback claim and we will be entitled to debit your Account with the amount of any such fees.</p>
          </li>
        </ul>
      </li>
      <li>
        <p><b>ACCOUNT RESTRICTIONS</b></p>
        <ul>
          <li>
            <p><b>10.1</b> You agree to use your Account pursuant to the provisions of these Terms of Use and any other instructions we may reasonably provide for the use of the MoneyFGE Service. Without prejudice to the precedent, you acknowledge and agree that you are prohibited from doing the following:</p>
            <p>Using the MoneyFGE Service to withdraw cash advances (or helping others to do this);</p>
            <p>Use MoneyFGE Service for any purpose that is contrary to law, regulation or regulation applicable to you, including, but not limited to, money laundering, fraud, criminal activity, financial services and customer protection;</p>
            <p>Send unsolicited email or use similar bulk messaging methods (spam);</p>
            <p>To use the MoneyFGE Service for any Prohibited Transaction;</p>
            <p>To display abusive or inappropriate, rude or bad behavior against our representatives and;</p>
            <p>To tamper with, corrupt, alter, disrupt or harm the MoneyFGE Service in a way that disrupts the reliability or functionality of the MoneyFGE Service, or attempting to do any of the above.</p>
          </li>
        </ul>
      </li>
      <li>
        <p><b>KEEPING YOUR ACCOUNT AND CARD SAFE</b></p>
        <uL>
          <li>
            <p><b>11.1</b> It is your responsibility to keep your card safe; Your card is unique to you and you should not give it to anyone else to use it. You must take all reasonable precautions to keep your information confidential and secure. This also includes ensuring the security of your Account ID Information on your personal computer device to access the Internet on an ongoing basis. To reduce the risk of security breaches, you need to regularly change your password and use up-to-date viruses, malware and spyware scanning software and security firewall protection.</p>
          </li>
          <li>
            <p><b>11.2</b> If you suspect that someone else is aware of your Account ID Information, you should immediately contact the Customer Contact Center. If you forget your PIN code, you can find the details on your Account. It is important that you keep these details secure, as it allows your account details, virtual cards, and physical Card PIN codes to be accessed.</p>
          </li>
        </uL>
      </li>
      <li>
        <p><b>UNAUTHORISED, NON-EXECUTED OR INCORRECTLY EXECUTED TRANSACTIONS</b></p>
        <ul>
          <li>
            <p><b>12.1</b> If you think that you have lost any of your Account ID Information, or they have been stolen, or in the event of an unauthorised Transaction, or a Transaction which has not been executed or has been incorrectly executed by us, you must let us know without undue delay and in any case no later than 13 months after the debit date, through our email support form or by contacting the Customer Contact Centre. If requested to, you must also write to us within seven days to confirm the loss, theft or possible misuse.</p>
          </li>
          <li>
            <p><b>12.2</b> You will not be liable for any losses which arise after you have notified us that you believe any of your Account ID Information has been stolen or might be used in an unauthorised way, as specified in section 12.1.</p>
          </li>
          <li>
            <p><b>12.3</b> You will be responsible for all losses incurred in the event of an unauthorized Transaction in the following cases:</p>
            <p>If you act with the intention of fraud;</p>
            <p>If you have jeopardized the security of your account due to deliberate or gross negligence (eg, not following section 12); or</p>
            <p>If you provided Account Identification information to someone else who later used this information to do the Transaction.</p>
            <p>Under these terms, we reserve the right to charge you for the costs incurred to stop the use of your Card or Your Account and to save the borrowed money as a result.</p>
          </li>
          <li>
            <p><b>12.4</b> You should know that the intended recipient for the Transaction from your account does not have to accept the Transaction. If a targeted buyer rejects your Transaction from your Account, your Transaction Amount will be reissued in your account and no Transaction Fee will be charged.</p>
          </li>
          <li>
            <p><b>12.5</b> If your account comes with money that you did not expect to be transferred to you, we have the right to remove it from your Account.</p>
          </li>
        </ul>
      </li>
      <li>
        <p><b>PRIVACY</b></p>
        <ul>
          <li>
            <p><b>13.1</b> Our Privacy Policy forms part of these Terms of Use and you should review the policy described to agreeing to these Terms of Use.</p>
          </li>
          <li>
            <p><b>13.2</b> You acknowledge and accept that: (i) when speaking to our Customer Contact Centre agents, your call may be monitored and/or recorded for quality assurance, training and security and fraud protection purposes; (ii) for fraud and security purposes your records are kept by us even after your Account is closed; and (iii) for identity validation and verification purposes, the following information may be provided to Merchants with whom you make a Transaction: name, Account number, jurisdiction, country of residence, nationality, residential address, postal code, email address, date of birth, and/or IP address.</p>
          </li>
        </ul>
      </li>
      <li>
        <p><b>SUSPENDING OR CLOSING YOUR ACCOUNT AND CANCELLING YOUR CARD</b></p>
        <ul>
          <li>
            <p><b>14.1</b> You have the right to close your Account and thereby terminate your agreement with us (and your right to use the MoneyFGE Service) at any time by notifying our Customer Contact Centre.</p>
          </li>
          <li>
            <p><b>14.2</b> You can cancel your card by notifying our Customer Contact Center. You will be responsible for any Transaction you made before you canceled your card or for any fees charged. Your Account will not be automatically closed if your Card is canceled unless you do not wish us to close your Account or cancel due to a change in these Terms of Use.</p>
          </li>
          <li>
            <p><b>14.3</b> We reserve the right to terminate these Terms of Use by giving notice to you two (2) months in advance, thereby canceling your Card and closing your Account. If we close your account, we will also cancel the Cards attached to your account. We reserve the right to terminate the Terms of Use immediately and to close your Account immediately if such termination is caused by an event, action or omission (including illegal or law change) that makes, abolishes, or disables the Terms of Use.</p>
          </li>
          <li>
            <p><b>14.4</b> You may withdraw or limit your access to any or all of our favorable plans (including freezing your account, limiting your ability to trade on your account, suspending or ending your card, and limiting your payment options), regardless of what is stated above. We may not allow you to participate in these plans (including, without limitation, our award plan and promotions), or we may close your account at any time without prior notice:</p>
            <p>If you violate any of the Terms of Use;</p>
            <p>If we have reason to believe that your Account was used in connection with an unauthorized Transaction, or in connection with the use of an unauthorized credit card or bank account, including, but not limited to, notification by your bank or credit card issuer;</p>
            <p>If you have reasonable grounds to think that your account has been used in connection with a Forbidden Transaction;</p>
            <p>If at any time you determine that you have provided us with unfounded, false, incomplete or misleading information or any name, bank account or credit card information that you are not legally authorized to use;</p>
            <p>If you misuse the withdrawal or remuneration transactions or similar behavior provided by your bank or credit card company in the event that Money Deposit has been authorized, withdrawn or canceled after the authorized payment or withdrawal of the money in question;</p>
            <p>If your account accepts suspicious money from fraud;</p>
            <p>If you refuse to participate in any inquiry or provide a document for verification or correct identification or other security information when requested;</p>
            <p>To initiate transactions or to assist in cash advance transactions which may be counted as cash advance;</p>
            <p>If we think that your account or card has been used or can be used to conduct fraudulent, financial crime or other illegal activities;</p>
            <p>Payment for insufficient funds in your account;</p>
            <p>Whether you are active or inactive We think that your account or transaction is a risk to us for security, credit, fraud, work or reputation;</p>
            <p>If for any legal reason or for security reasons we are no longer able to process your Transaction due to third party transactions;</p>
            <p>If an event, act or omission (including illegal or lawful change) occurs that makes these Terms of Use impracticable, invalid, or disable;</p>
            <p>Government officials interfere with money laundering or terrorist sponsorship investigations or prohibitions conducted by government agencies or commissions.</p>
          </li>
          <li>
            <p><b>14.5</b> If we close your account, we will first notify you by e-mail or letter using the latest contact address you provide to us and we will not refund you the amount of unrestricted or non-conflicting money in your Account in accordance with your instructions (the amount of money not related to the circumstances of restriction or closure).</p>
          </li>
          <li>
            <p><b>14.6</b> In certain cases, we may be prohibited from reporting to you that your Account has been suspended or closed. We will do our best to inform you as soon as possible in such cases. If we receive an Account Suspension, we may remove the Suspension if we are certain that the conditions leading to the Suspension Condition no longer exist.</p>
          </li>
          <li>
            <p><b>14.7</b> If you have a Non-standing Account for a period of 38 months or more, Your Account will be terminated pursuant to these Terms of Use. Any Account Inactivity prior to the implementation of these Terms of Use will be included when calculating these time intervals. Once your account has been closed, we will notify you using the latest information you provided to confirm your account was closed.</p>
          </li>
          <li>
            <p><b>14.8</b> If, for any reason, your Account has been terminated and if there is a balance in Your Account, such amount will be refunded to you in the manner you have notified (by deducting the normal applicable Fees), provided that there is no restriction for the Money.</p>
          </li>
          <li>
            <p><b>14.9</b> Six years after your account has been closed, the entire duration of all unrequested money will not be considered and will be lost. </p>
          </li>
          <li>
            <p><b>14.10</b> No action may be taken after an Account has been closed for any reason (except in accordance with these Terms of Use, to remit the funds in Your Account to you). If a fee is charged or Transaction is made before your account is closed, you are obliged to pay us such amounts upon request, regardless of whether your Account has been closed. This provision shall remain valid until the end of the relationship between you and us.</p>
          </li>
          <li>
            <p><b>14.11</b> Unless otherwise specified in accordance with these Terms of Use, upon termination of Your Account, these Terms of Use will no longer apply and you will no longer become a Member. If you want to re-register, you must re-register and open a new account.</p>
          </li>
        </ul>
      </li>
      <li>
        <p><b>WARRANTIES, LIABILITIES AND DISCLAIMERS</b></p>
        <ul>
          <li>
            <p><b>15.1</b> We reserve the right to validate and verify any of the information that you provide to us with third parties at any time.</p>
          </li>
          <li>
            <p><b>15.2</b> We shall make reasonable efforts to ensure that debits and credits to your Account are processed in a timely manner. However, a number of factors, several of which are outside of our control, will contribute to when the processing will be completed. For example, as your Card is linked to your Account, your Card may not work if there problems with the MoneyFGE Service, and your ability to use your Card may be interrupted when maintenance works to the MoneyFGE Service are carried out. We make no representations or warranties as to continuous, uninterrupted or secure access to the MoneyFGE Service, which may be affected by factors outside our control, or may be subject to periodic testing, repair, upgrade, outages or maintenance.</p>
          </li>
          <li>
            <p><b>15.3</b> We assume that prior to opening your Account you have determined that opening and maintaining your Account does not violate any law or regulations in your country of residence and jurisdiction. You warrant that you are not violating any laws or regulations by your use of the MoneyFGE Service and you agree to indemnify us, our affiliates, holding companies, subsidiaries, agents and subcontractors, from and against any and all liability that might arise from your use of the MoneyFGE Service in violation of any law or regulation. This provision shall survive termination of the relationship between you and us.</p>
          </li>
          <li>
            <p><b>15.4</b> In connection with the MoneyFGE service, you are not provided any express warranties, guarantees or conditions (including warranties or conditions of implied warranties) other than those specified in these Terms of Use. However, all guarantees that are clear and confidential, as set out by law. All other guarantees are rejected.</p>
          </li>
          <li>
            <p><b>15.5</b> We shall not be liable for any offense, loss or damage caused by or caused by you or our third parties, our affiliates, conglomerates, branches, operators or subcontractors, unless they arise directly from our negligence or intentional misconduct; Neither MoneyFGE nor its affiliated companies, conglomerates, branches, operators or subcontractors shall be liable for any offense, loss or damage arising out of or arising from:</p>
            <p>Violate any of the Terms of Use;</p>
            <p>Errors such as making payment to an unwanted person or transferring the wrong amount, which is caused by you, any Seller or another Member, while processing;</p>
            <p>Your account is used by another person who has passed all validity and security checks and verification checks;</p>
            <p><b>Return of funds to original source;</b></p>
            <p>You are not able to remove viruses, malware and spyware scanning software and firewall protection on your computer or other device that you use to access the Internet, and practically remove them from your computer or device immediately after having viruses, malware, or spyware;</p>
            <p>If you disclose your login details or Card details to a third party as a result of the password stealing contact;</p>
            <p>Any fraudulent or misrepresentation made by this Seller or Member, even if Seller or Member has passed all validity and verification validation checks;</p>
            <p>Errors or omissions in the content of the Website;</p>
            <p>Misuse or inability to use our Web site for reasons beyond our control;</p>
            <p>Delays, omissions, defects or omissions resulting from the failure, interruption, inadequacy or corruption of any hardware, software or other telecommunication or data transmission systems;</p>
            <p>Blocking or seizure by statutory obligation;</p>
            <p>Conditions beyond reasonable control;</p>
            <p>Any unusual or unpredictable situation beyond our control that our results are inevitable despite all our efforts;</p>
            <p>We do not accept any responsibility if a Seller or third party does not agree to a Transaction or if the Seller can not cancel an authorization or a Subscription Invoicing order can not be canceled or changed.</p>
          </li>
          <li>
            <p><b>15.6</b> In no event shall MoneyFGE, its affiliated companies, its conglomerates, operators, or subcontractors be liable to you or any third party for any direct, indirect, or criminal, legal or financial damages arising out of negligence, willful misconduct, personal fault, Can not be held responsible for damages.</p>
          </li>
          <li>
            <p><b>15.7</b> We disclaim any and all liability for any goods or services bought or sold by you that are settled through your use of the MoneyFGE Service.</p>
          </li>
          <li>
            <p><b>15.8</b> You agree to indemnify us, our affiliates, holding companies, subsidiaries, agents and subcontractors from and against any and all claims brought by third parties against us, our affiliates, holding companies, subsidiaries, agents or subcontractors relating to your use of the MoneyFGE Service in respect of all claims, losses, damages, expenses and liabilities whatsoever suffered or incurred by us, our affiliates, holding companies, subsidiaries, agents or subcontractors as a result of your breach of these Terms of Use. This provision shall survive termination of the relationship between you and us.</p>
          </li>
          <li>
            <p><b>15.9</b> We confirm that MoneyFGE retains all right, title, and interest in and to all trademarks, trade names, logos, Website designs, text, content and graphics, and other intellectual property rights used by us in relation to the MoneyFGE Service and any use, reproduction, modification, or distribution by you of such trademarks, trade names, logos, Website designs, text, content, graphics, or other intellectual property rights, is prohibited.</p>
          </li>
        </ul>
      </li>
      <li>
        <p><b>COMPLAINTS PROCEDURE</b></p>
        <ul>
          <li>
            <p><b>16.1</b> We refer you to our complaints procedure referred to in section 2.5 hereof for any complaint or dispute you may have concerning your Account. If we are unable to resolve your complaint, you may also complain to the Financial Ombudsman Service which applies to services offered by us.</p>
          </li>
          <li>
            <p><b>16.2</b> You may contact the Financial Ombudsman Service by calling +0800 800 8800 or sending an email to info@moneyfge.com.</p>
          </li>
          <li>
            <p><b>16.3</b> You agree to waive any right you may have to commence or participate in any class action suit or proceeding against us, our affiliates, holding companies, subsidiaries, agents and subcontractors arising out of or relating to any dispute, claim or error and you also agree to opt out of any class proceedings against us.</p>
          </li>
          <li>
            <p><b>16.4</b> We encourage you to inspect your Account history online and to print or save a copy of all Transaction data for future reference. If your Account history shows Transactions that you did not make or authorise, you must notify us immediately upon identification or suspicion, pursuant to section 12.1.</p>
          </li>
        </ul>
      </li>
      <li>
        <p><b>GENERAL</b></p>
        <ul>
          <li>
            <p><b>17.1</b> We may engage the services of one or more affiliates, holding companies, subsidiaries, agents or subcontractors in order to fulfil our obligations.</p>
          </li>
          <li>
            <p><b>17.2</b> These Terms of Use shall be governed by the laws of Turkey. All disputes arising out of or relating to these Terms of Use shall be resolved by the Turkish Courts, except where European Union legislation requires a specific dispute to be resolved by the courts of another jurisdiction.</p>
          </li>
          <li>
            <p><b>17.3</b> We may send communications and notices to you at the email address or postal address you provided to us during the registration process (or as updated subsequently by you). Any and all communications and notices by either party under these Terms of Use by email shall be deemed given on the day the email is sent, unless the sending party receives an electronic indication that the email was not delivered; and if by mail, shall be deemed given 5 business days after the date of mailing.</p>
          </li>
          <li>
            <p><b>17.4</b> These Terms of Use are subject to amendment, modification or deletion if required by, or found to be in conflict with, applicable law or regulation, without affecting the validity or enforceability of the remaining terms of use.</p>
          </li>
          <li>
            <p><b>17.5</b> In the event of any inconsistency between this version of the Terms of Use and the version on the Website, the version on the Website will be valid.</p>
          </li>
          <li>
            <p><b>17.6</b> Failure to enforce or postponement of rights arising from these Terms of Use or deferment of such rights shall not be deemed a waiver of such rights or shall not be deemed to be a situation which prevents any application or enforcement at any time.</p>
          </li>
          <li>
            <p><b>17.7</b> The rights and remedies provided to us under these Terms of Use are in addition to any other rights or remedies provided to us by law and regulations.</p>
          </li>
          <li>
            <p><b>17.8</b> You may not renew, assign, subcontract or transfer your rights, obligations under these Terms of Use to others. We reserve the right to assign and transfer these Terms of Use and acknowledge that we may assign any rights in this document or renew any obligations without your consent.</p>
          </li>
          <li>
            <p><b>17.9</b> Nothing in these Terms of Use shall constitute a partnership between the parties or make any party to the parties for any purpose whatsoever. You are not authorized to create any form of tie-breaking, contract, or liability for any purpose whatsoever.</p>
          </li>
          <li>
            <p><b>17.10</b> If any part of these Terms of Use is determined to be unenforceable, it will not affect the remainder of the Terms of Use and the rest will continue to apply in full.</p>
          </li>
          <li>
            <p><b>17.11</b> If these Terms of Use are presented on a different language than Turkish, all versions are legally binding; However, if there is any inconsistency between the Turkish version and the translated version, the version in Turkish will be valid.</p>
          </li>
        </ul>
      </li>
      <li>
        <p><b>MONEYFGE SUPPORT</b></p>
        <ul>
          <li>
            <p><b>18.1</b> Our Customer Contact Centre is open 24 hours a day, 7 days a week. You can find contact details on the Website. A Lost and Stolen reporting service for Cards is also available 24 hours a day, 7 days a week, the details of which can be found on the back of your Card, or on the Website. You will need the permission of the bill payer before making any telephone call. We may record any conversation you have with the Customer Contact Centre for training and/or monitoring purposes.</p>
          </li>
        </ul>
      </li>
    </ol>
    <div id="popup-content-right">
      <span><b>MONEY GROUP</b></span>
    </div>




  </div>
  <div class="text-center">
    <a href="#" class="btn btn-medium btn-accent close-popup">Close</a>
  </div>
</div>

<header class="login-page">
  <div class="logo"><img src="assets/img/logo1.png" alt="Logo" style="width:20%!important;"></div>
  <div class="info-block widget login-widget">
    <div class="block-header">
      <h3 i18n>Registration</h3>
    </div>
    <div id="form" class="info-block-content">
      <div class="alert alert-danger" *ngIf="errorMsg">
        {{ errorMsg }}
      </div>
      <form (ngSubmit)="register()" [formGroup]="form">
        <label i18n>Enter your phone number</label>
        <div class="input-group">
          <input type="text" required="required" class="phone-input-ua" name="telephone" formControlName="telephone" />
          <i class="fa fa-info-circle" data-toggle="tooltip" data-placement="auto right" i18n-title title="Enter your phone number"></i>
        </div>
        <div class="input-group text-left" style="margin-top:20px">
          <input #terms type="checkbox" required="required" />
          <span i18n>I accept <a style="text-decoration: underline" href="#TermsPopup" class="open-popup-link">terms</a></span>
        </div>
        <button type="submit" class="btn btn-accent btn-big" i18n>Continue</button>
      </form>
      <a [routerLink]="['']" class="back"><i class="fa fa-chevron-left"></i> <span i18n>Back</span></a>
    </div>
  </div>
</header>
