<div id="TermsPopup" class="white-popup mfp-hide">
  <h4 class="popup-title">Умови угоди</h4>
  <div class="popup-content-scroll">
    <p>Условия соглашения</p>
    <p>Перед тем, как воспользоваться услугами Интернет-магазина, пожалуйста, внимательно прочитайте настоящее агентское Соглашение. Договор публичной оферты.</p>
    <p>Договор публичной оферты является публичным, т.е. в соответствии со статьей 633 Гражданского кодекса Украины его условия одинаковы для всех покупателей независимо от статуса (физическое лицо, юридическое лицо, физическое лицо – предприниматель). При полном согласии с данным Договором, покупатель принимает условия и порядок оформления заказа, оплаты товара, доставки товара, и за невыполнение условий данного договора.</p>
    <p>Данный текст является соглашением между интернет-магазином www.agelshop.com.ua, именуемым в дальнейшем «интернет-магазин», и пользователем услуг интернет-магазина, именуемым в дальнейшем «Покупатель» и определяет условия приобретения товаров через сайт интернет-магазина.</p>
    <p>1. Общие положения</p>
    <p>1.1. Настоящий договор является публичной офертой (в соответствии со ст.ст. 633, 641 и гл. 63 Гражданского кодекса и содержит все существенные условия организации купли-продажи дистанционным способом, т. е. через интернет-магазин.</p>
    <p>1.2. В случае принятия условий настоящего договора, т.е. публичной оферты интернет-магазина, гражданин или юридическое лицо, производящий акцепт оферты, становится Покупателем. </p>
    <p>Перед тем, как воспользоваться услугами Интернет-магазина, пожалуйста, внимательно прочитайте настоящее агентское Соглашение. Договор публичной оферты.</p>
    <p>Договор публичной оферты является публичным, т.е. в соответствии со статьей 633 Гражданского кодекса Украины его условия одинаковы для всех покупателей независимо от статуса (физическое лицо, юридическое лицо, физическое лицо – предприниматель). При полном согласии с данным Договором, покупатель принимает условия и порядок оформления заказа, оплаты товара, доставки товара, и за невыполнение условий данного договора.</p>
    <p>Данный текст является соглашением между интернет-магазином www.agelshop.com.ua, именуемым в дальнейшем «интернет-магазин», и пользователем услуг интернет-магазина, именуемым в дальнейшем «Покупатель» и определяет условия приобретения товаров через сайт интернет-магазина.</p>
    <p>1. Общие положения</p>
  </div>
  <div class="text-center">
    <a href="#" class="btn btn-medium btn-accent close-popup">Close</a>
  </div>
</div>

<header class="login-page">
  <div class="logo"><img src="assets/img/logo1.png" alt="Logo" style="width:20%!important;"></div>
  <div class="info-block widget login-widget">
    <div class="block-header">
      <h3 i18n>Registration</h3>
    </div>
    <div id="form" class="info-block-content">
      <div class="alert alert-danger" *ngIf="errorMsg">
        {{ errorMsg }}
      </div>
      <form (ngSubmit)="register()" [formGroup]="form">
        <label i18n>Enter your phone number</label>
        <div class="input-group">
          <input type="text" required="required" class="phone-input-ua" name="telephone" formControlName="telephone" />
          <i class="fa fa-info-circle" data-toggle="tooltip" data-placement="auto right" i18n-title title="Enter your phone number"></i>
        </div>
        <div class="input-group text-left" style="margin-top:20px">
          <input #terms type="checkbox" required="required" />
          <span i18n>I accept <a style="text-decoration: underline" href="#TermsPopup" class="open-popup-link">terms</a></span>
        </div>
        <button type="submit" class="btn btn-accent btn-big" i18n>Continue</button>
      </form>
      <a [routerLink]="['']" class="back"><i class="fa fa-chevron-left"></i> <span i18n>Back</span></a>
    </div>
  </div>
</header>
