<section class="sect-grey">
  <div class="head-banner" style="background-image: url(/assets/new_assets/img/transfer.jpg);height:300px;">
    <div class="container">
      <h1 class="big_text" i18n>Do a quick easy <br /> online payments</h1>
    </div>
  </div>

  <div class="main">
    <div class="container">
      <div class="row">
        <div class="col-md-8">
          <h1 class="page-title" ><small i18n>Online payment</small></h1>
          <div class="main-text">
            <p i18n>Payment system  offers a system of payments between financial institutions, Internet users and business organizations for various services via the Internet, including buying and selling.</p>
            <p i18n>We work with certain systems such as WebMoney, Paypal, Neteller, eKassir, UnionPay and so on. D. Payment Methods  is a great choice because you can choose the payment system that You need.</p>
            <div class="table-responsive">
              <table class="table table-striped hide">
                <tbody><tr>
                  <th i18n>Online payment</th>
                  <th i18n>Commission</th>
                </tr>
                <tr>
                  <td>WebMoney</td>
                  <td>1%</td>
                </tr>
                <tr>
                  <td>Paypal</td>
                  <td>2%</td>
                </tr>
                <tr>
                  <td>Neteller</td>
                  <td>3%</td>
                </tr>
                <tr>
                  <td>eKassir</td>
                  <td>2%</td>
                </tr>
                <tr>
                  <td>UnionPay</td>
                  <td>1%</td>
                </tr>
                </tbody></table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
