<div class="dashboard-left-sidebar equal-height-column">
  <div class="dashboard-left-sidebar-header">
    <h3 class="dashboard-left-sidebar-header__title">My accounts</h3>
    <div class="dashboard-left-sidebar-header__icons">
      <ul>
        <li><img src="/assets/new_assets/img/dasboard-icon-1.png" alt="Icon"></li>
        <li><img src="/assets/new_assets/img/dasboard-icon-2.png" alt="Icon"></li>
        <li><img src="/assets/new_assets/img/dasboard-icon-3.png" alt="Icon"></li>
      </ul>
    </div>
  </div>
  <div class="dashboard-left-sidebar-content">

    <accounts-component></accounts-component>

    <div class="dashboard-btn-group">
      <ul>
        <li>
          <a href="#" (click)="false">
            <div class="dashboard-btn-group__icon">
              <img src="/assets/new_assets/img/dasboard-icon-4.png" alt="Icon">
            </div>
            <span class="dashboard-btn-group__text">Snap the card</span>
          </a>
        </li>
        <li>
          <a href="#" (click)="false">
            <div class="dashboard-btn-group__icon">
              <img src="/assets/new_assets/img/dasboard-icon-4.png" alt="Icon">
            </div>
            <span class="dashboard-btn-group__text">New account</span>
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>
