<new-account-dialog-component #newAccountDialog></new-account-dialog-component>

<div class="dashboard-left-sidebar equal-height-column">
  <div class="dashboard-left-sidebar-header">
    <h3 class="dashboard-left-sidebar-header__title">My accounts</h3>
    <div class="dashboard-left-sidebar-header__icons">
      <ul>
        <li><img src="/assets/new_assets/img/dasboard-icon-1.png" alt="Icon"></li>
        <li><img src="/assets/new_assets/img/dasboard-icon-2.png" alt="Icon" style="transform:rotate(90deg)"></li>
        <li><img src="/assets/new_assets/img/dasboard-icon-3.png" alt="Icon"></li>
      </ul>
    </div>
  </div>
  <div class="dashboard-left-sidebar-content">

    <accounts-component></accounts-component>

    <div class="dashboard-btn-group">
      <ul>
        <new-button-component [text]="'Bind to card'" [image]="'dasboard-icon-5.png'"></new-button-component>
        <new-button-component (onClick)="newAccount()"></new-button-component>
      </ul>
    </div>
  </div>
</div>
