<div class="fast-btns">
  <div class="small-device-btn">
    <span>+</span>
  </div>
  <ul class="main-btns">
    <li>
      <a href="#AccBLock3" class="fast-btn" id="FatBtn1">
        <img src="/assets/new_assets/img/fast-btn-icon-3.png" alt="Icon">
        <p class="fast-btn-title">Поповнити телефон</p>
      </a>
    </li>
    <li>
      <a href="#AccBLock2" class="fast-btn" id="FatBtn2">
        <img src="/assets/new_assets/img/fast-btn-icon-2.png" alt="Icon">
        <p class="fast-btn-title">Поповнити рахунок</p>
      </a>
    </li>
    <li>
      <a href="#AccBLock1" class="fast-btn" id="FatBtn3">
        <img src="/assets/new_assets/img/fast-btn-icon-1.png" alt="Icon">
        <p class="fast-btn-title">Перевести кошти</p>
      </a>
    </li>
  </ul>
</div>
