<footer class="main-foot">
  <div class="container">
    <div class="row">
      <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12 hidden-xs">
        <img src="assets/img/final_logo.png" class="img-responsive">
      </div>
      <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 myList1">
        <ul class="sub-foot-menu menu-1">

          <li class="title"><a href="#">Our services</a></li>
          <li><a href="https://moneyfge.com/en/current-account/page1">Mobile payments</a></li>
          <li><a href="https://moneyfge.com/en/current-account/page2">Money transfer</a></li>
          <li><a href="https://moneyfge.com/en/current-account/page3">Credit payments</a></li>
          <li><a href="https://moneyfge.com/en/current-account/page4">Games/Entertainment</a></li>
          <li><a href="https://moneyfge.com/en/current-account/page5">Internet / TV / Telephone</a></li>
          <li><a href="https://moneyfge.com/en/current-account/page7">Online payments</a></li>
          <li><a href="https://moneyfge.com/en/current-account/page8">Bills</a></li>

        </ul>
      </div>
      <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12">
        <ul class="sub-foot-menu menu-1">
          <li class="title"><a href="#">Current account</a></li>
          <li><a href="https://moneyfge.com/en/user/cabinet/fill">Recharge account</a></li>
          <li><a href="https://moneyfge.com/en/user/cabinet/outmoney">Cashouts</a></li>
        </ul>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
        <ul class="sub-foot-menu menu-2">
          <li class="title"><a href="#">Payment solutions</a></li>
          <li><a href="https://moneyfge.com/en/user/cabinet/transfer">Transfer from card to card</a></li>
        </ul>
      </div>
      <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12">
        <ul class="sub-foot-menu menu-1">
          <li class="title"><a href="https://moneyfge.com/en/site/contacts">Contacts</a></li>
        </ul>
        <div class="subsribe">
          <ul class="socials">
            <li><a href="https://www.facebook.com/moneyfge/" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
            <li><a href="https://twitter.com/MoneyFGE" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
          </ul>
        </div>
        <div class="ico_block">
          <img src="assets/img/mcafee.png" class="img-responsive footer_ic_mc" width='65px' height = '24px'>
          <img src="assets/img/ssl.png" class="img-responsive footer_ic_ssl" width = '50px'>
          <img src="assets/img/icon_pci.png" class="footer_ic_mc" alt="" width='65px' height = '24px'>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <p class="copyright">
          © Payment system «MoneyFGE™» 2016
          TM is used under license holder MoneyFGE
        </p>
      </div>
    </div>
  </div>
</footer>
