<footer class="main-foot">
  <div class="container">
    <div class="row">
      <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12 hidden-xs">
        <img src="assets/img/final_logo.png" class="img-responsive">
      </div>
      <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 myList1">
        <ul class="sub-foot-menu menu-1">

          <li class="title"><a [routerLink]="['/en/site/contacts']" i18n>Our services</a></li>
          <li><a [routerLink]="['/en/current-account/page1']" i18n>Mobile payments</a></li>
          <li><a [routerLink]="['/en/current-account/page2']" i18n>Money transfer</a></li>
          <li><a [routerLink]="['/en/current-account/page3']" i18n>Credit payments</a></li>
          <li><a [routerLink]="['/en/current-account/page4']" i18n>Games/Entertainment</a></li>
          <li><a [routerLink]="['/en/current-account/page5']" i18n>Internet / TV / Telephone</a></li>
          <li><a [routerLink]="['/en/current-account/page7']" i18n>Online payments</a></li>
          <li><a [routerLink]="['/en/current-account/page8']" i18n>Bills</a></li>

        </ul>
      </div>
      <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12">
        <ul class="sub-foot-menu menu-1">
          <li class="title"><a [routerLink]="['/en/site/contacts']" i18n>Current account</a></li>
          <li><a [routerLink]="['/en/user/sign-in/login']" i18n>Recharge account</a></li>
          <li><a [routerLink]="['/en/user/sign-in/login']" i18n>Cashouts</a></li>
        </ul>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
        <ul class="sub-foot-menu menu-2">
          <li class="title"><a [routerLink]="['/en/site/contacts']" i18n>Payment solutions</a></li>
          <li><a [routerLink]="['/en/user/sign-in/login']" i18n>Transfer from card to card</a></li>
        </ul>
      </div>
      <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12">
        <ul class="sub-foot-menu menu-1">
          <li class="title"><a [routerLink]="['/en/site/contacts']" i18n>Contacts</a></li>
        </ul>
        <div class="subsribe">
          <ul class="socials">
            <li><a href="https://www.facebook.com/moneyfge/" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
            <li><a href="https://twitter.com/MoneyFGE" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
          </ul>
        </div>
        <div class="ico_block">
          <img src="assets/img/mcafee.png" class="img-responsive footer_ic_mc" width='65px' height = '24px'>
          <img src="assets/img/ssl.png" class="img-responsive footer_ic_ssl" width = '50px'>
          <img src="assets/img/icon_pci.png" class="footer_ic_mc" alt="" width='65px' height = '24px'>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <p class="copyright" i18n>
          © Payment system «MoneyFGE™» 2016
          TM is used under license holder MoneyFGE
        </p>
      </div>
    </div>
  </div>
</footer>
