<div class="content sidebar-r">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <div class="main">
          <div class="block-header">
            <h3 i18n>Popular categories</h3>
          </div>
          <div class="info-block-main">
            <div class="info-block-main-icon"><img src="/assets/img/icon-1.png" alt="Icon"></div>
            <div class="info-block-main-title">
              <a class="under-construction" href="/user/cabinet/pay-mobile"><h4 i18n>Mobile payments</h4></a></div>
            <div class="info-block-main-cats">
              <ul>
                <li><a class="under-construction" href="/user/cabinet/pay-mobile/turkcell"><img src="/assets/img/logo-mobile-1.png" alt="Logo"></a></li>
                <li><a class="under-construction" href="/user/cabinet/pay-mobile/vodaphone"><img src="/assets/img/logo-mobile-2.png" alt="Logo"></a></li>
                <li><a class="under-construction" href="/user/cabinet/pay-mobile/avea"><img src="/assets/img/logo-mobile-3.png" alt="Logo"></a></li>
                <li><a class="under-construction" href="/user/cabinet/pay-mobile/fenercell"><img src="/assets/img/phone-op-4.jpg" alt="Logo"></a></li>
                <li><a class="under-construction" href="/user/cabinet/pay-mobile/trabzoncell"><img src="/assets/img/phone-op-5.jpg" alt="Logo"></a></li>

              </ul>
            </div>
            <div class="info-block-main-link">
              <a class="btn btn-main modal_error2 under-construction" href="/site/under-construct" i18n>Additional options</a>
            </div>
          </div>
          <div class="info-block-main">
            <div class="info-block-main-icon"><img src="/assets/img/icon-2.png" alt="Icon"></div>
            <div class="info-block-main-title">
              <a class="under-construction" href="/user/cabinet/transfer"><h4 i18n>Money transfer</h4></a>
            </div>
            <div class="info-block-main-cats">
              <ul>
                <li><a href="#" class="modal_error2 under-construction"><img src="/assets/img/icon-pay-1.png" alt="Logo"></a></li>
                <li><a href="#" class="modal_error2 under-construction"><img src="/assets/img/icon-pay-2.png" alt="Logo"></a></li>
                <li><a href="#" class="modal_error2 under-construction"><img src="/assets/img/icon-pay-3.png" alt="Logo"></a></li>
                <li><a href="#" class="modal_error2 under-construction"><img src="/assets/img/icon-pay-4.png" alt="Logo"></a></li>
                <li><a href="#" class="modal_error2 under-construction"><img src="/assets/img/icon-pay-5.png" alt="Logo"></a></li>
              </ul>
            </div>
            <div class="info-block-main-link">
              <a class="btn btn-main modal_error2 under-construction" href="/site/under-construct" i18n>Additional options</a>            </div>
          </div>
          <div class="info-block-main">
            <div class="info-block-main-icon"><img src="/assets/img/icon-3.png" alt="Icon"></div>
            <div class="info-block-main-title">
              <a href="/user/cabinet/#" class="modal_error2 under-construction"><h4 i18n>Credit payments</h4></a>            </div>
            <div class="info-block-main-cats">
              <ul>
                <li><a href="#" class="modal_error2 under-construction"><img src="/assets/img/1_logo.png" alt="Logo"></a></li>
                <li><a href="#" class="modal_error2 under-construction"><img src="/assets/img/2_logo.png" alt="Logo"></a></li>
                <li><a href="#" class="modal_error2 under-construction"><img src="/assets/img/3_logo.png" alt="Logo"></a></li>
                <li><a href="#" class="modal_error2 under-construction"><img src="/assets/img/4_logo.png" alt="Logo"></a></li>
                <li><a href="#" class="modal_error2 under-construction"><img src="/assets/img/5_logo.png" alt="Logo"></a></li>
              </ul>
            </div>
            <div class="info-block-main-link">
              <a class="btn btn-main modal_error2 under-construction" href="/site/under-construct" i18n>Additional options</a>            </div>
          </div>
          <div class="info-block-main">
            <div class="info-block-main-icon"><img src="/assets/img/icon-4.png" alt="Icon"></div>
            <div class="info-block-main-title">
              <a href="/site/under-construct" class="modal_error2 under-construction"><h4 i18n>Games / Entertainment</h4></a>            </div>
            <div class="info-block-main-cats">
              <ul>
                <li><a href="#" class="modal_error2 under-construction"><img src="/assets/img/g1-logo.png" alt="Logo"></a></li>
                <li><a href="#" class="modal_error2 under-construction"><img src="/assets/img/g2-logo.png" alt="Logo"></a></li>
                <li><a href="#" class="modal_error2 under-construction"><img src="/assets/img/g3-logo.png" alt="Logo"></a></li>
                <li><a href="#" class="modal_error2 under-construction"><img src="/assets/img/g4-logo.png" alt="Logo"></a></li>
                <li><a href="#" class="modal_error2 under-construction"><img src="/assets/img/g5-logo.png" alt="Logo"></a></li>
              </ul>
            </div>
            <div class="info-block-main-link">
              <a class="btn btn-main modal_error2 under-construction" href="/site/under-construct" i18n>Additional options</a>            </div>
          </div>
          <div class="info-block-main">
            <div class="info-block-main-icon"><img src="/assets/img/icon-5.png" alt="Icon"></div>
            <div class="info-block-main-title">
              <a href="/site/under-construct" class="modal_error2 under-construction"><h4 i18n>Internet / TV / Telephone</h4></a>            </div>
            <div class="info-block-main-cats">
              <ul>
                <li><a href="#" class="modal_error2 under-construction"><img src="/assets/img/logo-mobile-1.png" alt="Logo"></a></li>
                <li><a href="#" class="modal_error2 under-construction"><img src="/assets/img/logo-mobile-2.png" alt="Logo"></a></li>
                <li><a href="#" class="modal_error2 under-construction"><img src="/assets/img/t1-logo.png" alt="Logo"></a></li>
                <li><a href="#" class="modal_error2 under-construction"><img src="/assets/img/t2-logo.png" alt="Logo"></a></li>
                <li><a href="#" class="modal_error2 under-construction"><img src="/assets/img/t3-logo.png" alt="Logo"></a></li>
              </ul>
            </div>
            <div class="info-block-main-link">
              <a class="btn btn-main modal_error2 under-construction" href="/site/under-construct" i18n>Additional options</a>            </div>
          </div>
          <div class="info-block-main">
            <div class="info-block-main-icon"><img src="/assets/img/icon-7.png" alt="Icon"></div>
            <div class="info-block-main-title">
              <a href="/site/under-construct" class="modal_error2 under-construction"><h4 i18n>Online payments</h4></a>            </div>
            <div class="info-block-main-cats">
              <ul>
                <li><a href="#" class="modal_error2 under-construction"><img src="/assets/img/p1-logo.png" alt="Logo"></a></li>
                <li><a href="#" class="modal_error2 under-construction"><img src="/assets/img/p2-logo.png" alt="Logo"></a></li>
                <li><a href="#" class="modal_error2 under-construction"><img src="/assets/img/p3-logo.png" alt="Logo"></a></li>
                <li><a href="#" class="modal_error2 under-construction"><img src="/assets/img/p4-logo.png" alt="Logo"></a></li>
                <li><a href="#" class="modal_error2 under-construction"><img src="/assets/img/p5-logo.png" alt="Logo"></a></li>
              </ul>
            </div>
            <div class="info-block-main-link">
              <a class="btn btn-main modal_error2 under-construction" href="/site/under-construct" i18n>Additional options</a>            </div>
          </div>
          <div class="info-block-main">
            <div class="info-block-main-icon"><img src="/assets/img/icon-8.png" alt="Icon"></div>
            <div class="info-block-main-title">
              <a href="/site/under-construct" class="modal_error2 under-construction"><h4 i18n>Bills</h4></a>            </div>
            <div class="info-block-main-link">
            </div>
          </div>
        </div>
      </div>        </div>
  </div>
</div>
