<header class="inner-head">

  <home-header-component></home-header-component>

  <div class="head-banner" style="background-image: url(assets/img/comuna2l.jpg);">
    <div class="container">
      <div class="row">
        <div class="col-md-7">
          <div class="head-banner-info">
            <ng-container i18n>
            <h1>Fast<br class="hidden-sm hidden-xs">and easy online payments <br class="hidden-sm hidden-xs"><small> of utility bills .</small></h1>
            </ng-container>
          </div>
        </div>
        <div class="col-md-5"></div>
      </div>
    </div>
  </div>

</header>

<div class="main">
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <h1 class="page-title"><small i18n>Bills</small></h1>
        <div class="main-text">
          <p i18n>Utility payments</p>
          <p i18n>Our billing system allows you to pay your utility bills through the Internet. This can be done from home or office with access to the Internet, do not need to go to the bank. Operations are conducted instantly and reliably. You have to register at the registration and you can also specify multiple personal accounts. You can customize the service of regular utility bills  will remove a certain amount of money from your card.
          </p>
          <div class="table-responsive">
            <table class="table table-striped hide">
              <tbody><tr>
                <th i18n>Bills</th>
                <th i18n>Commission</th>
              </tr>
              <tr>
                <td i18n>Light</td>
                <td>1%</td>
              </tr>
              <tr>
                <td i18n>Gas</td>
                <td>2%</td>
              </tr>
              <tr>
                <td i18n>Water</td>
                <td>2%</td>
              </tr>
              </tbody></table>
          </div>

        </div>
      </div>


      <div class="col-md-4">
        <div class="aside">
          <!--        <h2 class="page-subtitle">--><!--?//= Yii::t('frontend', 'У Вас есть вопросы?') ?--><!--</h2>-->
          <!--        <div class="btns-group">-->
          <!--            <button type="button" class="btn btn-fill" data-toggle="modal" data-target="#exampleModal" data-whatever="@mdo"><i class="icon-phone-white"></i>--><!--?//= Yii::t('frontend', 'Бесплатный звонок') ?--><!--</button>-->
          <!--            <button type="button" class="btn btn-fill" data-toggle="modal" data-target="#exampleModal1" data-whatever="@mdo"><i class="icon-mail-white"></i>--><!--?//= Yii::t('frontend', 'Электронная почта') ?--><!--</button>-->
          <!--        </div>-->
          <!--<div class="block-item image" style="background-image: url(/img/block-item-bg.jpg);"><a href="#"></a></div>-->
        </div>
      </div>

    </div>
  </div>
</div>

<home-footer-component></home-footer-component>
