<div class="main-sect sect-grey">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <h2 class="sect-title">News from <span>MoneyFGE</span></h2>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <div class="news-block">
          <a class="news-thumb" [routerLink]="['/article-1']"><img src="/assets/new_assets/img/article/1_1.jpg" alt="news"></a>
          <h5 class="news_title"><a [routerLink]="['/article-1']">Euro rose against the US dollar</a></h5>
          <p class="news_content">This happened to the closing of US sales on Tuesday, 28th of December ...</p>
        </div>
      </div>
      <div class="col-md-4">
        <div class="news-block">
          <a class="news-thumb"[routerLink]="['/article-2']"><img src="/assets/new_assets/img/article/2_2.jpg" alt="news"></a>
          <h5 class="news_title"><a [routerLink]="['/article-2']"> Shopping on the Internet totaled 6% of global retail sales</a></h5>
          <p class="news_content">E-commerce is growing every year ...</p>
        </div>
      </div>
      <div class="col-md-4">
        <div class="news-block">
          <a [routerLink]="['/article-3']" class="news-thumb"><img src="/assets/new_assets/img/article/3_3.jpg" alt="news"></a>
          <h5 class="news_title"><a [routerLink]="['/article-3']">MasterCArd introduced payment service through selfie</a></h5>
          <p class="news_content">With Identity Check Mobile applications can be completed online purchase without enter a PIN ...</p>
        </div>
      </div>
    </div>
  </div>
</div>
