<!--<div id="account-sms-dialog" class="modal" style="display: none;">-->
  <!--<div class="modal_beckground">-->
    <!--<div class="modal_box">-->
      <!--<div class="modal_head">Confirm SMS Code</div>-->
      <!--<div class="modal_body text-center">-->
        <!--<label>SMS code</label><br />-->
        <!--<input type="text" required="required" [(ngModel)]="smsCode" style="text-align:center;" />-->
      <!--</div>-->
      <!--<div class="modal_footer">-->
        <!--<button class="btn btn-accent btn-big" (click)="closeSmsDialog()">Send</button>-->
      <!--</div>-->
    <!--</div>-->
  <!--</div>-->
<!--</div>-->

<sms-code-dialog-component [id]="'unlock'" [sms]="smsModel" (sendCode)="closeSmsDialog()"></sms-code-dialog-component>

<confirm-dialog-component [dialogId]="'lock'" [message]="'Are you sure?'"
  (accept)="lockAccount()"></confirm-dialog-component>

<div class="col-lg-9 col-xs-12">
    <div class="main">

        <div class="block-header">
            <h3 i18n>My Accounts</h3>
        </div>

        <div id="block" class="info-block">

          <alert-component></alert-component>

          <no-account-component [show]="cards && cards.active.length === 0 && cards.lock.length === 0 && cards.deleted.length === 0"></no-account-component>

            <div *ngIf="cards && cards.active.length > 0">
              <h3 i18n>Active Accounts</h3>
              <table id="active" class="table">
                <thead>
                  <tr>
                    <th>#</th>
                    <th i18n>Account</th>
                    <th i18n>Created</th>
                    <th i18n>Currency</th>
                    <th i18n>Balance</th>
                    <th i18n>Actions</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let card of cards.active; let ind = index;">
                    <td>{{ ind + 1 }}</td>
                    <td>{{card.id}}</td>
                    <td>{{ card.creat | date: 'dd.MM.yyyy' }}</td>
                    <td>{{ card.currency }}</td>
                    <td>{{ card.sum.toFixed(2) }}</td>
                    <td style="font-size: 12px">
                      <a href="#" (click)="openConfirm($event, card.id)" i18n>Lock</a>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>

            <div *ngIf="cards && cards.lock.length > 0">
              <h3 i18n>Lock Accounts</h3>
              <table id="locked" class="table">
                <thead>
                  <tr>
                    <th>#</th>
                    <th i18n>Account</th>
                    <th i18n>Created</th>
                    <th i18n>Currency</th>
                    <th i18n>Balance</th>
                    <th i18n>Actions</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let card of cards.lock; let ind = index;">
                    <td>{{ ind + 1 }}</td>
                    <td>{{card.id}}</td>
                    <td>{{ card.creat | date: 'dd.MM.yyyy' }}</td>
                    <td>{{ card.currency }}</td>
                    <td>{{ card.sum.toFixed(2) }}</td>
                    <td style="font-size: 12px">
                      <a href="#" (click)="unlockAccount($event, card.id)" i18n>Unlock</a>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>

            <div *ngIf="cards && cards.deleted.length > 0">
              <h3 i18n>Deleted Accounts</h3>
              <table class="table">
                <thead>
                  <tr>
                    <th>#</th>
                    <th i18n>Account</th>
                    <th i18n>Created</th>
                    <th i18n>Currency</th>
                    <th i18n>Balance</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let card of cards.deleted; let ind = index;">
                    <td>{{ ind + 1 }}</td>
                    <td></td>
                    <td>{{ card.creat | date: 'dd.MM.yyyy' }}</td>
                    <td>{{ card.currency }}</td>
                    <td>{{ card.sum.toFixed(2) }}</td>
                  </tr>
                </tbody>
              </table>
            </div>

        </div>
    </div>
</div>
