<header class="inner-head">

  <home-header-component></home-header-component>

  <div class="head-banner" style="background-image: url(assets/img/mobile-payments.jpg);">
    <div class="container">
      <div class="row">
        <div class="col-md-7">
          <div class="head-banner-info">
            <h1>Easy mobile payments<br class="hidden-sm hidden-xs"> online<br class="hidden-sm hidden-xs"></h1>
          </div>
        </div>
        <div class="col-md-5"></div>
      </div>
    </div>
  </div>
  </header>

  <div class="main">
    <div class="container">
      <div class="row">
        <div class="col-md-8">
          <h1 class="page-title">
            <small>Mobile payments</small>
          </h1>
          <div class="main-text">
            <p>Mobile Payment Service</p>
            <p>With this service, you can replenish their accounts of mobile phones when you have access to the Internet, PC and mobile devices. This service can be used by contract customers and prepaid subscribers. All transactions with mobile payment accounts occur within minutes. For the transaction enter your mobile phone number and the amount that you want to update your account with. This service is available to all operators. Use our service for mobile communications, it is convenient and easy!</p>
            <div class="table-responsive">
              <table class="table table-striped hide">
                <tbody><tr>
                  <th>Mobile operators</th>
                  <th>Commission</th>
                </tr>
                <tr>
                  <td>Vodafone</td>
                  <td>1%</td>
                </tr>
                <tr>
                  <td>Turkell</td>
                  <td>2%</td>
                </tr>
                <tr>
                  <td>Avea</td>
                  <td>2%</td>
                </tr>
                </tbody></table>
            </div>

          </div>
        </div>


        <div class="col-md-4">
          <div class="aside">
            <!--        <h2 class="page-subtitle">--><!--?//= Yii::t('frontend', 'У Вас есть вопросы?') ?--><!--</h2>-->
            <!--        <div class="btns-group">-->
            <!--            <button type="button" class="btn btn-fill" data-toggle="modal" data-target="#exampleModal" data-whatever="@mdo"><i class="icon-phone-white"></i>--><!--?//= Yii::t('frontend', 'Бесплатный звонок') ?--><!--</button>-->
            <!--            <button type="button" class="btn btn-fill" data-toggle="modal" data-target="#exampleModal1" data-whatever="@mdo"><i class="icon-mail-white"></i>--><!--?//= Yii::t('frontend', 'Электронная почта') ?--><!--</button>-->
            <!--        </div>-->
            <!--<div class="block-item image" style="background-image: url(/img/block-item-bg.jpg);"><a href="#"></a></div>-->
          </div>
        </div>

      </div>
    </div>
  </div>

<home-footer-component></home-footer-component>
