<header class="inner-head">

  <home-header-component></home-header-component>

  <div class="head-banner" style="background-image: url(assets/img/mobile-payments.jpg);">
    <div class="container">
      <div class="row">
        <div class="col-md-7">
          <div class="head-banner-info">
            <h1 i18n>Easy mobile payments online</h1>
            <!--<h1><span i18n>Easy mobile payments</span><br class="hidden-sm hidden-xs"> <span i18n>online</span><br class="hidden-sm hidden-xs"></h1>-->
          </div>
        </div>
        <div class="col-md-5"></div>
      </div>
    </div>
  </div>
  </header>

  <div class="main">
    <div class="container">
      <div class="row">
        <div class="col-md-8">
          <h1 class="page-title">
            <small i18n>Mobile payments</small>
          </h1>
          <div class="main-text">
            <p i18n>Mobile Payment Service</p>
            <p i18n>With this service, you can replenish their accounts of mobile phones when you have access to the Internet, PC and mobile devices. This service can be used by contract customers and prepaid subscribers. All transactions with mobile payment accounts occur within minutes. For the transaction enter your mobile phone number and the amount that you want to update your account with. This service is available to all operators. Use our service for mobile communications, it is convenient and easy!</p>
            <div class="table-responsive">
              <table class="table table-striped hide">
                <tbody><tr>
                  <th i18n>Mobile operators</th>
                  <th i18n>Commission</th>
                </tr>
                <tr>
                  <td>Vodafone</td>
                  <td>1%</td>
                </tr>
                <tr>
                  <td>Turkell</td>
                  <td>2%</td>
                </tr>
                <tr>
                  <td>Avea</td>
                  <td>2%</td>
                </tr>
                </tbody></table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

<home-footer-component></home-footer-component>
