.cash-list-panel__percent {
    color: #718bab;
    margin-left: 15px; }

.cash-list-panel__limit {

    color: #718bab; }

/*input[type="range"]::-webkit-slider-runnable-track {*/
    /*background: #718bab;*/
/*}*/
/*input[type="range"]::-webkit-slider-thumb {*/
    /*border: 1px solid #718bab;*/
/*}*/
/*input[type="range"]:focus::-webkit-slider-runnable-track {*/
    /*background: #718bab;*/
/*}*/

/*input[type="range"]::-moz-range-thumb {*/
    /*border: 1px solid #718bab;*/
    /*}*/
/*input[type="range"]::-moz-range-progress {*/
    /*background: #718bab;*/
/*}*/

/*input[type="range"]::-ms-fill-lower {*/
    /*background: #718bab;*/
/*}*/

/*input[type="range"]::-ms-thumb {*/
    /*border: 1px solid #718bab;*/
    /*}*/

.profile-menu {
    position: absolute;
    width: 100%;
    left: 0;
    bottom: -150px;
    background-color: #ffffff;
    padding: 10px 20px;
    margin-bottom: -10px;
    z-index: 10;
    visibility: hidden;
    -webkit-transition: all 0.25s ease;
    transition: all 0.25s ease;
    border-radius: 2px;
    box-shadow: 0 0 5px 0 rgba(76, 76, 75, 0.33)}

#caret-list{
    width: 15px;
    height: 15px;
    background: white;
    box-shadow: 0 0 5px 0 rgba(76, 76, 75, 0.33);
    position: absolute;
    margin-top: -132px;
    margin-left: 125px;
    -webkit-transform: rotate(35deg) skewY(23deg);
    -moz-transform: rotate(35deg) skewY(23deg);
    -ms-transform: rotate(35deg) skewY(23deg);
    -o-transform: rotate(35deg) skewY(23deg);
    transform: rotate(35deg) skewY(23deg)
}
#caret-list2{
    position: absolute;
    width: 25px;
    height: 15px;
    background: white;
    top: 0px;
    left: 136px;
}
#caret-up{
    float: right;
    position: relative;
    top: -16px;
    right: 56px;
}
#list_cash{
    min-width: 45px;
    color: rgba(0, 0, 0, 0.61);
    font-size: 12px;
    position: absolute;
    margin-left: 90px;
    margin-top: -8px;
}
#list_cash>li{
    margin-bottom: 0px;
    padding-bottom: 0px;
    padding-top: 4px;
    cursor: pointer;
    padding: 0 10px;
}
#list_cash>li:hover{
    background: rgba(76, 76, 75, 0.1);
    width:100%;
}
.expenses-latest-bills_content {
    background-color: #fff;
    padding: 5px 35px 5px; }
#no_payments_img{
    margin-left: 2px;
}
.expenses-cash-panel .expenses-cash-panel-right .expenses-cash-panel-heading__datepicker input {
    width: 90px; }
.pie-chart {
    /*width: 145px;*/
    /*height: 150px;*/
    float: left;
    margin-top: 20px;
    margin-right: 15px; }
.expenses-latest-bills_content {
    background-color: #fff;
    padding: 5px 35px 5px; }
.expenses-latest-bills_content__bill-list li {
    margin-bottom: 5px;
    position: relative; }
.expenses-latest-bills_content__icon {
    margin-top: 13px;
     }
.profile-menu a {
    color: #4d4d4c;
}
.expenses-latest-bills_content__bill:before{
    background-color: transparent;
}
.img-responsive{
    float: left;
}
.protect img {
    margin-right: 30px;
}
.modal-header {
    padding: 0 15px;
    border-bottom: 1px solid #e5e5e5;
}
.modal-header .modal-title{
    background-color: #d8d8d8;
    margin-left: -15px;
    margin-right: -15px;
    padding: 10px 0;
    padding-top: 40px;
    position: relative;
    font-size: 16px;
    font-weight: 500; }
.modal-header .modal-title:before {
    content: '';
    background-color: #f6bc2c;
    height: 30px;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%; }
.mfp-close {
    width: 32px;
    height: 30px;
    line-height: 32px;
    color: #4c4c4b;
}
.transfer-select, .select2 {
    max-width: 320px; }
.transfer-select, .select2 .total {
    padding-left: 30px; }

.transfer-select, .select2-container--default .select2-selection--single .select2-selection__rendered {
    font-size: 15px;
    font-weight: normal;
    color: #345382; }
.select2-container--default .select2-selection--single .select2-selection__rendered,.input-medium.input-white{
    border: 1px solid rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: none;
    box-shadow: none;
}
.expenses-cash-panel .expenses-cash-panel-right{
    min-height: 263px;
}
#header_sign_out{
    border-top: 1px solid rgba(134, 131, 131, 0.24);
    padding-top: 5px;
}
.msg-success p {
    text-align: center;
}

.money-course span {
    margin-right: 15px; }

.merch-btn {
    margin-bottom: 10px; }

.expenses-cash-panel-content {
    padding: 20px 15px 10px 15px;
}

.transfer-form .input-small-width:read-only {
    background: #ebebe4;
}
.modal-content{
    border-radius: 0px;
}
.dashboard-header .profile .profile-name{
    max-width: 100px;
    margin-left: 5px;
    margin-top: 15px;
}
.dashboard-header .top-profile{
    margin-left: 35px;
}
.dashboard-header .notification-block{
    margin-left: 30px;
}
ul.dash-main-menu.clearfix{
    padding-left: 20px;
}

p.expenses-latest-bills_content__bill.no-payment-content {
    top: 15px;
}

.transfer-switcher .s1, .transfer-switcher .s2, .transfer-switcher .s3 {
    cursor: pointer;
}

.transfer-switcher .s1, .transfer-switcher .s3 {
    border-bottom: 1px dashed;
}

.transfer-switcher .s2 {
    margin-top: 12px;
    margin-right: 20px;
}

.transfer-switcher .s2 .dot {
    height: 20px;
    width: 20px;
}

.transfer-switcher .s2 .line {
    width: 45px;
    height: 12px;
}

#transferToInput {
    max-width: 320px;
    background-color: #fff;
    padding-left: 30px;
}
.lang_block{
    margin-right: -80px;
    z-index: 100;
}
#popup-content-right{
    float: right;
}
.list-terms{
    padding-left: 14px;
}

.top_line .overlay-wrapper {
    position: relative;
    min-height: 20px;
}