.cash-list-panel__percent {
    color: #718bab;
    margin-left: 15px; }

.cash-list-panel__limit {

    color: #718bab; }

/*input[type="range"]::-webkit-slider-runnable-track {*/
    /*background: #718bab;*/
/*}*/
/*input[type="range"]::-webkit-slider-thumb {*/
    /*border: 1px solid #718bab;*/
/*}*/
/*input[type="range"]:focus::-webkit-slider-runnable-track {*/
    /*background: #718bab;*/
/*}*/

/*input[type="range"]::-moz-range-thumb {*/
    /*border: 1px solid #718bab;*/
    /*}*/
/*input[type="range"]::-moz-range-progress {*/
    /*background: #718bab;*/
/*}*/

/*input[type="range"]::-ms-fill-lower {*/
    /*background: #718bab;*/
/*}*/

/*input[type="range"]::-ms-thumb {*/
    /*border: 1px solid #718bab;*/
    /*}*/

.profile-menu {
    position: absolute;
    width: 100%;
    left: 0;
    bottom: -150px;
    background-color: #ffffff;
    padding: 10px 20px;
    margin-bottom: -10px;
    z-index: 10;
    visibility: hidden;
    -webkit-transition: all 0.25s ease;
    transition: all 0.25s ease;
    border-radius: 2px;
    box-shadow: 0 0 5px 0 rgba(76, 76, 75, 0.33)}

#caret-list{
    width: 15px;
    height: 15px;
    background: white;
    box-shadow: 0 0 5px 0 rgba(76, 76, 75, 0.33);
    position: absolute;
    margin-top: -132px;
    margin-left: 125px;
    -webkit-transform: rotate(35deg) skewY(23deg);
    -moz-transform: rotate(35deg) skewY(23deg);
    -ms-transform: rotate(35deg) skewY(23deg);
    -o-transform: rotate(35deg) skewY(23deg);
    transform: rotate(35deg) skewY(23deg)
}
#caret-list2{
    position: absolute;
    width: 25px;
    height: 15px;
    background: white;
    top: 0px;
    left: 136px;
}
#caret-up{
    float: right;
    position: relative;
    top: -16px;
    right: 56px;
}
#list_cash{
    min-width: 45px;
    color: rgba(0, 0, 0, 0.61);
    font-size: 12px;
    position: absolute;
    margin-left: 90px;
    margin-top: -8px;
}
#list_cash>li{
    margin-bottom: 0px;
    padding-bottom: 0px;
    padding-top: 4px;
    cursor: pointer;
    padding: 0 10px;
}
#list_cash>li:hover{
    background: rgba(76, 76, 75, 0.1);
    width:100%;
}
.expenses-latest-bills_content {
    background-color: #fff;
    padding: 5px 35px 5px; }
#no_payments_img{
    margin-left: 2px;
}
.expenses-cash-panel .expenses-cash-panel-right .expenses-cash-panel-heading__datepicker input {
    width: 90px; }
.pie-chart {
    /*width: 145px;*/
    /*height: 150px;*/
    float: left;
    margin-top: 20px;
    margin-right: 15px; }
.expenses-latest-bills_content {
    background-color: #fff;
    padding: 5px 35px 5px; }
.expenses-latest-bills_content__bill-list li {
    margin-bottom: 5px;
    position: relative; }
.expenses-latest-bills_content__icon {
    margin-top: 13px;
     }
.profile-menu a {
    color: #4d4d4c;
}
.expenses-latest-bills_content__bill:before{
    background-color: transparent;
}
.img-responsive{
    float: left;
}
.protect img {
    margin-right: 30px;
}
.modal-header {
    padding: 0 15px;
    border-bottom: 1px solid #e5e5e5;
}
.modal-header .modal-title{
    background-color: #d8d8d8;
    margin-left: -15px;
    margin-right: -15px;
    padding: 10px 0;
    padding-top: 40px;
    position: relative;
    font-size: 16px;
    font-weight: 500; }
.modal-header .modal-title:before {
    content: '';
    background-color: #f6bc2c;
    height: 30px;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%; }
.mfp-close {
    width: 32px;
    height: 30px;
    line-height: 32px;
    color: #4c4c4b;
}
.transfer-select, .select2 {
    max-width: 320px; }
.transfer-select, .select2 .total {
    padding-left: 30px; }

.transfer-select, .select2-container--default .select2-selection--single .select2-selection__rendered {
    font-size: 15px;
    font-weight: normal;
    color: #345382; }
.select2-container--default .select2-selection--single .select2-selection__rendered,.input-medium.input-white{
    border: 1px solid rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: none;
    box-shadow: none;
}
.expenses-cash-panel .expenses-cash-panel-right{
    min-height: 263px;
}
#header_sign_out{
    border-top: 1px solid rgba(134, 131, 131, 0.24);
    padding-top: 12px;
}
.msg-success p {
    text-align: center;
}

.money-course span {
    margin-right: 15px; }

.merch-btn {
    margin-bottom: 10px; }

.expenses-cash-panel-content {
    padding: 20px 15px 10px 15px;
}

.transfer-form .input-small-width:read-only {
    background: #ebebe4;
}
.modal-content{
    border-radius: 0px;
}
.dashboard-header .profile .profile-name{
    max-width: 100px;
    margin-left: 5px;
    margin-top: 15px;
}
.dashboard-header .top-profile{
    margin-left: 35px;
}
.dashboard-header .notification-block{
    margin-left: 30px;
}
ul.dash-main-menu.clearfix{
    padding-left: 20px;
}

p.expenses-latest-bills_content__bill.no-payment-content {
    top: 15px;
}

.transfer-switcher .s1, .transfer-switcher .s2, .transfer-switcher .s3 {
    cursor: pointer;
}

.transfer-switcher .s1, .transfer-switcher .s3 {
    border-bottom: 1px dashed;
}

.transfer-switcher .s2 {
    margin-top: 4px;
    margin-right: 20px;
}

.transfer-switcher .s2 .dot {
    height: 20px;
    width: 20px;
}

.transfer-switcher .s2 .line {
    width: 45px;
    height: 12px;
}

#transferToInput {
    max-width: 320px;
    background-color: #fff;
    padding-left: 30px;
}
.lang_block{
    margin-right: -80px;
    z-index: 100;
}
#popup-content-right{
    float: right;
}
.list-terms{
    padding-left: 14px;
}

.top_line .overlay-wrapper {
    position: relative;
    min-height: 20px;
}
.dashboard-account-list li:nth-child(odd) {
    background-color: rgba(76, 76, 75, 0);
}
.dashboard-account-list li:hover{
    cursor: pointer;
    background: rgb(216, 216, 216) !important;
}
#transferToInput {
    background: #fff url(/assets/new_assets/img/favicon/favicon1.png) no-repeat scroll 15px 9px;
    background-size: 20px 20px;
    padding-left: 40px;
    margin-bottom: 10px;
}
.card--info.email-block{
    margin-top: 20px;
}
.unactiveAccount{
    background:rgba(76, 76, 75, 0);
}
.activeAccount{
    background:#D8D8D8;
}
.popular-services--block__readmore:visited{
    color: white;
}
.card-number_flag{
    width: 25px;
}
#sms-dialog_btn{
    box-shadow: 1px 1px 3px 0 #7f7f7f;
}
.bills-history th{
    text-align: center;
}
.bills-history th:first-child, .bills-history td:first-child{
    text-align: left;
}

ul.dash-main-menu.clearfix {
    padding-left: 0px;
}

/*LOADER*/

.cssload-container {
    width: 100%;
    height: 49px;
    text-align: center;
    margin-top: 85px;
    opacity: 0.4;
}

.cssload-double-torus {
    width: 35px;
    height: 35px;
    margin: 0 auto;
    border: 4px double;
    border-radius: 50%;
    border-color: transparent rgba(0,0,0,0.9) rgba(0,0,0,0.9);
    animation: cssload-spin 690ms infinite linear;
    -o-animation: cssload-spin 690ms infinite linear;
    -ms-animation: cssload-spin 690ms infinite linear;
    -webkit-animation: cssload-spin 690ms infinite linear;
    -moz-animation: cssload-spin 690ms infinite linear;
}


@keyframes cssload-spin {
    100%{ transform: rotate(360deg); transform: rotate(360deg); }
}

@-o-keyframes cssload-spin {
    100%{ -o-transform: rotate(360deg); transform: rotate(360deg); }
}

@-ms-keyframes cssload-spin {
    100%{ -ms-transform: rotate(360deg); transform: rotate(360deg); }
}

@-webkit-keyframes cssload-spin {
    100%{ -webkit-transform: rotate(360deg); transform: rotate(360deg); }
}

@-moz-keyframes cssload-spin {
    100%{ -moz-transform: rotate(360deg); transform: rotate(360deg); }
}

/*LOADER END*/

#SMSBLockBtn{
    cursor: pointer;
}
.switch span.off{
    display: none;
}
.switch span.left-part{
    float: left;
    width: 50px;
    padding: 10px 10px;
    background-color: #fff;
    -webkit-border-top-left-radius: 2px;
    border-top-left-radius: 2px;
    -webkit-border-bottom-left-radius: 2px;
    border-bottom-left-radius: 2px;
}
.switch span.on span.left-part i{
    color: #fbb800;
    font-size: 20px;
}
.switch span.off span.left-part i{
    color: #e3e3e3;
    font-size: 20px;
}
.SmsNotifSwitch{
    padding: 0;
    margin: 20px 0 15px;
    width: auto;
    background-color: transparent;
}
.switch span.right-part{
    float: left;
    padding: 10px;
    text-align: center;
    width: 180px;
    -webkit-border-top-right-radius: 2px;
    border-top-right-radius: 2px;
    -webkit-border-bottom-right-radius: 2px;
    border-bottom-right-radius: 2px;
}
.switch span.on span.right-part{
    color: #fff;
    background-color: #fbb800;
}
.switch span.off span.right-part{
    color: #A1A1A1;
    background-color: #e3e3e3;
}

#EmailStep2 {
    margin-top: 0;
}

#EmailStep2Block {
    display:none;
}
#EmailStep2Block .btn-accent{
    margin-top: 0;
    width: 125px;
}
#site_confirm_input{
    padding: 5px 20px;
    text-align: center;
}
#msgErrorPas{
    display: none;
}
.expenses-latest-bills_content {
    -webkit-transition: max-height 0.5s;
    transition: max-height 0.5s;
    overflow: hidden; }
.expenses-latest-bills_content.opened {
    max-height: 800px;
    -webkit-transition: max-height 1s;
    transition: max-height 1s; }
.newNumberSuccess, .newNumberError{
    display: none;
}
.emailError {
    display: none;
    float: right;
}
.profile-menu ul li {
    margin: 9px 0;
}
#EmailLinkSubmit{
    margin: 35px 0 15px 0;
}
.setting-indicator.disable:before {
    background-color: #c6c6c6; }
.msgLetterEmail{
    display: none;
}
.merchant_table td{
    border: 1px solid rgba(128, 128, 128, 0.28);
    padding: 10px 15px;
}
.merchant_table th{
    border: 1px solid rgba(128, 128, 128, 0.28);
    padding: 10px 15px;
    width: 300px;
    background: rgba(230, 230, 230, 0.78);
}
.merchant_info{
    margin-top: 30px;
}
.merchant_info td{
    width: 500px;
}