<div class="content sidebar-r">
    <div class="container">
        <div class="row">

<div class="xs-flex-box">
    <router-outlet></router-outlet>

    <div class="col-lg-3 col-xs-12">
        <div class="aside">
            <div class="info-block widget">
                <div class="block-header">
                    <h3>Working with Accounts</h3>
                </div>
                <div class="info-block-content">
                    <ul class="links-list">
                        <li><a [routerLink]="['/en/user/cabinet/score/create']">Создать счет</a></li>
                        <li><a href="/en/user/card-order/create">Заказать карту</a></li>
                        <li><a href="/en/user/card/index">Мои карты</a></li>
                        <li><a href="/en/user/card-order/index">Заказы карт</a></li>
                        <li><a href="/en/user/card/activate">Активировать карту</a></li>
                        <li><a href="/en/user/payment/create">Money transaction</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>        </div>
    </div>
</div>
