<div class="content sidebar-r">
    <div class="container">
        <div class="row">

<div class="xs-flex-box">
    <router-outlet></router-outlet>

    <div class="col-lg-3 col-xs-12">
        <div class="aside">
            <div class="info-block widget">
                <div class="block-header">
                    <h3 i18n>Working with Accounts</h3>
                </div>
                <div class="info-block-content">
                    <ul class="links-list">
                        <li><a [routerLink]="['/en/user/cabinet/score/create']" i18n>Create an account</a></li>
                        <li><a class="under-construction" href="#" i18n>Order card</a></li>
                        <li><a class="under-construction" href="#" i18n>My cards</a></li>
                        <li><a class="under-construction" href="#" i18n>Orders of cards</a></li>
                        <li><a class="under-construction" href="#" i18n>Activate card</a></li>
                        <li><a class="under-construction" href="#" i18n>Money transaction</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>        </div>
    </div>
</div>
