<sms-code-dialog-component [id]="'email'" [sms]="smsModel" (sendCode)="closeSmsDialog($event)"></sms-code-dialog-component>

<alert-component></alert-component>

<form id="email-form" (ngSubmit)="submitForm()" [formGroup]="emailForm">
  <div [ngClass]="{'form-group': true, 'has-error': !(emailForm.controls.email.valid || emailForm.controls.email.pristine)}">
    <label class="control-label" for="email">
      <span i18n>Email</span>
      <i class="fa fa-info-circle" data-toggle="tooltip" data-placement="auto right" i18n-title title="Valid email address"></i>
    </label>
    <input id="email" type="email" required="required" i18n-placeholder placeholder="You email address" name="email" class="form-control"
           formControlName="email" />
  </div>
  <div [ngClass]="{'form-group': true, 'has-error': !(emailForm.controls.password.valid || emailForm.controls.password.pristine)}">
    <label class="control-label" for="password">
      <span i18n>Password</span>
      <i class="fa fa-info-circle" data-toggle="tooltip" data-placement="auto right" i18n-title title="your password"></i>
    </label>
    <input id="password" class="form-control" type="password" required="required" i18n-placeholder placeholder="You password" name="password"
           formControlName="password" />
  </div>
  <div class="form-group">
    <button type="submit" class="btn btn-accent btn-small" style="height: 30px" i18n>Save</button>
  </div>
</form>
