<sms-code-dialog-component (sendCode)="showCode($event)"></sms-code-dialog-component>

<form id="email-form" (submit)="submitForm($event)">
  <div class="table">
    <div class="table-row">
      <div class="table-cell" style="vertical-align: top;">
        E-mail address <i class="fa fa-info-circle" data-toggle="tooltip" data-placement="auto right" title="You can provide email address"></i>
      </div>
      <div class="table-cell">
        <label>Email</label><br />
        <input type="email" required="required" placeholder="You email address" [(ngModel)]="model.email" name="email" style="width: 100%;padding: 5px 10px;border: 1px solid #edeef0;" /><br /><br />
        <label>Password</label><br />
        <input type="password" required="required" placeholder="You password" [(ngModel)]="model.password" name="password" /><br /><br />
        <button class="btn btn-accent btn-small" style="height: 30px">Save</button>
      </div>
    </div>
  </div>
</form>
