<header>
  <div class="top-line">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-xs-12">
          <ul class="main-menu">
            <li [ngClass]="{'active': activeLink === 'cabinet'}"><a [routerLink]="['/en/user/cabinet']" (click)="cabinetClick()"><i class="fa fa-home"></i></a></li>
            <li [ngClass]="{'active': activeLink === 'categories'}"><a [routerLink]="['/en/user/cabinet/categories']" (click)="paymentClick()"><i class="fa fa-credit-card"></i><span i18n> Payment</span></a></li>
            <li [ngClass]="{'active': activeLink === 'transfer'}"><a [routerLink]="['/en/user/cabinet/transfer/index']" (click)="transferClick()"><i class="fa fa-bars"></i> <span i18n>Transfers</span></a></li>
            <li [ngClass]="{'active': activeLink === 'fill'}"><a [routerLink]="['/en/user/cabinet/fill']" (click)="fillClick()"><i class="fa fa-dollar"></i><span i18n> REPLENISHMENT</span></a></li>
            <li [ngClass]="{'active': activeLink === 'index'}"><a [routerLink]="['/en/user/cabinet/score/index']" (click)="scoreClick()"><i class="fa fa-money"></i><span i18n> My cards</span></a></li>
            <li [ngClass]="{'active': activeLink === 'outmoney'}"><a [routerLink]="['/en/user/cabinet/outmoney']" (click)="outmoneyClick()"><i class="fa fa-ticket"></i><span i18n> Cashouts</span></a></li>
          </ul>
        </div>
        <div class="col-lg-2 col-sm-4 col-xs-12">
          <div class="top-search">
            <form>
              <input type="text">
              <button type="submit"><i class="fa fa-search"></i></button>
            </form>
          </div>
        </div>
        <div class="col-lg-2 col-sm-8 col-xs-12">
          <div class="top-profile" style="max-height: 63px;">
            <div class="profile">
              <div class="profile-img" style="background-image: url('assets/img/ava.jpg')"></div>
              <p class="summ"></p>
              <a href="#" class="pay under-construction" style="position: relative; top: -19px; left: 50px;">{{user?.telephone}}</a>
              <i class="fa fa-caret-down" style="position: relative; top: -18px; left: 50px;"></i>
              <div class="profile-menu">
                <ul>
                  <li><a class="under-construction" href="#"><i class="fa fa-history"></i><span i18n> History</span></a></li>
                  <li><a class="under-construction" href="#"><i class="fa fa-gift"></i><span i18n> Bonus</span></a></li>
                  <li><a class="under-construction" href="#"><i class="fa fa-info"></i><span i18n> Help</span></a></li>
                  <li><a [routerLink]="['/en/user/cabinet/settings/profile']"><i class="fa fa-gear"></i><span i18n> Settings</span></a></li>
                </ul>
              </div>
            </div>
            <a href="#" class="logout" (click)="logout($event)" style="position:relative;top:-16px;left:-11px;"><i class="fa fa-sign-out"></i></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>

<div class="container">
  <div class="row">
    <div class="col-md-6"></div>
    <div class="col-md-6 col-xs-12">
      <ul class="courses" style="margin: 7px 0;">
        <li><span>USD:</span> 25.7/26.0 </li>
        <li><span>EUR:</span> 29.60/30.03 </li>
      </ul>
    </div>
  </div>
</div>
