<div class="main">
  <div class="block-header">
    <h3>Settings</h3>
  </div>

  <div id="block" class="info-block settings-block">

    <div class="alert alert-{{ msgType }}" *ngIf="isAlert">
      <button type="button" class="close" (click)="closeAlert()">
        <span aria-hidden="true">&times;</span>
      </button>
      {{ msg }}
    </div>

    <div style="margin-top: 40px">

      <div class="table">
        <div class="table-row">
          <div class="table-cell" i18n>SMS of the deposits and the expenses</div>
          <div class="table-cell">
            <input type="checkbox" id="sms-check" [checked]="isCheckSms" (click)="isCheckSmsChange($event)" />
          </div>
        </div>
      </div>

      <div class="table">
        <div class="table-row">
          <div class="table-cell" style="vertical-align: top">
            <span i18n>The number of purse</span>
            <i class="fa fa-info-circle" data-toggle="tooltip" data-placement="auto right" i18n-title title="You can change telephone number"></i>
          </div>
          <div class="table-cell">
            <phone-form-component></phone-form-component>
          </div>
        </div>
      </div>

      <div class="table">
        <div class="table-row">
          <div class="table-cell" style="vertical-align: top">
            <span i18n>E-mail address</span>
            <i class="fa fa-info-circle" data-toggle="tooltip" data-placement="auto right" i18n-title title="You can provide email address"></i>
          </div>
          <div class="table-cell">
            <email-form-component></email-form-component>
          </div>
        </div>
      </div>

      <div class="table">
        <div class="table-row">
          <div class="table-cell" i18n>Social network</div>
          <div class="table-cell">
            <ul class="socials" style="pargin: 0">
              <li><a href="https://www.facebook.com/moneyfge/"><i class="fa fa-facebook"></i></a></li>
              <li><a href="https://twitter.com/MoneyFGE"><i class="fa fa-twitter"></i></a></li>
            </ul>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
