<div class="main">
  <div class="block-header">
    <h3>Settings</h3>
  </div>

  <div class="info-block settings-block">
    <form>
      <div class="table">
        <div class="table-row">
          <div class="table-cell"><label for="check1">SMS of the deposits and the expenses</label></div>
          <div class="table-cell">
            <div class="checkbox">
              <i class="fa fa-check">
                <input type="checkbox" id="check1">
              </i>
            </div>
            <p class="settings-block-info">Service disabled</p>
            <a href="/site/under-construct" class="modal_error2">Read more about the service</a>
          </div>
        </div>
      </div>
      <div class="table">
        <div class="table-row">
          <div class="table-cell">The number of purse <i class="fa fa-info-circle" data-toggle="tooltip" data-placement="auto right" title="Далеко-далеко за словесными горами в стране, гласных."></i></div>
          <div class="table-cell">
            <input type="text" placeholder="+90 574 382 38 33">
          </div>
        </div>
        <div class="table-row">
          <div class="table-cell"><span>E-mail address <i class="fa fa-info-circle" data-toggle="tooltip" data-placement="auto right" title="example@mail.com"></i></span></div>
          <div class="table-cell">
            <input type="text" placeholder="example@mail.com">
            <a href="/site/under-construct" class="modal_error2">Snap email</a>
          </div>
        </div>
        <div class="table-row">
          <div class="table-cell">Social network</div>
          <div class="table-cell">
            <ul class="socials">
              <li><a href="https://www.facebook.com/moneyfge/"><i class="fa fa-facebook"></i></a></li>
              <li><a href="https://twitter.com/MoneyFGE"><i class="fa fa-twitter"></i></a></li>
            </ul>
          </div>
        </div>
      </div>
      <button class="btn btn-accent btn-big">Save</button>
    </form>
  </div>




</div>
