<div class="expenses-cash-panel clearfix">
  <div class="expenses-cash-panel-left equal-expenses">
    <div class="expenses-cash-panel-heading">
      <h4 class="expenses-cash-panel-heading__title">Total</h4>
      <div class="expenses-cash-panel-heading__datepicker calendar">
        <span>on</span>
        <input type="text" id="mytarget" value="12.12.2016">
        <div class="monthly" id="mycalendar1" style="display:none;"></div>
      </div>
    </div>
    <div class="expenses-cash-panel-content">
      <ul class="expenses-cash-panel-cashlist">
        <li>
          <div class="expenses-cash-panel-cashlist__icon">
            <img src="/assets/new_assets/img/cash-panel-icon-1.png" alt="Icon">
          </div>
          <p class="expenses-cash-panel-cashlist__title">Available</p>
          <div class="expenses-cash-panel-cashlist__summa">
            <span>0.00 $</span>
            <i class="fa fa-caret-down summa-list-btn"></i>
            <ul class="expenses-cash-panel-cashlist__currency-list">
              <li>EUR</li>
              <li>USD</li>
              <li>TRY</li>
            </ul>
          </div>
        </li>
        <li>
          <div class="expenses-cash-panel-cashlist__icon">
            <img src="/assets/new_assets/img/cash-panel-icon-2.png" alt="Icon">
          </div>
          <p class="expenses-cash-panel-cashlist__title">Spend</p>
          <p class="expenses-cash-panel-cashlist__summa small">-0.00 $</p>
        </li>
        <li>
          <div class="expenses-cash-panel-cashlist__icon">
            <img src="/assets/new_assets/img/cash-panel-icon-3.png" alt="Icon">
          </div>
          <p class="expenses-cash-panel-cashlist__title">Incoming</p>
          <p class="expenses-cash-panel-cashlist__summa small">+ 0.00 $</p>
        </li>
      </ul>
    </div>
  </div>
  <div class="expenses-cash-panel-right equal-expenses">
    <div class="expenses-cash-panel-heading">
      <h4 class="expenses-cash-panel-heading__title">Spend</h4>
      <div class="expenses-cash-panel-heading__datepicker calendar">
        <input type="text" id="mytarget2" value="December 2016">
        <div class="monthly" id="mycalendar2" style="display:none;"></div>
      </div>
      <div class="expenses-cash-panel-heading__icons">
        <ul>
          <li class="active" data-id="Graph1"><img src="/assets/new_assets/img/cash-panel-icon-5-w.png" alt="Icon"></li>
          <li data-id="Graph2"><img src="/assets/new_assets/img/cash-panel-icon-7.png" alt="Icon"></li>
          <li data-id="Graph3"><img src="/assets/new_assets/img/cash-panel-icon-10.png" alt="Icon"></li>
        </ul>
      </div>
    </div>
    <div class="expenses-cash-panel-content graph-content active" id="Graph1">
      <div class="pie-chart">
        <div id="canvas-holder">
          <!--<canvas id="chart-area"></canvas>-->
          <img src="/assets/new_assets/img/Chart.png">
        </div>
      </div>
      <div class="cash-list-panel">
        <ul>
          <li data-color="1">
            <span class="cash-list-panel__title">Payments</span>
            <span class="cash-list-panel__percent">00%</span>
            <span class="cash-list-panel__total">- $ 0.00</span>
            <span class="cash-list-panel__limit">Limit $ 0.00</span>
            <div class="clearfix"></div>
            <input type="range" class="cash-list-panel__range" value="0" min="1" max="100" step="1">
          </li>
          <li data-color="2">
            <span class="cash-list-panel__title">Transfers</span>
            <span class="cash-list-panel__percent">00%</span>
            <span class="cash-list-panel__total">- $ 0.00</span><br/>
            <span class="cash-list-panel__limit">Limit $ 0.00</span>
            <div class="clearfix"></div>
            <input type="range" class="cash-list-panel__range" value="0">
          </li>
          <li data-color="3">
            <span class="cash-list-panel__title">Connections</span>
            <span class="cash-list-panel__percent">00%</span>
            <span class="cash-list-panel__total">- $ 0.00</span><br/>
            <span class="cash-list-panel__limit">Limit $ 0.00</span>
            <div class="clearfix"></div>
            <input type="range" class="cash-list-panel__range" value="0">
          </li>
          <li data-color="4">
            <span class="cash-list-panel__title">IP-telephony</span>
            <span class="cash-list-panel__percent">00%</span>
            <span class="cash-list-panel__total">- $ 0.00</span><br/>
            <span class="cash-list-panel__limit">Limit $ 0.00</span>
            <div class="clearfix"></div>
            <input type="range" class="cash-list-panel__range" value="0">
          </li>
        </ul>
      </div>
      <div class="cash-list-panel ml15">
        <ul>
          <li data-color="5">
            <span class="cash-list-panel__title">Internet/TV</span>
            <span class="cash-list-panel__percent">00%</span>
            <span class="cash-list-panel__total">- $ 0.00</span>
            <span class="cash-list-panel__limit">Limit $ 0.00</span>
            <div class="clearfix"></div>
            <input type="range" class="cash-list-panel__range" value="0">
          </li>
          <li data-color="6">
            <span class="cash-list-panel__title">Utilities</span>
            <span class="cash-list-panel__percent">00%</span>
            <span class="cash-list-panel__total">- $ 0.00</span>
            <span class="cash-list-panel__limit">Limit $ 0.00</span>
            <div class="clearfix"></div>
            <input type="range" class="cash-list-panel__range" value="0">
          </li>
          <li data-color="7">
            <span class="cash-list-panel__title">Tickets</span>
            <span class="cash-list-panel__percent">00%</span>
            <span class="cash-list-panel__total">- $ 0.00</span>
            <span class="cash-list-panel__limit">Limit $ 0.00</span>
            <div class="clearfix"></div>
            <input type="range" class="cash-list-panel__range" value="0">
          </li>
          <li data-color="8">
            <span class="cash-list-panel__title">Charity</span>
            <span class="cash-list-panel__percent">00%</span>
            <span class="cash-list-panel__total">- $ 0.00</span>
            <span class="cash-list-panel__limit">Limit $ 0.00</span>
            <div class="clearfix"></div>
            <input type="range" class="cash-list-panel__range" value="0">
          </li>
        </ul>
      </div>
    </div>
    <div class="expenses-cash-panel-content graph-content" id="Graph2">
      <div class="line-chart">
        <div id="line-canvas-holder">
          <canvas id="line-chart-area" width="300" height="185px"></canvas>
        </div>
      </div>
    </div>
    <div class="expenses-cash-panel-content graph-content" id="Graph3">
      567856
    </div>
  </div>
</div>
