<div class="top_line">
  <div class="container">
    <div class="row">
      <div class="currency col-md-6 col-sm-12">
        <ul>
          <li>Курсы валют:</li>
          <li>$27.95 / 27.68</li>
          <li>$27.95 / 27.68</li>
          <li>$27.95 / 27.68</li>
        </ul>
      </div>
      <div class="col-md-3 col-sm-6 col-xs-12">
        <div class="lang_block">
          <div class="current_lang">
            <span class="long_name">Українська</span>
            <img class="flag" src="/assets/new_assets/img/flag_uk.png" alt="">
            <span class="short_name">/ UKR</span>
            <img src="/assets/new_assets/img/arrow_orange.png" alt="" class="arrow_down">
          </div>
          <ul class="dropdown_lang">
            <li>
              <a href="#">
                <span class="long_name">English</span>
                <img class="flag" src="/assets/new_assets/img/flag_uk.png" alt="">
                <span class="short_name">/ EN</span>
              </a>
            </li>
            <li>
              <a href="#">
                <span class="long_name">Русский</span>
                <img class="flag" src="/assets/new_assets/img/flag_uk.png" alt="">
                <span class="short_name">/ RU</span>
              </a>
            </li>
            <li>
              <a href="#">
                <span class="long_name">Türkçe</span>
                <img class="flag" src="/assets/new_assets/img/flag_uk.png" alt="">
                <span class="short_name">/ TR</span>
              </a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-md-3 col-sm-6 col-xs-12">
        <div class="ak_chek clearfix">
          <div class="s1" [routerLink]="['']">Private persons</div>
          <div class="s2">
            <div class="dot"></div>
            <div class="line"></div></div>
          <div class="s3" [routerLink]="['/business']">For Business</div>
        </div>
      </div>
    </div>
  </div>
</div>
