<header class="main-header" style="background-image: url('/assets/new_assets/img/home_bg_business.png')">

  <top-line-component></top-line-component>

  <div class="main_head_block">
    <div class="container">

      <logo-line-component></logo-line-component>

      <nav-line-component></nav-line-component>

      <div class="row">
        <div class="col-xs-12">
          <div class="margin-top-xl">
            <h1 class="big_text text-center">Pay your bills <br>in 5 seconds</h1>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
