<header class="login-page">
  <div class="logo"><img src="assets/img/logo1.png" alt="Logo"></div>
  <div class="info-block widget login-widget">
    <div class="block-header">
      <h3>Подтверждение входа</h3>
    </div>
    <div class="info-block-content">
      <form (submit)="loginIn($event)">
        <div class="alert alert-danger" *ngIf="errorMsg">
          {{ errorMsg }}
        </div>
        <label>Ввести код из СМС</label>
        <div class="input-group">
          <input type="text" name="code" [(ngModel)]="code" required />
          <i class="fa fa-info-circle" data-toggle="tooltip" data-placement="auto right" title="Далеко-далеко за словесными горами в стране, гласных."></i>
        </div>
        <button type="submit" class="btn btn-accent btn-big">Войти</button>
      </form>
      <a class="resend" href="#">Отправить СМС повторно</a><br>
      <a [routerLink]="['']" class="back"><i class="fa fa-chevron-left"></i> Назад</a>
    </div>
  </div>
</header>
