    <div class="col-lg-9 col-xs-12">
        <div class="main">
            <div class="block-header">
                <h3>Withdrawing money</h3>
            </div>

            <div class="text-center" *ngIf="accs && accs.length === 0">
                <h1>You have no accounts yet.</h1>
                <a [routerLink]="['/en/user/cabinet/score/create']">Create first</a>
            </div>

            <div class="info-block">
              <div class="alert alert-danger" *ngIf="msg">
              {{ msg }}
              </div>
                <form class="mobile-pay-main" style="margin-top:40px" (submit)="submitForm($event)">
                    <label>From Account</label>
                    <div class="select" *ngIf="accs && accs.length > 0">
                        <select required="" [(ngModel)]="account" name="account">
                          <option *ngFor="let acc of accs" [value]="acc.id">{{acc.id}} - {{acc.currency}}</option>
                        </select>
                    </div>

                    <label>To System</label>
                    <div class="select">
                        <select required="" [(ngModel)]="system" name="system">
                            <option value="QiWi">QiWi</option>
                        </select>
                    </div>

                    <label>System Account</label>
                    <input type="text" required="" name="sysacc" [(ngModel)]="systemAccount" />

                    <label>Sum</label>
                    <input type="text" required="" name="sum" [(ngModel)]="sum" />

                    <label>Comment</label>
                    <textarea [(ngModel)]="descr" name="descr" required=""></textarea>
                    <div class="center-sm">
                        <button class="btn btn-accent">Save</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
