<new-cabinet-header-component></new-cabinet-header-component>

<section class="sect-grey padding-small">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="fl-right">
                    <ul class="breadcrumbs">
                        <li><a [routerLink]="['/user/dashboard']">Main</a></li>
                        <li><a href="#">Settings</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-4">
                <div class="dashboard-left-sidebar">

                    <div class="dashboard-left-sidebar-content">
                        <div class="sidebar-left-settings-menu">
                            <ul>
                                <li class="active">
                                    <a href="" class="clearfix">
                                        <div class="sidebar-left-settings-menu__icon">
                                            <img src="/assets/new_assets/img/cash-panel-icon-10-w.png" alt="Settings">
                                        </div>
                                        <div class="sidebar-left-settings-menu__title">Profile settings</div>
                                    </a>
                                </li>
                                <li>
                                    <a href="">
                                        <div class="sidebar-left-settings-menu__icon">
                                            <img src="/assets/new_assets/img/cash-panel-icon-10-w.png" alt="Settings">
                                        </div>
                                        <div class="sidebar-left-settings-menu__title">Account operations</div>
                                    </a>
                                </li>
                                <li>
                                    <a href="">
                                        <div class="sidebar-left-settings-menu__icon">
                                            <img src="/assets/new_assets/img/cash-panel-icon-10-w.png" alt="Settings">
                                        </div>
                                        <div class="sidebar-left-settings-menu__title">Security settings</div>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-8">
                <div class="dashboard-main-content">
                    <div class="card card--lightgrey">
                        <h4 class="setting-card-title">Notice</h4>
                        <p class="setting-card-subtitle">SMS about replenishment and costs</p>
                        <div class="row">
                            <div class="col-md-7">
                                <div class="half-width-inputs">
                                    <div class="half-width-input big"><span class="setting-indicator">The service is disabled</span></div>
                                    <div class="half-width-input big"><button type="button" class="btn btn-medium btn-accent" id="SMSActivate">Activate</button></div>
                                </div>
                            </div>
                            <div class="col-md-5">
                                <p class="card--info sms-block">Cost of services - 00 USD month. <br> Get instant SMS from refill and costs.</p>
                            </div>
                        </div>
                        <div id="SMSActive">
                            <div class="row">
                                <div class="col-md-7">
                                    <div class="half-width-inputs">
                                        <div class="half-width-input big"><span class="setting-indicator active">The service is activate</span></div>
                                        <div class="half-width-input big"><button type="button" class="btn btn-medium btn-grey" id="SMSDeActivate">Disable</button></div>
                                    </div>
                                </div>
                                <div class="col-md-5">
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="card card--lightgrey">
                        <h4 class="setting-card-title">Personal information</h4>
                        <p class="setting-card-subtitle">Number wallet</p>
                        <a href="" class="tooltip-btn" data-toggle="tooltip" title="Information"><img src="/assets/new_assets/img/help.png" alt="help"></a>
                        <div class="row">
                            <div class="col-md-7">
                                <div class="half-width-inputs">
                                    <div class="half-width-input">
                                        <input type="text" class="input-medium" placeholder="+000 000000000" disabled>
                                    </div>
                                    <div class="half-width-input">
                                        <button type="button" class="btn btn-medium btn-accent" id="WalletStep1">Change</button>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-5">
                                <p class="card--info wallet-block success">Wallet number changed successfully!</p>
                                <p class="card--info wallet-block error">It was not possible to change the number wallet!</p>
                            </div>
                        </div>
                        <div class="row" id="WalletStep1Block">
                            <div class="col-md-7">
                                <p class="setting-card-subtitle">Password with SMS</p>
                                <form>
                                    <div class="half-width-inputs">
                                        <div class="half-width-input">
                                            <input type="text" class="input-medium" required>
                                        </div>
                                        <div class="half-width-input"><button type="button" class="btn btn-medium btn-grey" id="WalletStep2">Accept</button></div>
                                    </div>
                                </form>
                            </div>
                            <div class="col-md-5">
                                <p class="card--info personal-block">Your phone will receive a message. <br> Enter the password with SMS</p>
                            </div>
                        </div>
                        <div class="row" id="WalletStep2Block">
                            <div class="col-md-7">
                                <p class="setting-card-subtitle">Enter the new number of wallet</p>
                                <form>
                                    <div class="half-width-inputs">
                                        <div class="half-width-input">
                                            <input type="text" class="input-medium" required>
                                        </div>
                                        <div class="half-width-input"><button type="button" class="btn btn-medium btn-accent" id="WalletStep3">Save</button></div>
                                    </div>
                                </form>
                            </div>
                            <div class="col-md-5"></div>
                        </div>
                        <p class="setting-card-subtitle">Enter Email</p>
                        <div class="row">
                            <form>
                                <div class="col-md-7">
                                    <input type="text" class="input-medium full-width" required>
                                </div>
                                <div class="col-md-5">
                                    <button type="submit" class="btn btn-medium btn-accent no-margin">Save</button>
                                    <p class="card--info email-block">Email bound to the wallet and provides additional safety in the recovery password</p>
                                </div>
                            </form>
                        </div>
                    </div>

                    <div class="card card--lightgrey">
                        <h4 class="setting-card-title">New password</h4>
                        <p class="setting-card-subtitle">Enter new password. It wouldn't coincide with any of the previously used on the site.</p>
                        <form>
                            <div class="row">
                                <div class="col-md-7">
                                    <div class="half-width-inputs">
                                        <div class="half-width-input big">
                                            <span>Old password</span>
                                        </div>
                                        <div class="half-width-input big">
                                            <input type="text" class="input-medium" placeholder="*********" disabled>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-5"></div>
                            </div>
                            <div class="row">
                                <div class="col-md-7">
                                    <div class="half-width-inputs">
                                        <div class="half-width-input big">
                                            <span>New password</span>
                                        </div>
                                        <div class="half-width-input big">
                                            <input type="password" class="input-medium" required>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-5">
                                    <p class="card--info pass-block">The password must contain: at least 7 characters. The numbers and letters of the latin alphabet.</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-7">
                                    <div class="half-width-inputs">
                                        <div class="half-width-input big">
                                            <span>Please reenter password</span>
                                        </div>
                                        <div class="half-width-input big">
                                            <input type="password" class="input-medium" required>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-5"></div>
                            </div>
                            <div class="row">
                                <div class="col-md-7">
                                    <div class="text-right"><button type="submit" class="btn btn-medium btn-accent" id="SavePass">Save</button></div>
                                </div>
                                <div class="col-md-5"></div>
                            </div>
                        </form>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>

<footer-component></footer-component>