.block-header {
	padding: 0px 25px;
}

img {
	vertical-align: middle !important;
}

.info-block-main-cats li {
	float: none !important;
}

.courses {
	margin-top: 10px !important;
}

.profile-menu {
bottom: -120px;
}

.active {
	height: 63px;
	padding-top: 17px;
}

.top-line {
	cursor: pointer;
}
