<div class="footer">
  <div class="container">
    <div class="col-md-3 f_left_block">
      <div class="footer_logo">
        <img src="/assets/new_assets/img/logo.png" alt="">
      </div>
      <div class="phone_number">
        <div class="big_num">0 800 800 800</div>
        <div class="small_text">Free from mobile</div>
      </div>
    </div>
    <div class="col-md-3 f_menu">
      <div class="f_menu_head">Our services</div>
      <ul class="f_menu_body">
        <li><a [routerLink]="['/static/mobile-payments']" i18n>Mobile payments</a></li>
        <li><a [routerLink]="['/static/money-transfer']" i18n>Money transfer</a></li>
        <li><a [routerLink]="['/static/credit-payments']" i18n>Credit payments</a></li>
        <li><a [routerLink]="['/static/games']" i18n>Games/Entertainment</a></li>
        <li><a [routerLink]="['/static/internet']" i18n>Internet / TV / Telephone</a></li>
        <li><a [routerLink]="['/static/online']" i18n>Online payments</a></li>
        <li><a [routerLink]="['/static/bills']" i18n>Bills</a></li>
      </ul>
    </div>
    <div class="col-md-3 f_menu_2">
      <div class="f_menu_head">Current account</div>
      <ul class="f_menu_body">
        <li><a [routerLink]="['/user/sign-in/login']" i18n>Recharge account</a></li>
        <li><a [routerLink]="['/user/sign-in/login']" i18n>Cashouts</a></li>
      </ul>
      <div class="f_menu_head">Payment solutions</div>
      <ul class="f_menu_body">
        <li><a [routerLink]="['/user/sign-in/login']" i18n>Transfer from card to card</a></li>
      </ul>
      <div class="f_menu_head">Moneyfge</div>
      <ul class="f_menu_body">
        <li><a [routerLink]="['/static/careers']">Careers</a></li>
        <li><a [routerLink]="['/static/commission']">Commission</a></li>
      </ul>
    </div>
    <div class="col-md-3 f_right_block">
      <!--<div class="subscribe">-->
        <!--<div class="f_menu_head">Subscribe</div>-->
        <!--<form action="#">-->
          <!--<input type="text" placeholder="Email" class="email_input" required>-->
          <!--<input type="submit" value="OK" class="ok_input">-->
        <!--</form>-->
      <!--</div>-->
      <div class="soc_block">
        <a href="https://www.facebook.com/moneyfge/"><i class="fa fa-facebook"></i></a>
        <a href="https://twitter.com/MoneyFGE"><i class="fa fa-twitter"></i></a>
      </div>
      <div class="protect">
        <img src="/assets/new_assets/img/secure-icons.png" alt="">
      </div>
    </div>
  </div>
</div>
