<div class="content sidebar-r">
    <div class="container">
        <div class="row">


<div class="xs-flex-box">
    <router-outlet></router-outlet>

    <div class="col-lg-3 col-xs-12">
        <div class="aside">
            <div class="info-block widget">
                <div class="block-header">
                    <h3>Other services</h3>
                </div>
                <div class="info-block-content">
                    <ul class="links-list">
                        <li><a [routerLink]="['/en/user/cabinet/outmoney/list']" class="modal_error2">List outs</a></li>
                        <li><a href="#" class="under-construction">Mobile payments</a></li>
                        <li><a href="#" class="under-construction">Money transfer</a></li>
                        <li><a href="#" class="under-construction">Credit payments</a></li>
                        <li><a href="#" class="under-construction">Games/Entertainment</a></li>
                        <li><a href="#" class="under-construction">Internet / TV / Telephone</a></li>
                        <li><a href="#" class="under-construction">Online payments</a></li>
                        <li><a href="#" class="under-construction">Bills</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>        </div>
    </div>
</div>
