<footer class="main-foot">

  <div class="container">
    <div class="row">
      <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
        <ul class="sub-foot-menu menu-1">
          <li class="title"><a [routerLink]="['/en/site/contacts']" class="modal_error2" i18n>Our services</a></li>
          <li><a [routerLink]="['/en/current-account/page1']" i18n>Mobile payments</a></li>
          <li><a [routerLink]="['/en/current-account/page2']" i18n>Money transfer</a></li>
          <li><a [routerLink]="['/en/current-account/page3']" i18n>Credit payments</a></li>
          <li><a [routerLink]="['/en/current-account/page4']" i18n>Games/Entertainment</a></li>
          <li><a [routerLink]="['/en/current-account/page5']" i18n>Internet / TV / Telephone</a></li>
          <li><a [routerLink]="['/en/current-account/page7']" i18n>Online payments</a></li>
          <li><a [routerLink]="['/en/current-account/page8']" i18n>Bills</a></li>
        </ul>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
        <ul class="sub-foot-menu menu-1">
          <li class="title"><a [routerLink]="['/en/site/contacts']" i18n>Current account</a></li>
          <li><a [routerLink]="['/en/user/sign-in/login']" i18n>Recharge account</a></li>
          <li><a [routerLink]="['/en/user/sign-in/login']" i18n>Cashouts</a></li>
        </ul>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
        <ul class="sub-foot-menu menu-2">
          <li class="title"><a [routerLink]="['/en/site/contacts']" class="modal_error2" i18n>Payment solutions</a></li>
          <li><a [routerLink]="['/en/user/sign-in/login']" i18n>Transfer from card to card</a></li>
        </ul>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
        <ul class="sub-foot-menu menu-1">
          <li class="title"><a [routerLink]="['/en/site/contacts']" i18n>Contacts</a></li>
        </ul>
        <div class="subsribe">


          <ul class="socials">
            <li><a href="https://www.facebook.com/moneyfge/" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
            <li><a href="https://twitter.com/MoneyFGE" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
          </ul>
        </div>
      </div>
      <div class="col-lg-3 col-xs-12">
        <div class="foot-info">

        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <p class="copyright" i18n>© Payment system «MoneyFGE™» 2016
          TM is used under license holder MoneyFGE
        </p>
      </div>
    </div>
  </div>

  <!--<div class="container">-->
    <!--<div class="row">-->
      <!--<div class="col-lg-10 col-xs-12">-->
        <!--<ul class="foot-menu">-->
          <!--<li><a href="#">Банк</a></li>-->
          <!--<li>-->
            <!--<a href="#">Приват-банкинг</a>-->
            <!--<ul class="sub-foot-menu">-->
              <!--<li><a href="#">Управление капиталом</a></li>-->
              <!--<li><a href="#">Мандат «Каждый клиент уникален»</a></li>-->
              <!--<li><a href="#">Мандат Blackrock iShares</a></li>-->
              <!--<li><a href="#">Инвестиции</a></li>-->
              <!--<li><a href="#">MoneyFGE Orders</a></li>-->
              <!--<li><a href="#">Фонды BlackRock</a></li>-->
              <!--<li><a href="#">Ломбард Kредит</a></li>-->
            <!--</ul>-->
          <!--</li>-->
          <!--<li>-->
            <!--<a href="#">Текущий счет</a>-->
            <!--<ul class="sub-foot-menu">-->
              <!--<li><a href="#">Текущий счет</a></li>-->
              <!--<li><a href="#">Депозитный счет</a></li>-->
              <!--<li><a href="#">Видеоконференция</a></li>-->
              <!--<li><a href="#">Корпоративным клиентам</a></li>-->
            <!--</ul>-->
          <!--</li>-->
          <!--<li>-->
            <!--<a href="#">Платёжные решения</a>-->
            <!--<ul class="sub-foot-menu">-->
              <!--<li><a href="#">Платёжные решения</a></li>-->
              <!--<li><a href="#">Международные переводы</a></li>-->
              <!--<li><a href="#">Apple Pay</a></li>-->
            <!--</ul>-->
          <!--</li>-->
          <!--<li>-->
            <!--<a href="#">Интернет банкинг</a>-->
            <!--<ul class="sub-foot-menu">-->
              <!--<li><a href="#">Интернет банкинг</a></li>-->
              <!--<li><a href="#">Открыть счет онлайн</a></li>-->
            <!--</ul>-->
          <!--</li>-->
          <!--<li><a href="#">Интернет торговля</a></li>-->
        <!--</ul>-->
      <!--</div>-->
      <!--<div class="col-lg-2 col-xs-12">-->
        <!--<div class="foot-info">-->
          <!--<h4 class="phone">8 800 707-77-59</h4>-->
          <!--<ul class="socials">-->
            <!--<li><a href="#"><i class="fa fa-vk"></i></a></li>-->
            <!--<li><a href="#"><i class="fa fa-youtube-play"></i></a></li>-->
            <!--<li><a href="#"><i class="fa fa-facebook"></i></a></li>-->
            <!--<li><a href="#"><i class="fa fa-odnoklassniki"></i></a></li>-->
            <!--<li><a href="#"><i class="fa fa-twitter"></i></a></li>-->
          <!--</ul>-->
          <!--<div class="copyright">© 2016,  Банк (АО), лицензия ЦБ РФ №2241</div>-->
        <!--</div>-->
      <!--</div>-->
    <!--</div>-->
  <!--</div>-->
</footer>


<div id="MailPopover" class="hidden">
  <div class="mail-popover">
    <form>
      <label><span i18n>Введіть пошту</span> <i class="fa fa-info-circle"></i></label>
      <input type="text" required>
      <button type="submit" i18n>ОК</button>
    </form>
  </div>
</div>
