        <div class="main">
            <div class="block-header">
                <h3 i18n>Transfers</h3>
            </div>
            <div class="two-col-blocks">
                <div class="row">
                    <div class="col-lg-4">
                        <div class="info-block-main perevod">
                            <div class="info-block-main-icon"><img src="/assets/img/icon-9.png" alt="Icon"></div>
                            <div class="info-block-main-title"><a [routerLink]="['/user/cabinet/transfer/account']">
                                    <h4 i18n>Transfers between accounts</h4></a></div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="info-block-main perevod">
                            <div class="info-block-main-icon"><img src="/assets/img/icon-10.png" alt="Icon"></div>
                            <div class="info-block-main-title">
                                <a class="under-construction" href="/user/cabinet/transfer-card"><h4 i18n>Into the bank account</h4></a>                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="info-block-main perevod">
                            <div class="info-block-main-icon"><img src="/assets/img/icon-11.png" alt="Icon"></div>
                            <div class="info-block-main-title"><a href="/site/under-construct" class="under-construction">
                                    <h4 i18n>Money transfer system</h4></a></div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="block-header">
                <h3 i18n>News</h3>
                <a href="/site/under-construct" class="flright under-construction" i18n>All news</a>
            </div>
        </div>
