<div class="account-fill-block clearfix zoom-anim-dialog mfp-hide" id="AccBLock1">
  <div class="account-fill-block--left account-fill-equal-1">
    <h4 class="account-fill-block--left__header">
      Переведення коштів
    </h4>
    <div class="account-fill-block--left__content">
      <div class="dashboard-btn-group">
        <ul class="account-fill-tabs">
          <li data-tab="tab-1" class="active">
            <div class="dashboard-btn-group__icon">
              <img src="/assets/new_assets/img/dasboard-icon-5.png" alt="Icon">
            </div>
            <div class="dashboard-btn-group__text">
              На банківську карту
              <small>Термін залежить від банку</small></div>
          </li>
          <li data-tab="tab-2">
            <div class="dashboard-btn-group__icon">
              <img src="/assets/new_assets/img/dasboard-icon-4.png" alt="Icon">
            </div>
            <div class="dashboard-btn-group__text">
              Через систему<br> переказів
              <small>1-2 дні в залежності від країни</small></div>
          </li>
          <li data-tab="tab-3">
            <div class="dashboard-btn-group__icon">
              <img src="/assets/new_assets/img/dasboard-icon-4.png" alt="Icon">
            </div>
            <div class="dashboard-btn-group__text">
              На особовий<br> банківський рахунок
              <small>Термін залежить від банку</small></div>
          </li>
          <li data-tab="tab-4">
            <div class="dashboard-btn-group__icon">
              <img src="/assets/new_assets/img/dasboard-icon-4.png" alt="Icon">
            </div>
            <div class="dashboard-btn-group__text">
              Перевід юридчній<br> особі або ПП
              <small>2-3 робочих дні</small></div>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div class="account-fill-block--right account-fill-equal-1 active" id="tab-1">
    <form class="account-fill-form">
      <p class="account-fill-form__subtitle">Введіть номер карти</p>
      <div class="credit-card-wrap">
        <div class="credit-card">
          <div class="credit-card--inputs">
            <label class="credit-card__label">Номер картки</label>
            <input type="text" id="CreditCardInput" placeholder="0000 0000 0000 0000" class="input-white" required>
            <div class="credit-card_four-inputs">
              <div class="one-four">
                <label class="credit-card__label mb">VALID THRU</label>
              </div>
              <div class="one-four">
                <input class="input-white input-small" type="text" placeholder="12" required>
              </div>
              <div class="one-four">
                <input class="input-white input-small" type="text" placeholder="2018" required>
              </div>
              <div class="one-four">
                <label class="credit-card__label">CVV / CVC</label>
                <input type="text" class="input-white cvc" id="CVC" placeholder="***" required>
              </div>
            </div>
          </div>
          <div class="checkbox-wrap" style="margin-top:8px;">
            <div class="checkbox" style="top:-10px;">
              <i class="fa fa-check">
                <input type="checkbox" id="check1">
              </i>
            </div>
            <label for="check1" class="checkbox-label">Запам’ятати карту</label>
          </div>
        </div>
      </div>
      <p class="account-fill-form__subtitle">Сума поповнення</p>
      <div class="account-fill-helper">
        <input type="text" class="input-white input-medium pay-sum" placeholder="12 023.12" required>
        <span class="form-info">
																												З карти спишеться<br>ця сума плюс комісія - 1%
																											</span>
        <button type="submit" class="btn btn-medium btn-accent">Поповнити</button>
        <div class="clearfix"></div>
        <span class="form-info">Дані захищено по стандарту PCI DSS</span>
      </div>
    </form>
  </div>

  <div class="account-fill-block--right account-fill-equal-1" id="tab-2">
    <ul class="list-with-image">
      <li>
        <img src="/assets/new_assets/img/wu.png" alt="Western">
        <h5 class="list-with-image__title"><a href="#">Western Union</a></h5>
        <p>Надійний спосіб відправити гроші
          в 200 країн і територій світу, не виходячи з дому чи офісу,
          в будь-який зручний час. Одержувач зможе забрати переказ
          готівкою в будь-якому з 500 тисяч відділень партнерів WU</p>
      </li>
      <li>
        <img src="/assets/new_assets/img/wu.png" alt="Western">
        <h5 class="list-with-image__title"><a href="#">Western Union</a></h5>
        <p>Надійний спосіб відправити гроші
          в 200 країн і територій світу, не виходячи з дому чи офісу,
          в будь-який зручний час. Одержувач зможе забрати переказ
          готівкою в будь-якому з 500 тисяч відділень партнерів WU</p>
      </li>
      <li>
        <img src="/assets/new_assets/img/wu.png" alt="Western">
        <h5 class="list-with-image__title"><a href="#">Western Union</a></h5>
        <p>Надійний спосіб відправити гроші
          в 200 країн і територій світу, не виходячи з дому чи офісу,
          в будь-який зручний час. Одержувач зможе забрати переказ
          готівкою в будь-якому з 500 тисяч відділень партнерів WU</p>
      </li>
      <li>
        <img src="/assets/new_assets/img/wu.png" alt="Western">
        <h5 class="list-with-image__title"><a href="#">Western Union</a></h5>
        <p>Надійний спосіб відправити гроші
          в 200 країн і територій світу, не виходячи з дому чи офісу,
          в будь-який зручний час. Одержувач зможе забрати переказ
          готівкою в будь-якому з 500 тисяч відділень партнерів WU</p>
      </li>
    </ul>
  </div>

  <div class="account-fill-block--right account-fill-equal-1" id="tab-3">
    <ul class="list-with-image wide">
      <li>
        <img src="/assets/new_assets/img/icon_alfa.png" alt="Western">
        <h5 class="list-with-image__title"><a href="#">Банк Назва</a></h5>
        <p>На рахунок будь якої людини зачислення через хвилину</p>
      </li>
      <li>
        <img src="/assets/new_assets/img/icon_alfa.png" alt="Western">
        <h5 class="list-with-image__title"><a href="#">Банк Назва</a></h5>
        <p>На рахунок будь якої людини зачислення через хвилину</p>
      </li>
      <li>
        <img src="/assets/new_assets/img/icon_alfa.png" alt="Western">
        <h5 class="list-with-image__title"><a href="#">Банк Назва</a></h5>
        <p>На рахунок будь якої людини зачислення через хвилину</p>
      </li>
      <li>
        <img src="/assets/new_assets/img/icon_alfa.png" alt="Western">
        <h5 class="list-with-image__title"><a href="#">Банк Назва</a></h5>
        <p>На рахунок будь якої людини зачислення через хвилину</p>
      </li>
      <li>
        <img src="/assets/new_assets/img/icon_alfa.png" alt="Western">
        <h5 class="list-with-image__title"><a href="#">Банк Назва</a></h5>
        <p>На рахунок будь якої людини зачислення через хвилину</p>
      </li>
      <li>
        <img src="/assets/new_assets/img/icon_alfa.png" alt="Western">
        <h5 class="list-with-image__title"><a href="#">Банк Назва</a></h5>
        <p>На рахунок будь якої людини зачислення через хвилину</p>
      </li>
    </ul>
  </div>

  <div class="account-fill-block--right account-fill-equal-1" id="tab-4">
    <p class="account-fill-form__subtitle">Введіть ІПП номер отримувача: якщо він є у базі, сайт автоматично доставляє інші реквізити.</p>
    <form>
      <div class="account-fill-helper">
        <div class="credit-card-inputs-wrap">
          <div class="credit-card--inputs">
            <input type="text" placeholder="ИПП" class="input-white input-medium" id="IPP-input" required>
            <i class="circle-help" data-toggle="tooltip" data-placement="top" title="Введіть ІПП номер отримувача">?</i>
          </div>
        </div>
        <button type="submit" class="btn btn-medium btn-accent margin-big">Продовжити</button>
      </div>
    </form>
  </div>

  <div class="account-fill-msg msg-success">
    <div class="thumb"><i class="fa fa-thumbs-o-up"></i></div>
    <h3 class="account-fill-msg__title">УСПІШНО!</h3>
    <p class="account-fill-msg__text">Ваш платіж прийнято в обробку</p>
  </div>
  <div class="account-fill-msg msg-error">
    <div class="thumb"><i class="fa fa-thumbs-o-down"></i></div>
    <h3 class="account-fill-msg__title">ПОМИЛКА!</h3>
    <p class="account-fill-msg__text">При оформленні платежа</p>
  </div>

</div>
