<div class="main">
  <div class="block-header">
    <h3>Change Password</h3>
  </div>
  <div class="info-block settings-block">
    <div class="alert alert-danger" *ngIf="msg">
      {{msg}}
    </div>
    <form id="form" (submit)="submitForm($event)">
      <div class="table">
        <div class="table-row">
          <div class="table-cell">Old password <i class="fa fa-info-circle" data-toggle="tooltip" data-placement="auto right" title=""></i></div>
          <div class="table-cell">
            <input type="password" required="" name="old" [(ngModel)]="oldPass" />
          </div>
        </div>
        <div class="table-row">
          <div class="table-cell"><span>New password <i class="fa fa-info-circle" data-toggle="tooltip" data-placement="auto right" title=""></i></span></div>
          <div class="table-cell">
            <input type="password" required="" name="new" [(ngModel)]="newPass" />
          </div>
        </div>
        <div class="table-row">
          <div class="table-cell"><span>New password again <i class="fa fa-info-circle" data-toggle="tooltip" data-placement="auto right" title=""></i></span></div>
          <div class="table-cell">
            <input type="password" required="" name="again" [(ngModel)]="againPass" />
          </div>
        </div>
      </div>
      <button class="btn btn-accent btn-big">Save</button>
    </form>
  </div>
</div>
