<div class="main">
  <div class="block-header">
    <h3 i18n>Change Password</h3>
  </div>
  <div class="info-block settings-block">
    <div class="alert alert-{{ msgType }}" *ngIf="msg">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
      {{msg}}
    </div>
    <form id="form" (submit)="submitForm($event)" style="margin-top:40px;">
      <div class="table">
        <div class="table-row">
          <div class="table-cell"><span i18n>Old password</span> <i class="fa fa-info-circle" data-toggle="tooltip" data-placement="auto right" i18n-title title="Provide you current password"></i></div>
          <div class="table-cell">
            <input id="old-pass" type="password" required="" name="old" [(ngModel)]="oldPass" />
          </div>
        </div>
        <div class="table-row">
          <div class="table-cell"><span i18n>New password</span> <i class="fa fa-info-circle" data-toggle="tooltip" data-placement="auto right" i18n-title title="Provide your new password"></i></div>
          <div class="table-cell">
            <input type="password" required="" name="new" [(ngModel)]="newPass" />
          </div>
        </div>
        <div class="table-row">
          <div class="table-cell"><span i18n>New password again</span> <i class="fa fa-info-circle" data-toggle="tooltip" data-placement="auto right" i18n-title title="Repeate your new password"></i></div>
          <div class="table-cell">
            <input type="password" required="" name="again" [(ngModel)]="againPass" />
          </div>
        </div>
      </div>
      <button class="btn btn-accent btn-big" i18n>Save</button>
    </form>
  </div>
</div>
