<cabinet-header-component></cabinet-header-component>

<div class="error_modal" style="display: none;">
    <div class="modal_beckground">
        <div class="modal_box">
            <div class="modal_head" i18n>Message</div>
            <div class="modal_body" i18n>Sorry for the inconvenience, this method is on reconstruction.</div>
            <div class="modal_footer">
                <div class="modal_close" i18n>Close</div>
            </div>
        </div>
    </div>
</div>

<router-outlet></router-outlet>

<cabinet-footer-component></cabinet-footer-component>
