<cabinet-header-component></cabinet-header-component>

<div class="error_modal" style="display: none;">
    <div class="modal_beckground">
        <div class="modal_box">
            <div class="modal_head">Message</div>
            <div class="modal_body">Sorry for the inconvenience, this method is on reconstruction
.</div>
            <div class="modal_footer">
                <div class="modal_close">
                    Close                </div>
            </div>
        </div>
    </div>
</div>


<router-outlet></router-outlet>

<cabinet-footer-component></cabinet-footer-component>
