<simple-header-component></simple-header-component>

<div class="container-fluid bgwork">
  <div class="row">
    <div class="col-md-12 migglework">
      <h1 class="work">НАЙДИТЕ РАБОТУ </h1>
      <h1 class="work2"> СВОЕЙ МЕЧТЫ</h1>
    </div>
  </div>
</div>

<section class="main-sect sect-grey page-content">
  <div class="container">
    <div class="page-content-heading">
      <div class="row">
        <div class="col-xs-12">
          <ul class="breadcrumbs">
            <li><a [routerLink]="['']">Главная</a></li>
            <li><a href="#">Комисии</a></li>
          </ul>
        </div>
        <div class="col-xs-12">
          <h1 class="page-title">Комисии</h1>
        </div>
      </div>
    </div>


    <div class="container-fluid content">
      <div class="row">
        <div class="col-sm-12"><h1 class="listt">Варианты пополнение</h1></div>
        <div class="col-md-2 brandu">
          <img src="/assets/new_assets/img/akbank.png"><p class="proc">unknown</p>
        </div>
        <div class="col-md-2 brandu">
          <img src="/assets/new_assets/img/denizbank.png"><p class="proc">unknown</p>
        </div>
        <div class="col-md-2 brandu">
          <img src="/assets/new_assets/img/finans bank.png"><p class="proc">unknown</p>
        </div>
        <div class="col-md-2 brandu">
          <img src="/assets/new_assets/img/garanti.png"><p class="proc">unknown</p>
        </div>
        <div class="col-md-2 brandu">
          <img src="/assets/new_assets/img/halkbank.png"><p class="proc">unknown</p>
        </div>
        <div class="col-md-2 brandu">
          <img src="/assets/new_assets/img/ing bank.png"><p class="proc">unknown</p>
        </div>

      </div>
      <div class="row">
        <div class="col-md-2 brandu">
          <img src="/assets/new_assets/img/SEC_fast-bank-transfer 2.png"><p class="proc">unknown</p>
        </div>
        <div class="col-md-2 brandu">
          <img src="/assets/new_assets/img/SEC_ideal 2.png"><p class="proc">unknown</p>
        </div>
        <div class="col-md-2 brandu">
          <img src="/assets/new_assets/img/SEC_instant-banking 2.png"><p class="proc">unknown</p>
        </div>
        <div class="col-md-2 brandu">
          <img src="/assets/new_assets/img/teb.png"><p class="proc">unknown</p>
        </div>
        <div class="col-md-2 brandu">
          <img src="/assets/new_assets/img/turkiye.png"><p class="proc">unknown</p>
        </div>
        <div class="col-md-2 brandu">
          <img src="/assets/new_assets/img/vaki.png"><p class="proc">unknown</p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-2 brandu">
          <img src="/assets/new_assets/img/yapikredi.png"><p class="proc">unknown</p>
        </div>
        <div class="col-md-2 brandu">
          <img src="/assets/new_assets/img/Ziraat.png"><p class="proc">unknown</p>
        </div>
        <div class="col-xs-12 showmore">
          <a href="#"><i class="fa fa-refresh" aria-hidden="true"><p class="showing">Показать еще</p></i></a>
        </div>
      </div>
    </div>
  </div>
</section>
<div class="container-fluid midle">
  <div class="container">
    <div class="row">
      <div class="col-sm-12"><h1 class="listt">Варианты вывода</h1></div>
      <div class="col-md-2 brandu">
        <img src="/assets/new_assets/img/Ziraat.png"><p class="proc">unknown</p>
      </div>
      <div class="col-md-2 brandu">
        <img src="/assets/new_assets/img/yapikredi.png"><p class="proc">unknown</p>
      </div>
      <div class="col-md-2 brandu">
        <img src="/assets/new_assets/img/vaki.png"><p class="proc">unknown</p>
      </div>
      <div class="col-md-2 brandu">
        <img src="/assets/new_assets/img/turkiye.png"><p class="proc">unknown</p>
      </div>
      <div class="col-md-2 brandu">
        <img src="/assets/new_assets/img/teb.png"><p class="proc">unknown</p>
      </div>
      <div class="col-md-2 brandu">
        <img src="/assets/new_assets/img/SEC_instant-banking 2.png"><p class="proc">unknown</p>
      </div>

    </div>
    <div class="row">
      <div class="col-md-2 brandu">
        <img src="/assets/new_assets/img/SEC_ideal 2.png"><p class="proc">unknown</p>
      </div>
      <div class="col-md-2 brandu">
        <img src="/assets/new_assets/img/SEC_fast-bank-transfer 2.png"><p class="proc">unknown</p>
      </div>
      <div class="col-md-2 brandu">
        <img src="/assets/new_assets/img/ing bank.png"><p class="proc">unknown</p>
      </div>
      <div class="col-md-2 brandu">
        <img src="/assets/new_assets/img/halkbank.png"><p class="proc">unknown</p>
      </div>
      <div class="col-md-2 brandu">
        <img src="/assets/new_assets/img/garanti.png"><p class="proc">unknown</p>
      </div>
      <div class="col-md-2 brandu">
        <img src="/assets/new_assets/img/finans bank.png"><p class="proc">unknown</p>
      </div>

    </div>
    <div class="row">
      <div class="col-md-2 brandu">
        <img src="/assets/new_assets/img/denizbank.png"><p class="proc">unknown</p>
      </div>
      <div class="col-md-2 brandu">
        <img src="/assets/new_assets/img/akbank.png"><p class="proc">unknown</p>
      </div>
      <div class="col-xs-12 showmore">
        <a href="#"><i class="fa fa-refresh" aria-hidden="true"></i> <p class="showing">Показать еще</p></a>
      </div>
    </div>
  </div>
</div>

<footer-component></footer-component>
