<dialog-component #dialog [title]="'Sms Code'" [size]="'sm'" (onOpen)="beforeOpen()" (onClosed)="afterClose()">
  <div class="text-center" dialog-body>
    <input #code type="text" class="form-control text-center" />
    <br />
    <timer-link-component #timerLink [text]="'Send SMS again'" (onClick)="handleSendSmsAgain()"></timer-link-component>
  </div>
  <div class="text-center" dialog-footer>
    <button type="button" class="btn btn-primary btn-block" (click)="sendCode()">Send Code</button>
  </div>
</dialog-component>
