<sms-code-dialog-component [id]="'trans'" (sendCode)="closeSmsDialog()"></sms-code-dialog-component>

<div class="main">
  <div class="block-header">
    <h3 i18n>Withdrawing money</h3>
  </div>
  <div id="block" class="info-block">

    <no-account-component [show]="accs && accs.length === 0"></no-account-component>

    <alert-component></alert-component>

    <div *ngIf="accs && accs.length > 0">

      <div class="row">

          <div class="col-md-4">

            <form (ngSubmit)="submitForm()" [formGroup]="form">

              <div [ngClass]="{'form-group': true, 'has-error': !(form.controls.from.valid || form.controls.from.pristine)}">
                <label class="control-label" for="from" i18n>From Account</label>
                <select id="from" required="required" name="from" class="form-control" formControlName="from">
                  <option *ngFor="let acc of accs" [value]="acc.id">{{acc.id}} - {{acc.currency}}</option>
                </select>
              </div>

              <div [ngClass]="{'form-group': true, 'has-error': !(form.controls.to.valid || form.controls.to.pristine)}">
                <label class="control-label" for="to" i18n>To Account</label>
                <input id="to" type="text" class="form-control" name="to" required="required"
                       formControlName="to" />
              </div>

              <div [ngClass]="{'form-group': true, 'has-error': !(form.controls.sum.valid || form.controls.sum.pristine)}">
                <label class="control-label" for="sum" i18n>Sum</label>
                <input id="sum" type="number" class="form-control" name="sum" required="required"
                       formControlName="sum" />
              </div>

              <div class="form-group">
                <button type="submit" class="btn btn-accent" i18n>Save</button>
              </div>

            </form>

          </div>

      </div>

    </div>

  </div>
</div>
