<!--<simple-header-component></simple-header-component>-->

<section class="sect-grey">
  <div class="head-banner" style="background-image: url(/assets/new_assets/img/comuna2l.jpg);height:300px;">
    <div class="container">
      <h1 class="big_text" i18n>Fast and easy online <br /> payments of utility bills</h1>
    </div>
  </div>

  <div class="main">
    <div class="container">
      <div class="row">
        <div class="col-md-8">
          <h1 class="page-title"><small i18n>Bills</small></h1>
          <div class="main-text">
            <p i18n>Utility payments</p>
            <p i18n>Our billing system allows you to pay your utility bills through the Internet. This can be done from home or office with access to the Internet, do not need to go to the bank. Operations are conducted instantly and reliably. You have to register at the registration and you can also specify multiple personal accounts. You can customize the service of regular utility bills  will remove a certain amount of money from your card.</p>
            <div class="table-responsive">
              <table class="table table-striped hide">
                <tbody><tr>
                  <th i18n>Bills</th>
                  <th i18n>Commission</th>
                </tr>
                <tr>
                  <td i18n>Light</td>
                  <td>1%</td>
                </tr>
                <tr>
                  <td i18n>Gas</td>
                  <td>2%</td>
                </tr>
                <tr>
                  <td i18n>Water</td>
                  <td>2%</td>
                </tr>
                </tbody></table>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!--<footer-component></footer-component>-->
