<header class="login-page">
  <div class="logo"><img src="assets/img/logo1.png" alt="Logo" style="width:20%!important;"></div>
  <div class="info-block widget login-widget">
    <div class="block-header">
      <h3 i18n>Registration</h3>
    </div>
    <div id="form" class="info-block-content">
      <form (submit)="register($event)">
        <div class="alert alert-danger" *ngIf="errorMsg">
          {{ errorMsg }}
        </div>
        <label i18n>Enter the code from SMS</label>
        <div class="input-group">
          <input type="text" required="" class="phone-input-ua" name="code" [(ngModel)]="code" />
          <i class="fa fa-info-circle" data-toggle="tooltip" data-placement="auto right" i18n-title title="Enter code from SMS"></i>
        </div>
        <a href="#" class="resend" id="sms_retry_btn" (click)="resendSms($event)">
          <i class="fa fa-refresh"></i> <span i18n>Send SMS again</span> <span *ngIf="secs > 0">( {{secs}} )</span>
        </a><br />
        <button type="submit" class="btn btn-accent btn-big" i18n>Continue</button>
      </form>
      <a [routerLink]="['']" class="back"><i class="fa fa-chevron-left"></i> <span i18n>Back</span></a>
    </div>
  </div>
</header>
