<header class="inner-head">

  <home-header-component></home-header-component>

  <div class="head-banner" style="background-image: url(assets/img/credit.jpg);">
    <div class="container">
      <div class="row">
        <div class="col-md-7">
          <div class="head-banner-info">
            <h1 i18n>Paying off your credits without visiting a bank branch</h1>
          </div>
        </div>
        <div class="col-md-5"></div>
      </div>
    </div>
  </div>

</header>

<div class="main">
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <h1 class="page-title"><small i18n>Credit payments</small></h1>
        <div class="main-text">
          <p i18n>To repay loans</p>
          <p i18n>Use our repayment service. This is another opportunity of our payment system. Now you can  pay off any loan monthly or fully online (annual interests or principal of the debt and other payments that meet the conditions of the loan agreement). Pay off the loan by using a computer or mobile phone. Our payment system is available around the world. You have a unique opportunity to conduct any transactions, wherever you are.
          </p>

        </div>
      </div>


      <div class="col-md-4">
        <div class="aside">
          <!--        <h2 class="page-subtitle">--><!--?//= Yii::t('frontend', 'У Вас есть вопросы?') ?--><!--</h2>-->
          <!--        <div class="btns-group">-->
          <!--            <button type="button" class="btn btn-fill" data-toggle="modal" data-target="#exampleModal" data-whatever="@mdo"><i class="icon-phone-white"></i>--><!--?//= Yii::t('frontend', 'Бесплатный звонок') ?--><!--</button>-->
          <!--            <button type="button" class="btn btn-fill" data-toggle="modal" data-target="#exampleModal1" data-whatever="@mdo"><i class="icon-mail-white"></i>--><!--?//= Yii::t('frontend', 'Электронная почта') ?--><!--</button>-->
          <!--        </div>-->
          <!--<div class="block-item image" style="background-image: url(/img/block-item-bg.jpg);"><a href="#"></a></div>-->
        </div>
      </div>

    </div>
  </div>
</div>

<home-footer-component></home-footer-component>
