<sms-dialog-component #smsDialog (onSendCode)="changeStep2($event)"></sms-dialog-component>

<div class="col-md-12" *ngIf="!userInfo">
    <div class="cssload-container">
        <div class="cssload-double-torus"></div>
    </div>
</div>

<div class="card card--lightgrey" *ngIf="userInfo">
    <h4 class="setting-card-title">Notice</h4>
    <p class="setting-card-subtitle">SMS about replenishment and costs</p>
    <loader-component #smsLoader>
        <div class="row" >
            <div class="col-md-7" [hidden]="!userInfo.is_check_sms">
                <div class="half-width-inputs">
                    <div class="half-width-input big">
                        <span class="setting-indicator" [ngClass]="('disable')">The service is disabled</span>
                    </div>
                    <div class="half-width-input big">
                        <button type="button" class="btn btn-medium btn-accent"  id="SMSActivate" (click)="onSmsClick(false)">Activate</button>
                    </div>
                </div>
            </div>
            <div class="col-md-7" [hidden]="userInfo.is_check_sms">
                <div class="half-width-inputs">
                    <div class="half-width-input big"><span class="setting-indicator" [ngClass]="('active')">The service is active</span></div>
                    <div class="half-width-input big"><button type="button" class="btn btn-medium btn-gray" id="SMSDeActivate" (click)="onSmsClick(true)">Disable</button></div>
                </div>
            </div>
            <div class="col-md-5">
                <p class="card--info sms-block">Cost of services - 00 USD month. <br> Get instant SMS from refill and costs.</p>
            </div>
        </div>
    </loader-component>
</div>

<div class="card card--lightgrey" *ngIf="userInfo">
    <loader-component #numberLoader>
        <h4 class="setting-card-title">Personal information</h4>
        <p class="setting-card-subtitle">Your phone number</p>
        <a href="" class="tooltip-btn" data-toggle="tooltip" title="Information"><img src="/assets/new_assets/img/help.png" alt="help"></a>
        <div class="row">
            <div class="col-md-7">
                <div class="half-width-inputs">
                    <div class="half-width-input">
                        <input type="text" class="input-medium" placeholder="{{userInfo.telephone}}" disabled>
                    </div>
                    <div class="half-width-input">
                        <button type="button" class="btn btn-medium btn-accent" id="WalletStep1">Change</button>
                    </div>
                </div>
            </div>
            <div class="col-md-5">
                <p class="card--info wallet-block success newNumberSuccess">Number changed successfully!</p>
                <p class="card--info wallet-block error newNumberError">Error changing number.</p>
            </div>
        </div>
        <div class="row" id="WalletStep1Block">
            <div class="col-md-7">
                <p class="setting-card-subtitle">New number</p>
                <form>
                    <div class="half-width-inputs">
                        <div class="half-width-input">
                            <input type="text" class="input-medium" id="settingsNewNumber" [(ngModel)]="newNumber" [ngModelOptions]="{standalone: true}" required>
                        </div>
                        <div class="half-width-input"><button type="button" class="btn btn-medium btn-grey" id="WalletStep2" (click)="onNumberAcceptClick()">Accept</button></div>
                    </div>
                </form>
            </div>
            <div class="col-md-5">

            </div>
        </div>
        <div class="row" id="WalletStep2Block">
            <div class="col-md-7">
                <p class="setting-card-subtitle">Your password</p>
                <form>
                    <div class="half-width-inputs">
                        <div class="half-width-input">
                            <input type="password" class="input-medium" id="settingsPassword" required [(ngModel)]="passwordForChange" [ngModelOptions]="{standalone: true}">
                        </div>
                        <div class="half-width-input">
                            <button type="button" class="btn btn-medium btn-accent" id="WalletStep3" (click)="onNumberSaveClick()">Save</button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-md-5">
                <p class="card--info personal-block">You will receive a message. <br> Enter the code you received in SMS</p>
            </div>
        </div>
        <p class="setting-card-subtitle">Your email</p>
        <div class="row">
            <form>
                <div class="col-md-7">
                    <input type="text" class="input-medium full-width" id="settingsEmail" [(ngModel)]="userEmail" [ngModelOptions]="{standalone: true}" required placeholder="Not set">
                </div>
                <div class="col-md-5">
                    <button type="button" class="btn btn-medium btn-accent" id="EmailStep2" (click)="onEmailAcceptClick()">Change</button>
                    <p class="card--info email-block emailError">Error email address.</p>
                </div>
                    <div class="col-md-12" id="EmailStep2Block">
                        <p class="setting-card-subtitle">Your password</p>
                        <form>
                            <div class="half-width-inputs">
                                <!--<div class="half-width-input">-->
                                <div class="col-md-7">
                                    <input type="password" class="input-medium full-width" required [(ngModel)]="passwordForChange" [ngModelOptions]="{standalone: true}">
                                </div>
                                <!--<div class="half-width-input">-->
                                <div class="col-md-5">
                                    <button type="button" class="btn btn-medium btn-accent" (click)="onEmailSaveClick()">Save</button>
                                </div>
                            </div>
                        </form>
                    </div>
                <div class="col-md-7 col-md-offset-2 msgLetterEmail">
                    <p class="card--info">Letter was sent in your e-mail. Follow the link in the letter to confirm your e-mail.</p>
                </div>
            </form>
        </div>
    </loader-component>
</div>

<div class="card card--lightgrey" *ngIf="userInfo">
    <h4 class="setting-card-title">New password</h4>
    <p class="setting-card-subtitle">Enter new password. It wouldn't coincide with any of the previously used on the site.</p>
    <form>
        <div class="row">
            <div class="col-md-7">
                <div class="half-width-inputs">
                    <div class="half-width-input big">
                        <span>Old password</span>
                    </div>
                    <div class="half-width-input big">
                        <input type="password" class="input-medium disabled" placeholder="*********" [(ngModel)]="passwordForChange" [ngModelOptions]="{standalone: true}">
                    </div>
                </div>
            </div>
            <div class="col-md-5"></div>
        </div>

        <div class="row">
            <div class="col-md-7">
                <div class="half-width-inputs">
                    <div class="half-width-input big">
                        <span>New password</span>
                    </div>
                    <div class="half-width-input big">
                        <input type="password" class="input-medium" required [(ngModel)]="newPassword" [ngModelOptions]="{standalone: true}" >
                    </div>
                </div>
            </div>
            <div class="col-md-5">
                <p id="msgErrorPas" class="card--info pass-block">The password must contain: at least 7 characters. The numbers and letters of the alphabet.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-7">
                <div class="half-width-inputs">
                    <div class="half-width-input big">
                        <span>Please reenter password</span>
                    </div>
                    <div class="half-width-input big">
                        <input type="password" class="input-medium" required [(ngModel)]="newPassword2" [ngModelOptions]="{standalone: true}">
                    </div>
                </div>
            </div>
            <div class="col-md-5"></div>
        </div>
        <div class="row">
            <div class="col-md-7">
                <div class="text-right"><button type="submit" class="btn btn-medium btn-accent" id="SavePass" (click)="onPasswordChangeClick()">Save</button></div>
            </div>
            <div class="col-md-5"></div>
        </div>
    </form>
</div>