<header class="inner-head">

  <home-header-component></home-header-component>

  <div class="head-banner" style="background-image: url(assets/img/transfer2.jpg);">
    <div class="container">
      <div class="row">
        <div class="col-md-7">
          <div class="head-banner-info">
            <h1 i18n>Instant online transfers into  more than 140 countries</h1>
          </div>
        </div>
        <div class="col-md-5"></div>
      </div>
    </div>
  </div>

  </header>
  <div class="main">
    <div class="container">
      <div class="row">
        <div class="col-md-8">
          <h1 class="page-title"><small i18n>Money transfer</small></h1>
          <div class="main-text">
            <p i18n>Sending and receiving money quickly and securely</p>
            <p i18n>MoneyFGE performs various types of payments and transfers in various currencies and carries deposition and transfer funds. All transactions are done quickly, conveniently and securely. Receive and send money from any location in the world.  By card or cash. Money transfer is able to reach  destination  within a few minutes. Our payment system offers its customers the optimum scheme of transfer of funds for you, your family and friends. In order to receive money you must have a passport or ID. To get all the information about currency transactions please contact our manager.
            </p>
            <div class="table-responsive">
              <table class="table table-striped hide">
                <tbody><tr>
                  <th i18n>Money transfer system</th>
                  <th i18n>Commission</th>
                </tr>
                <tr>
                  <td>Western Union</td>
                  <td>1%</td>
                </tr>
                <tr>
                  <td>MoneyGram</td>
                  <td>2%</td>
                </tr>
                </tbody></table>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>

<home-footer-component></home-footer-component>
