<nav class="main-nav">
  <div class="row">

    <div class="nav-mobile-header">
      <div class="col-xs-12">
        <button class="hamburger hamburger--slider" type="button">
          <span class="hamburger-box">
            <span class="hamburger-inner"></span>
          </span>
        </button>
      </div>
    </div>

    <div class="main-menu">
      <div class="col-xs-12">
        <div class="bottom_line">
          <div class="row">
            <div class="col-md-8 col-xs-12">
              <ul class="nav_block_first clearfix">
                <li data-id="d1">
                  <a [routerLink]="['/about']" i18n>Moneyfge</a>
                </li>
                <li  data-id="d2">
                  <a>Our Services</a>
                  <div class="d2">
                    <div class="m_arrow" style=""><img style="left: 148px" src="/assets/new_assets/img/m_arrow.png" alt=""></div>
                    <ul class="d_menu_block">
                      <li><a [routerLink]="['/mobile-payments']" i18n>Mobile Payments</a></li>
                      <li><a [routerLink]="['/money-transfer']" i18n>Money Transfer</a></li>
                      <li><a [routerLink]="['/credit-payments']" i18n>Credit Payments</a></li>
                      <li><a [routerLink]="['/games']" i18n>Games/Entertainment</a></li>
                      <li><a [routerLink]="['/internet']" i18n>Internet / TV / Telephone</a></li>
                      <li><a [routerLink]="['/online']" i18n>Online payments</a></li>
                      <li><a [routerLink]="['/bills']" i18n>Bills</a></li>
                    </ul>
                  </div>
                </li>
                <li  data-id="d3">
                  <a [routerLink]="['/contacts']" i18n>Contacts</a>
                </li>
              </ul>
            </div>
            <div class="col-md-4 col-xs-12">
              <ul class="nav_block_second clearfix">
                <li class="birza"><a href="#" (click)="false"><i class="fa fa-line-chart"></i>Exchange</a></li>
                <li class="torg"><a href="#" (click)="false"><i class="fa fa-cart-plus"></i>Marketplace</a></li>
              </ul>
            </div>
            <div class="clearfix"></div>
          </div>
        </div>
      </div>
    </div>

  </div>
</nav>
