<header class="main-header" style="background-image: url('/assets/new_assets/img/home_bg_private.png')">

  <top-line-component></top-line-component>

  <div class="main_head_block">
    <div class="container">

      <logo-line-component></logo-line-component>

      <nav-line-component></nav-line-component>

      <div class="row">
        <div class="col-xs-12">
          <div class="midle-text col-lg-12">
            <div class="col-lg-9">
              <div class="big_text">Instant online transfers into  more than 140 countries</div>
              <div class="small_text">Don’t waste your time standing in a queue , pay online with MoneyFGE in 5 minutes.
              </div>
            </div>
          </div>
          <div class="col-lg-3">
            <div>
              <a *ngIf="isLoggedIn()" [routerLink]="['/user/dashboard']" class="go_start">Start now</a>
              <a *ngIf="!isLoggedIn()" [routerLink]="['/user/sign-in/login']" class="go_start">Start now</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
