<new-cabinet-header-component></new-cabinet-header-component>

<loader-component #loader>
<section *ngIf="status_merchant" >
    <div class="container">
        <div class="col-md-9 centered col-xs-12">
        <div class="card card--lightgrey card-big">
            <table class="merchant_table">
                <tr>
                    <th>Merchant id</th>
                    <th>Secret key</th>
                    <th>Secret id</th>
                </tr>
                <tr>
                    <td>{{merchantInfo.id}}</td>
                    <td>2235453ty523sr </td>
                    <td>312334hj</td>
                </tr>
            </table >
            <table class="merchant_info merchant_table">
                <tr>
                    <th>Country</th>
                    <td>{{merchantInfo.country}}</td>
                </tr>
                <tr>
                    <th>Organization type</th>
                    <td>{{merchantInfo.organization_type}}</td>
                </tr>
                <tr>
                    <th>Website</th>
                    <td>{{merchantInfo.site_url}}</td>
                </tr>
                <tr>
                    <th>First name</th>
                    <td>{{merchantInfo.first_name}}</td>
                </tr>
                <tr>
                    <th>Last name</th>
                    <td>{{merchantInfo.last_name}}</td>
                </tr>
                <tr>
                    <th>Email</th>
                    <td>{{merchantInfo.email}}</td>
                </tr>
                <tr>
                    <th>Telephone</th>
                    <td>{{merchantInfo.telephone}}</td>
                </tr>
            </table>
        </div>
        </div>
    </div>
</section>

<section *ngIf="!status_merchant" class="sect-grey padding-small">
    <div class="container">
        <div class="row">
            <div class="col-md-9 centered col-xs-12">
                <div class="dashboard-main-content">

                    <div class="clearfix"></div>

                    <money-course-component></money-course-component>

                    <div class="fl-right">
                        <ul class="breadcrumbs">
                            <li><a [routerLink]="['/user/dashboard']">Main</a></li>
                            <li><a (click)="false" href="#">Merchant</a></li>
                        </ul>
                    </div>

                    <form class="transfer-form">

                        <div class="card card--darkgrey card-big">
                            <p class="select-label">Connecting to cash</p>
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="input-medium-wrap">
                                        <label>Country</label>
                                        <!--<select class="select-medium transfer-select country">-->
                                        <select class="select-medium transfer-select country" (change)="onCountryChange($event.target.value)">
                                            <option value="USA" selected>USA</option>
                                            <option value="Euro">Europe</option>
                                        </select>
                                    </div>
                                    <div class="input-medium-wrap">
                                        <label>Type of organization</label>
                                        <!--<select class="select-medium transfer-select bill">-->
                                        <select class="select-medium transfer-select bill" (change)="onTypeChange($event.target.value)">
                                            <option value="1" selected>1</option>
                                            <option value="2">2</option>
                                            <option value="3">3</option>
                                        </select>
                                    </div>
                                    <div class="input-medium-wrap">
                                        <label>Website address</label>
                                        <input type="text" class="input-medium" [(ngModel)]="site_url" [ngModelOptions]="{standalone: true}">
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="card card--lightgrey card-big">
                            <p class="select-label">Personal account</p>

                            <div class="input-medium-wrap">
                                <label>First name</label>
                                <input type="text" class="input-medium" required [(ngModel)]="f_name" [ngModelOptions]="{standalone: true}">
                            </div>
                            <div class="input-medium-wrap">
                                <label>Last name</label>
                                <input type="text" class="input-medium" [(ngModel)]="l_name" [ngModelOptions]="{standalone: true}">
                            </div>
                            <div class="input-medium-wrap">
                                <label>Mail</label>
                                <input type="text" class="input-medium" [(ngModel)]="mail" [ngModelOptions]="{standalone: true}">
                            </div>
                            <div class="input-medium-wrap">
                                <label>Telephone</label>
                                <input type="text" class="input-medium" [(ngModel)]="telephone" [ngModelOptions]="{standalone: true}">
                            </div>
                            <div class="info-medium-wrap clearfix">
                                <div class="file-upload-sect__icon">
                                    <img src="/assets/new_assets/img/sain.png" alt="Upload File">
                                </div>
                                <p class="card--info">
                                    <span class="accent-color">Conditions!</span>
                                    By clicking the button, you accept the terms of the agreement of personal account and agree to <br>
                                    processing of your data with privacy policies.
                                </p>
                            </div>
                            <button class="btn btn-medium btn-accent" (click)="createMerchant()">Continue</button>
                        </div>

                    </form>

                </div>
            </div>
        </div>
    </div>
</section>

</loader-component>
<footer-component></footer-component>