<new-cabinet-header-component></new-cabinet-header-component>

<section class="sect-grey padding-small">
    <div class="container">
        <div class="row">
            <div class="col-md-9 centered col-xs-12">
                <div class="dashboard-main-content">

                    <div class="clearfix"></div>

                    <money-course-component></money-course-component>

                    <div class="fl-right">
                        <ul class="breadcrumbs">
                            <li><a [routerLink]="['/user/dashboard']">Main</a></li>
                            <li><a href="#">Merchant</a></li>
                        </ul>
                    </div>

                    <form class="transfer-form">

                        <div class="card card--darkgrey card-big">
                            <p class="select-label">Connecting to cash</p>
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="input-medium-wrap">
                                        <label>Country</label>
                                        <select class="select-medium transfer-select country">
                                            <option value="USA" selected>USA</option>
                                            <option value="Euro">Europe</option>
                                        </select>
                                    </div>
                                    <div class="input-medium-wrap">
                                        <label>Type of organization</label>
                                        <select class="select-medium transfer-select">
                                            <option value="Entity" selected>Entity</option>
                                            <option value="Entity">Entity</option>
                                            <option value="Entity">Entity</option>
                                        </select>
                                    </div>
                                    <div class="input-medium-wrap">
                                        <label>Website address</label>
                                        <input type="text" class="input-medium">
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="card card--lightgrey card-big">
                            <p class="select-label">Personal account</p>

                            <div class="input-medium-wrap">
                                <label>First name</label>
                                <input type="text" class="input-medium" required>
                            </div>
                            <div class="input-medium-wrap">
                                <label>Last name</label>
                                <input type="text" class="input-medium">
                            </div>
                            <div class="input-medium-wrap">
                                <label>Mail</label>
                                <input type="text" class="input-medium">
                            </div>
                            <div class="input-medium-wrap">
                                <label>Telephone</label>
                                <input type="text" class="input-medium">
                            </div>
                            <div class="info-medium-wrap clearfix">
                                <div class="file-upload-sect__icon">
                                    <img src="/assets/new_assets/img/sain.png" alt="Upload File">
                                </div>
                                <p class="card--info">
                                    <span class="accent-color">Conditions!</span>
                                    By clicking the button, you accept the terms of the agreement of personal account and agree to <br>
                                    processing of your data with privacy policies.
                                </p>
                            </div>
                            <button class="btn btn-medium btn-accent">Continue</button>
                        </div>

                    </form>

                </div>
            </div>
        </div>
    </div>
</section>

<footer-component></footer-component>