<div class="content sidebar-r">
  <div class="container">
    <div class="row">

      <div class="col-lg-9 col-xs-12">
        <router-outlet></router-outlet>
      </div>

      <div class="col-lg-3 col-xs-12">
        <div class="aside">
          <div class="info-block widget">
            <div class="block-header">
              <h3 i18n>Settings</h3>
            </div>
            <div class="info-block-content">
              <ul class="links-list">
                <li [ngClass]="{'active': activeLink === 'profile'}">
                  <a [routerLink]="['/en/user/cabinet/settings/profile']" (click)="profileClick()" i18n>
                    Profile settings
                  </a>
                </li>
                <li><a href="#" class="under-construction" i18n>Account settings</a></li>

                <li [ngClass]="{'active': activeLink === 'password'}"><a [routerLink]="['/en/user/cabinet/settings/password']" (click)="passwordClick()">New password</a></li>
                <li class="modal_error"><a href="#" class="under-construction" i18n>Settings</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>        </div>
  </div>
</div>
