<div class="content sidebar-r">
  <div class="container">
    <div class="row">

      <div class="col-lg-9 col-xs-12">
        <router-outlet></router-outlet>
      </div>

      <div class="col-lg-3 col-xs-12">
        <div class="aside">
          <div class="info-block widget">
            <div class="block-header">
              <h3>Settings</h3>
            </div>
            <div class="info-block-content">
              <ul class="links-list">
                <li class="active"><a href="#" class="under-construction">Profile settings</a></li>
                <li class="modal_error"><a href="#" class="under-construction">Account settings</a></li>

                <li class="modal_error"><a [routerLink]="['/en/user/cabinet/settings/password']">New password</a></li>
                <li class="modal_error"><a href="#" class="under-construction">Settings</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>        </div>
  </div>
</div>
