<div class="content sidebar-r">
    <div class="container">
        <div class="row">
            <div class="xs-flex-box">
    <div class="col-xs-12">
    <div class="main">
        <div class="block-header">
            <h3>Replenish</h3>
        </div>
        <div class="four-col-blocks">
            <div class="row">
                <div class="col-lg-3">
                    <div class="info-block-main">
                        <div class="info-block-main-icon"><img src="/img/icon-16.png" alt="Icon"></div>
                        <div class="info-block-main-title"><a href="/site/under-construct" class="modal_error2"><h4>Terminal
</h4></a></div>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="info-block-main">
                        <div class="info-block-main-icon"><img src="/img/icon-10.png" alt="Icon"></div>
                        <div class="info-block-main-title">
                            <a href="/en/user/cabinet/fill-bank-card"><h4>Bank card
</h4></a>                        </div>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="info-block-main">
                        <div class="info-block-main-icon"><img src="/img/icon-12.png" alt="Icon"></div>
                        <div class="info-block-main-title"><a href="/site/under-construct" class="modal_error2"><h4>Bank transfer</h4></a></div>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="info-block-main">
                        <div class="info-block-main-icon"><img src="/img/icon-15.png" alt="Icon"></div>
                        <div class="info-block-main-title"><a href="/site/under-construct" class="modal_error2"><h4>From  your phone
</h4></a></div>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="info-block-main">
                        <div class="info-block-main-icon"><img src="/img/icon-18.png" alt="Icon"></div>
                        <div class="info-block-main-title"><a href="/site/under-construct" class="modal_error2"><h4>Online loan
</h4></a></div>
                    </div>
                </div>
            </div>
        </div>

        <div class="block-header">
            <h3>News</h3>
            <a href="/site/under-construct" class="flright modal_error2">All news</a>
        </div>
    </div>
</div>
</div>        </div>
    </div>
</div>
