<div class="col-lg-9 col-xs-12">
  <div class="main">
    <div class="block-header">
        <h3>Create account</h3>
    </div>
    <div class="info-block">

      <div class="alert alert-danger" *ngIf="msg">
        {{ msg }}
      </div>

      <form class="mobile-pay-main" style="margin-top: 40px">
        <label>Currency</label>
        <div class="select">
          <select required="" name="currency" [(ngModel)]="currency">
            <option value="USD">USD</option>
            <option value="EUR">EUR</option>
            <option value="UAH">UAH</option>
            <option value="RUB">RUB</option>
          </select>
        </div>
        <div class="center-sm">
          <button type="button" class="btn btn-accent" (click)="submitForm()">Create</button>
        </div>
      </form>
    </div>
  </div>
</div>
