<sms-code-dialog-component [id]="'phone'" [sms]="smsModel" (sendCode)="closeSmsDialog($event)"></sms-code-dialog-component>

<alert-component></alert-component>

<form id="phone-form" (ngSubmit)="submitForm($event)" [formGroup]="phoneForm">
  <div [ngClass]="{'form-group': true, 'has-error': !(phoneForm.controls.oldNumber.valid || phoneForm.controls.oldNumber.pristine)}">
    <label class="control-label" for="old-number">
      <span i18n>Old Number</span>
      <i class="fa fa-info-circle" data-toggle="tooltip" data-placement="auto right" i18n-title title="Valid phone number"></i>
    </label>
    <input type="text" id="old-number" name="old-number" class="form-control" required="required"
           formControlName="oldNumber" />
  </div>
  <div [ngClass]="{'form-group': true, 'has-error': !(phoneForm.controls.newNumber.valid || phoneForm.controls.newNumber.pristine)}">
    <label class="control-label" for="old-number">
      <span i18n>New Number</span>
      <i class="fa fa-info-circle" data-toggle="tooltip" data-placement="auto right" i18n-title title="Valid phone number"></i>
    </label>
    <input type="text" id="new-number" name="new-number" class="form-control" required="required"
           formControlName="newNumber" />
  </div>
  <div class="form-group">
    <label class="control-label" for="old-number">
      <span i18n>Password</span>
      <i class="fa fa-info-circle" data-toggle="tooltip" data-placement="auto right" i18n-title title="your password"></i>
    </label>
    <input type="password" id="password" name="password" class="form-control" formControlName="password" />
  </div>
  <div class="form-group">
    <button class="btn btn-accent btn-small" style="height: 30px;" i18n>Save</button>
  </div>
</form>
