<div class="top-line">
  <div class="container">
    <div class="row">
      <div class="col-md-3 col-sm-4 col-xs-12">
        <div class="visible-xs">
          <div class="lang dropdown-lang">
            English
            <div class="dropdown-content">
              <a href="https://moneyfge.com/en/">English</a>
              <a href="https://moneyfge.com/ru/">Русский</a>
              <a href="https://moneyfge.com/tr/">Türkçe</a>
              <a href="https://moneyfge.com/uk/">Українська</a>
            </div>
          </div></div>
        <div class="logo">
          <a [routerLink]="['']"><img src="assets/img/final_logo.png" alt="Finance Group"></a>
        </div>
      </div>
      <div class="col-md-9 col-sm-8 col-xs-12">
        <div class="top-right-info">
          <div class="hidden-xs">
            <div class="lang dropdown-lang">
              English    <div class="dropdown-content">
              <a href="https://moneyfge.com/en/">English</a>
              <a href="https://moneyfge.com/ru/">Русский</a>
              <a href="https://moneyfge.com/tr/">Türkçe</a>
              <a href="https://moneyfge.com/uk/">Українська</a>
            </div>
            </div>
          </div>
          <a class="btn btn-fill reg" [routerLink]="['./user/register']">Registration</a>
          <a class="btn btn-fill reg login" [routerLink]="['/user/login']">Login</a>
        </div>
      </div>
      <div class="col-xs-12">
        <nav class="main-menu">
          <ul class="first-line">
            <li><a [routerLink]="['/en/site/about']">MoneyFGE</a></li>
            <li class="with-sub"><a href="#">Our services</a>
              <ul class="inner-menu three-col">
                <li><a href="https://moneyfge.com/en/current-account/page1"><i class="icon-menu-world-white1"></i>Mobile payments</a></li>
                <li><a href="https://moneyfge.com/en/current-account/page2"><i class="icon-menu-world-white2"></i>Money transfer</a></li>
                <li><a href="https://moneyfge.com/en/current-account/page3"><i class="icon-menu-world-white3"></i>Credit payments</a></li>
                <li><a href="https://moneyfge.com/en/current-account/page4"><i class="icon-menu-world-white4"></i>Games/Entertainment</a></li>
                <li><a href="https://moneyfge.com/en/current-account/page5"><i class="icon-menu-world-white5"></i>Internet / TV / Telephone</a></li>
                <li><a href="https://moneyfge.com/en/current-account/page7"><i class="icon-menu-world-white7"></i>Online payments</a></li>
                <li><a href="https://moneyfge.com/en/current-account/page8"><i class="icon-menu-world-white8"></i>Bills</a></li>
              </ul>
            </li>

            <li><a href="https://moneyfge.com/en/site/contacts">Contacts</a></li>
            <li><a href="http://www.worldfge.com/?l=en" target="_blank">WORLD FGE</a></li>
            <li><a href="https://moneyfge.com/en/current-account/birza">EXCHANGE MARKET FGE</a></li>

          </ul>
        </nav>
        <a id="nav-toggle"><span></span></a>
        <div class="mobile-menu"><ul class="first-line">
          <li><a href="https://moneyfge.com/en/site/about">MoneyFGE</a></li>
          <li class="with-sub"><a href="#">Our services</a>
            <ul class="inner-menu three-col">
              <li><a href="https://moneyfge.com/en/current-account/page1"><i class="icon-menu-world-white1"></i>Mobile payments</a></li>
              <li><a href="https://moneyfge.com/en/current-account/page2"><i class="icon-menu-world-white2"></i>Money transfer</a></li>
              <li><a href="https://moneyfge.com/en/current-account/page3"><i class="icon-menu-world-white3"></i>Credit payments</a></li>
              <li><a href="https://moneyfge.com/en/current-account/page4"><i class="icon-menu-world-white4"></i>Games/Entertainment</a></li>
              <li><a href="https://moneyfge.com/en/current-account/page5"><i class="icon-menu-world-white5"></i>Internet / TV / Telephone</a></li>
              <li><a href="https://moneyfge.com/en/current-account/page7"><i class="icon-menu-world-white7"></i>Online payments</a></li>
              <li><a href="https://moneyfge.com/en/current-account/page8"><i class="icon-menu-world-white8"></i>Bills</a></li>
            </ul>
          </li>

          <li><a href="https://moneyfge.com/en/site/contacts">Contacts</a></li>
          <li><a href="http://www.worldfge.com/?l=en" target="_blank">WORLD FGE</a></li>
          <li><a href="https://moneyfge.com/en/current-account/birza">EXCHANGE MARKET FGE</a></li>

        </ul></div>
      </div>
    </div>
  </div>
</div>
