<div class="top-line">
  <div class="container">
    <div class="row">
      <div class="col-md-3 col-sm-4 col-xs-12">
        <div class="visible-xs">
          <div class="lang dropdown-lang">
            {{ activeLang }}
            <div class="dropdown-content">
              <a href="#" (click)="changeLang($event, 'en')">English</a>
              <a href="#" (click)="changeLang($event, 'ru')">Русский</a>
              <a href="#" (click)="changeLang($event, 'tr')">Türkçe</a>
              <a href="#" (click)="changeLang($event, 'uk')">Українська</a>
            </div>
          </div></div>
        <div class="logo">
          <a [routerLink]="['']"><img src="assets/img/final_logo.png" alt="Finance Group"></a>
        </div>
      </div>
      <div class="col-md-9 col-sm-8 col-xs-12">
        <div class="top-right-info">
          <div class="hidden-xs">
            <div class="lang dropdown-lang">
              {{ activeLang }}
              <div class="dropdown-content">
                <a href="#" (click)="changeLang($event, 'en')">English</a>
                <a href="#" (click)="changeLang($event, 'ru')">Русский</a>
                <a href="#" (click)="changeLang($event, 'tr')">Türkçe</a>
                <a href="#" (click)="changeLang($event, 'uk')">Українська</a>
              </div>
            </div>
          </div>
          <a class="btn btn-fill reg" *ngIf="isLoggedIn()" [routerLink]="['']" (click)="logout($event)" i18n>Profile</a>
          <a class="btn btn-fill reg login" *ngIf="isLoggedIn()" [routerLink]="['/user/cabinet']" i18n>Sign Out</a>

          <a class="btn btn-fill reg" *ngIf="!isLoggedIn()" [routerLink]="['/site/register']" (click)="logout($event)" i18n>Login</a>
          <a class="btn btn-fill reg login"  *ngIf="!isLoggedIn()" [routerLink]="['/user/sign-in/login']" i18n>Registration</a>
        </div>
      </div>
      <div class="col-xs-12">
        <nav class="main-menu">
          <ul class="first-line">
            <li><a [routerLink]="['/site/about']">MoneyFGE</a></li>
            <li class="with-sub"><a href="#" i18n>Our services</a>
              <ul class="inner-menu three-col">
                <li><a [routerLink]="['/current-account/page1']"><i class="icon-menu-world-white1"></i><span i18n>Mobile payments</span></a></li>
                <li><a [routerLink]="['/current-account/page2']"><i class="icon-menu-world-white2"></i><span i18n>Money transfer</span></a></li>
                <li><a [routerLink]="['/current-account/page3']"><i class="icon-menu-world-white3"></i><span i18n>Credit payments</span></a></li>
                <li><a [routerLink]="['/current-account/page4']"><i class="icon-menu-world-white4"></i><span i18n>Games/Entertainment</span></a></li>
                <li><a [routerLink]="['/current-account/page5']"><i class="icon-menu-world-white5"></i><span i18n>Internet / TV / Telephone</span></a></li>
                <li><a [routerLink]="['/current-account/page7']"><i class="icon-menu-world-white7"></i><span i18n>Online payments</span></a></li>
                <li><a [routerLink]="['/current-account/page8']"><i class="icon-menu-world-white8"></i><span i18n>Bills</span></a></li>
              </ul>
            </li>

            <li><a [routerLink]="['/site/contacts']" i18n>Contacts</a></li>
            <li><a href="#" class="under-construction" i18n>WORLD FGE</a></li>
            <li><a href="#" class="under-construction" i18n>EXCHANGE MARKET FGE</a></li>

          </ul>
        </nav>
        <a id="nav-toggle"><span></span></a>
        <div class="mobile-menu"><ul class="first-line">
          <li><a [routerLink]="['/site/about']">MoneyFGE</a></li>
          <li class="with-sub"><a href="#" i18n>Our services</a>
            <ul class="inner-menu three-col">
              <li><a [routerLink]="['/current-account/page1']"><i class="icon-menu-world-white1"></i><span i18n>Mobile payments</span></a></li>
              <li><a [routerLink]="['/current-account/page2']"><i class="icon-menu-world-white2"></i><span i18n>Money transfer</span></a></li>
              <li><a [routerLink]="['/current-account/page3']"><i class="icon-menu-world-white3"></i><span i18n>Credit payments</span></a></li>
              <li><a [routerLink]="['/current-account/page4']"><i class="icon-menu-world-white4"></i><span i18n>Games/Entertainment</span></a></li>
              <li><a [routerLink]="['/current-account/page5']"><i class="icon-menu-world-white5"></i><span i18n>Internet / TV / Telephone</span></a></li>
              <li><a [routerLink]="['/current-account/page7']"><i class="icon-menu-world-white7"></i><span i18n>Online payments</span></a></li>
              <li><a [routerLink]="['/current-account/page8']"><i class="icon-menu-world-white8"></i><span i18n>Bills</span></a></li>
            </ul>
          </li>

          <li><a [routerLink]="['/site/contacts']" i18n>Contacts</a></li>
          <li><a href="http://www.worldfge.com/?l=en" target="_blank" i18n>WORLD FGE</a></li>
          <li><a href="https://moneyfge.com/en/current-account/birza" i18n>EXCHANGE MARKET FGE</a></li>

        </ul></div>
      </div>
    </div>
  </div>
</div>
