<new-cabinet-header-component></new-cabinet-header-component>

<section class="sect-grey padding-small">
    <div class="container">
        <div class="row">
            <div class="col-md-9 centered col-xs-12">
                <div class="dashboard-main-content">

                    <div class="clearfix"></div>
                    <money-course-component></money-course-component>

                    <div class="fl-right">
                        <ul class="breadcrumbs">
                            <li><a [routerLink]="['/user/dashboard']">Main</a></li>
                            <li><a (click)="false" href="#">History</a></li>
                        </ul>
                    </div>

                    <div class="block-type-1 expenses-latest-bills history">
                        <div class="expenses-latest-bills_header">
                            <img src="/assets/new_assets/img/cash-panel-icon-4.png" alt="Icon" class="expenses-latest-bills_header__icon">
                            <span class="expenses-latest-bills_header__date">Today {{today| date }}</span>

                            <div class="expenses-latest-bills_header__right">
                                <form>
                                    <input type="text" placeholder="Search">
                                    <button type="submit" class="search"><img src="/assets/new_assets/img/cash-panel-icon-12.png" alt="Icon"></button>
                                </form>
                                <div class="expenses-latest-bills_header__setting-btn">
                                    <img src="/assets/new_assets/img/cash-panel-icon-9.png" alt="Icon">
                                </div>
                            </div>
                        </div>
                        <div class="expenses-latest-bills_content">
                            <div class="no-bills-message">You have no payments</div>
                            <div class="bills-history">
                                <table>
                                    <tr>
                                        <th>Transaction</th>
                                        <th>Type</th>
                                        <th>Sum</th>
                                        <th>Remainder</th>
                                        <th>Currency</th>
                                        <th>Assignment</th>
                                        <th>Status</th>
                                    </tr>
                                    <!--<tr>-->
                                        <!--<td>12/12/2016 09:46:10</td>-->
                                        <!--<td><img src="/assets/new_assets/img/history-in.png" alt="Icon"></td>-->
                                        <!--<td>+ 1 000</td>-->
                                        <!--<td>0 000 000</td>-->
                                        <!--<td>USD</td>-->
                                        <!--<td>Cash withdrawals</td>-->
                                        <!--<td><i class="fa fa-check"></i></td>-->
                                    <!--</tr>-->
                                    <!--<tr>-->
                                        <!--<td>12/12/2016 09:46:10</td>-->
                                        <!--<td><img src="/assets/new_assets/img/history-transfer.png" alt="Icon"></td>-->
                                        <!--<td>- 1 000</td>-->
                                        <!--<td>0 000 000</td>-->
                                        <!--<td>USD</td>-->
                                        <!--<td>Transfer to the card</td>-->
                                        <!--<td><i class="fa fa-close"></i></td>-->
                                    <!--</tr>-->
                                    <!--<tr>-->
                                        <!--<td>12/12/2016 09:46:10</td>-->
                                        <!--<td><img src="/assets/new_assets/img/history-shop.png" alt="Icon"></td>-->
                                        <!--<td>+ 1 000</td>-->
                                        <!--<td>0 000 000</td>-->
                                        <!--<td>USD</td>-->
                                        <!--<td>Products</td>-->
                                        <!--<td><i class="fa fa-check"></i></td>-->
                                    <!--</tr>-->
                                    <!--<tr>-->
                                        <!--<td>12/12/2016 09:46:10</td>-->
                                        <!--<td><img src="/assets/new_assets/img/history-out.png" alt="Icon"></td>-->
                                        <!--<td>- 1 000</td>-->
                                        <!--<td>0 000 000</td>-->
                                        <!--<td>USD</td>-->
                                        <!--<td>Salary</td>-->
                                        <!--<td><i class="fa fa-close"></i></td>-->
                                    <!--</tr>-->
                                    <!--<tr>-->
                                        <!--<td>12/12/2016 09:46:10</td>-->
                                        <!--<td><img src="/assets/new_assets/img/history-in.png" alt="Icon"></td>-->
                                        <!--<td>+ 1 000</td>-->
                                        <!--<td>0 000 000</td>-->
                                        <!--<td>USD</td>-->
                                        <!--<td>Utility payments</td>-->
                                        <!--<td><i class="fa fa-check"></i></td>-->
                                    <!--</tr>-->
                                </table>
                            </div>
                            <div class="history-btns clearfix">
                                <a href="#" (click)="false" class="btn btn-small btn-grey">Comments</a>
                                <a href="#" (click)="false" class="btn btn-small btn-accent">Receipt</a>
                            </div>
                        </div>
                        <div class="expenses-latest-bills_footer">
                            <div class="expenses-latest-bills_footer__showmore">
                                <i class="fa fa-arrow-down"></i>
                                <span id="down">More</span>
                                <span id="up">Less</span>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-xs-12">
                            <div class="text-center">
                                <a href="#" (click)="false" class="btn btn-medium btn-accent-border">Download as PDF</a>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>

<footer-component></footer-component>