<header class="main-head">

  <home-header-component></home-header-component>

  <div #slider style="display: block; opacity: 1;" class="slider head-banner owl-carousel owl-theme">

    <div class="slide" style="background-image: url(assets/img/slide-6.jpg);">
      <div class="container">
        <div class="row">
          <div class="col-md-7">
            <div class="head-banner-info">
              <ng-container i18n>
              <h1>Easy mobile payments<br class="hidden-sm hidden-xs"> online<br class="hidden-sm hidden-xs"></h1>
              </ng-container>
            </div>
          </div>
          <div class="col-md-5"></div>
        </div>
      </div>
    </div>

    <div class="slide" style="background-image: url(/assets/img/slide-5.jpg);">
      <div class="container">
        <div class="row">
          <div class="col-md-7">
            <div class="head-banner-info">
              <h1 i18n>Instant online transfers into  more than 140 countries</h1>
            </div>
          </div>
          <div class="col-md-5"></div>
        </div>
      </div>
    </div>

    <div class="slide" style="background-image: url(/assets/img/slide-3.jpg);">
      <div class="container">
        <div class="row">
          <div class="col-md-7">
            <div class="head-banner-info">
              <h1 i18n>Paying off your credits without visiting a bank branch</h1>
            </div>
          </div>
          <div class="col-md-5"></div>
        </div>
      </div>
    </div>

    <div class="slide" style="background-image: url(/assets/img/slide-2.jpg);">
      <div class="container">
        <div class="row">
          <div class="col-md-7">
            <div class="head-banner-info">
              <h1 i18n> Convenient online payments on utility bills
              </h1>
            </div>
          </div>
          <div class="col-md-5"></div>
        </div>
      </div>
    </div>

    <div class="owl-item" style="width: 1351px;"><div class="slide" style="background-image: url(/assets/img/slide-1.jpg);">
      <div class="container">
        <div class="row">
          <div class="col-md-7">
            <div class="head-banner-info">
              <h1 i18n>More than 1,000 online payment methods available  in  Turkey and all over the world</h1>
            </div>
          </div>
          <div class="col-md-5"></div>
        </div>
      </div>
    </div>
    </div>

  </div>

  <div class="slider-nav">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <ul class="dop-menu clearfix">
            <li class=""><a href="#one" style="height: 80px;"><span class="icon-wrap"><i class="icon-globe"></i></span><ng-container i18n><span class="text-wrap hidden-xs">Payments <br class="hidden-sm hidden-xs">due</span></ng-container></a></li>
            <li class=""><a href="#two" style="height: 80px;"><span class="icon-wrap big"><i class="icon-torg"></i></span><span class="text-wrap hidden-xs" i18n>Remittances</span></a></li>
            <li class=""><a href="#three" style="height: 80px;"><span class="icon-wrap"><i class="icon-pig"></i></span><ng-container i18n><span class="text-wrap hidden-xs">Credit <br class="hidden-sm hidden-xs">payments</span></ng-container></a></li>
            <li class=""><a href="#four" style="height: 80px;"><span class="icon-wrap"><i class="icon-man"></i></span><span class="text-wrap hidden-xs" i18n>Bills</span></a></li>
            <li class=""><a href="#five" style="height: 80px;"><span class="icon-wrap big"><i class="icon-mastercard"></i></span><ng-container i18n><span class="text-wrap hidden-xs">Online <br class="hidden-sm hidden-xs">payments</span></ng-container></a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</header>

﻿﻿
<div class="main">
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <div class="sliderContent sliderContent-0" style="display: none;">
          <ng-container i18n>
          <h1 class="page-title">Mobile payments: <small>Mobile Payment Service</small></h1>
            </ng-container>
          <div class="main-text">
            <p i18n>With this service, you can replenish/recharge
              your  mobile phones accounts when you have access to the Internet, PC
              and mobile devices. This service can be used by contract customers and
              prepaid subscribers. All transactions with mobile payment accounts occur
              within minutes.
            </p>
          </div>
        </div>
        <div class="sliderContent sliderContent-1" style="display: none;">
          <ng-container i18n>
          <h1 class="page-title">Money transfer: <small>Sending and receiving money quickly and securely</small></h1>
            </ng-container>
          <div class="main-text">
            <p i18n>MoneyFGE performs various types of payments
              and transfers in various currencies and carries deposition and transfer
              funds. All transactions are done quickly, conveniently and securely.
              Receive and send money from any  location in  the world. In card or
              cash. Money transfer reach  destination  within a few minutes. </p>
          </div>
        </div>
        <div class="sliderContent sliderContent-2" style="display: none;">
          <ng-container i18n>
          <h1 class="page-title">Credit payments: <small>To repay loans</small></h1>
            </ng-container>
          <div class="main-text">
            <p i18n>Take advantage of our service of the loan.
              This is another opportunity for our payment system. Now you can on a
              monthly basis or to repay Your loan in online mode (interest or
              principal or other payments that match the terms of the loan agreement).
              To repay the loan, you can use computer or mobile phone.</p>
          </div>
        </div>
        <div class="sliderContent sliderContent-3" style="display: none;">
          <ng-container i18n>
          <h1 class="page-title">Bills: <small>Utility payments</small></h1>
            </ng-container>
          <div class="main-text">
            <p i18n>Our billing system allows you to pay your
              utility bills through the Internet. This can be done from home or office
              and only requires access to the Internet, no need to go to the bank
              branch. Operations are conducted instantly and reliably.
            </p>
          </div>
        </div>
        <div class="sliderContent sliderContent-4" style="">
          <ng-container i18n>
          <h1 class="page-title">Online payments: <small>Online Payment Service</small></h1>
            </ng-container>
          <div class="main-text">
            <p i18n>MoneyFGE payment system provides payment
              services via the Internet, television, telephony online.
              You can easily perform these operations without leaving home. This can
              be done from anywhere in the world with Internet access, a computer or
              mobile device.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<home-footer-component></home-footer-component>
