<new-cabinet-header-component></new-cabinet-header-component>

<section class="sect-grey padding-small">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <sidebar-component></sidebar-component>
      </div>
      <div class="col-md-8">
        <div class="dashboard-main-content equal-height-column">
          <div class="clearfix"></div>

          <money-course-component></money-course-component>

          <div class="fl-right">
            <a [routerLink]="['/user/merchant-panel']" class="btn-small btn-accent merch-btn">Merchant Panel</a>
          </div>

          <div class="clearfix"></div>

          <cash-panel-component></cash-panel-component>

          <account-history-component></account-history-component>

          <!--<div class="block-type-1 popular-services">-->
            <!--<h5 class="block-type-1__title">Popular services</h5>-->
            <!--<div class="popular-services&#45;&#45;blocks">-->
              <!--<div class="row">-->
                <!--<div class="col-md-4">-->
                  <!--<div class="popular-services&#45;&#45;block">-->
                    <!--<h4 class="popular-services&#45;&#45;block__title">Taxes</h4>-->
                    <!--<p class="popular-services&#45;&#45;block__subtitle">verification and payment</p>-->
                    <!--<div class="popular-services&#45;&#45;block__icon">-->
                      <!--<img src="/assets/new_assets/img/popular-services-icon-4.png" alt="Icon">-->
                    <!--</div>-->
                    <!--<a href="#" (click)="false" class="popular-services&#45;&#45;block__readmore">-->
                      <!--More-->
                      <!--<i class="fa fa-arrow-right"></i></a>-->
                  <!--</div>-->
                <!--</div>-->
                <!--<div class="col-md-4">-->
                  <!--<div class="popular-services&#45;&#45;block">-->
                    <!--<h4 class="popular-services&#45;&#45;block__title">Fines</h4>-->
                    <!--<p class="popular-services&#45;&#45;block__subtitle">verification and payment</p>-->
                    <!--<div class="popular-services&#45;&#45;block__icon">-->
                      <!--<img src="/assets/new_assets/img/popular-services-icon-6.png" alt="Icon">-->
                    <!--</div>-->
                    <!--<a href="#" (click)="false" class="popular-services&#45;&#45;block__readmore">-->
                      <!--More-->
                      <!--<i class="fa fa-arrow-right"></i></a>-->
                  <!--</div>-->
                <!--</div>-->
                <!--<div class="col-md-4">-->
                  <!--<div class="popular-services&#45;&#45;block">-->
                    <!--<h4 class="popular-services&#45;&#45;block__title">Loans</h4>-->
                    <!--<p class="popular-services&#45;&#45;block__subtitle">verification and payment</p>-->
                    <!--<div class="popular-services&#45;&#45;block__icon">-->
                      <!--<img src="/assets/new_assets/img/popular-services-icon-5.png" alt="Icon">-->
                    <!--</div>-->
                    <!--<a href="#" (click)="false" class="popular-services&#45;&#45;block__readmore">-->
                      <!--More-->
                      <!--<i class="fa fa-arrow-right"></i></a>-->
                  <!--</div>-->
                <!--</div>-->
                <!--<div class="col-md-4">-->
                  <!--<div class="popular-services&#45;&#45;block">-->
                    <!--<h4 class="popular-services&#45;&#45;block__title">Receipts</h4>-->
                    <!--<p class="popular-services&#45;&#45;block__subtitle">verification and payment</p>-->
                    <!--<div class="popular-services&#45;&#45;block__icon">-->
                      <!--<img src="/assets/new_assets/img/popular-services-icon-1.png" alt="Icon">-->
                    <!--</div>-->
                    <!--<a href="#" (click)="false" class="popular-services&#45;&#45;block__readmore">-->
                      <!--More-->
                      <!--<i class="fa fa-arrow-right"></i></a>-->
                  <!--</div>-->
                <!--</div>-->
                <!--<div class="col-md-4">-->
                  <!--<div class="popular-services&#45;&#45;block">-->
                    <!--<h4 class="popular-services&#45;&#45;block__title">Mobile</h4>-->
                    <!--<p class="popular-services&#45;&#45;block__subtitle">verification and payment</p>-->
                    <!--<div class="popular-services&#45;&#45;block__icon">-->
                      <!--<img src="/assets/new_assets/img/popular-services-icon-3.png" alt="Icon">-->
                    <!--</div>-->
                    <!--<a href="#" (click)="false" class="popular-services&#45;&#45;block__readmore">-->
                      <!--More-->
                      <!--<i class="fa fa-arrow-right"></i></a>-->
                  <!--</div>-->
                <!--</div>-->
                <!--<div class="col-md-4">-->
                  <!--<div class="popular-services&#45;&#45;block">-->
                    <!--<h4 class="popular-services&#45;&#45;block__title">Credits</h4>-->
                    <!--<p class="popular-services&#45;&#45;block__subtitle">verification and payment</p>-->
                    <!--<div class="popular-services&#45;&#45;block__icon">-->
                      <!--<img src="/assets/new_assets/img/popular-services-icon-2.png" alt="Icon">-->
                    <!--</div>-->
                    <!--<a href="#" (click)="false" class="popular-services&#45;&#45;block__readmore">-->
                      <!--More-->
                      <!--<i class="fa fa-arrow-right"></i></a>-->
                  <!--</div>-->
                <!--</div>-->
              <!--</div>-->
            <!--</div>-->
          <!--</div>-->

          <div class="block-type-1 catalog-categories">
            <h5 class="block-type-1__title">Directory categories</h5>
            <div class="catalog-categories__form">
              <input type="text" placeholder="Shop, company, product... ">
              <button class="search-btn">
                <img src="/assets/new_assets/img/catalog-block-icons/cat-categories-icon-8.png" alt="Icon">
                Search
              </button>
            </div>
            <div class="catalog-categories--items">
              <div class="row">
                <div class="col-md-4">
                  <div class="catalog-categories--item">
                    <div class="catalog-categories--item__icon">
                      <img src="/assets/new_assets/img/catalog-block-icons/cat-categories-icon-5.png" alt="Icon">
                    </div>
                    <div class="catalog-categories--item__text">
                      <h5 class="catalog-categories--item__title"><a href="#" (click)="false">Bills</a></h5>
                      <p class="catalog-categories--item__subtitle">Public services, fines, taxes</p>
                    </div>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="catalog-categories--item">
                    <div class="catalog-categories--item__icon">
                      <img src="/assets/new_assets/img/catalog-block-icons/cat-categories-icon-10.png" alt="Icon">
                    </div>
                    <div class="catalog-categories--item__text">
                      <h5 class="catalog-categories--item__title"><a href="#" (click)="false">Phones</a></h5>
                      <p class="catalog-categories--item__subtitle">Public services, fines, taxes</p>
                    </div>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="catalog-categories--item">
                    <div class="catalog-categories--item__icon">
                      <img src="/assets/new_assets/img/catalog-block-icons/cat-categories-icon-3.png" alt="Icon">
                    </div>
                    <div class="catalog-categories--item__text">
                      <h5 class="catalog-categories--item__title"><a href="#" (click)="false">Internet</a></h5>
                      <p class="catalog-categories--item__subtitle">Public services, fines, taxes</p>
                    </div>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="catalog-categories--item">
                    <div class="catalog-categories--item__icon">
                      <img src="/assets/new_assets/img/catalog-block-icons/cat-categories-icon-1.png" alt="Icon">
                    </div>
                    <div class="catalog-categories--item__text">
                      <h5 class="catalog-categories--item__title"><a href="#" (click)="false">Television</a></h5>
                      <p class="catalog-categories--item__subtitle">Public services, fines, taxes</p>
                    </div>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="catalog-categories--item">
                    <div class="catalog-categories--item__icon">
                      <img src="/assets/new_assets/img/catalog-block-icons/cat-categories-icon-2.png" alt="Icon">
                    </div>
                    <div class="catalog-categories--item__text">
                      <h5 class="catalog-categories--item__title"><a href="#" (click)="false">Games</a></h5>
                      <p class="catalog-categories--item__subtitle">Public services, fines, taxes</p>
                    </div>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="catalog-categories--item">
                    <div class="catalog-categories--item__icon">
                      <img src="/assets/new_assets/img/catalog-block-icons/cat-categories-icon-11.png" alt="Icon">
                    </div>
                    <div class="catalog-categories--item__text">
                      <h5 class="catalog-categories--item__title"><a href="#" (click)="false">Goods</a></h5>
                      <p class="catalog-categories--item__subtitle">Public services, fines, taxes</p>
                    </div>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="catalog-categories--item">
                    <div class="catalog-categories--item__icon">
                      <img src="/assets/new_assets/img/catalog-block-icons/cat-categories-icon-6.png" alt="Icon">
                    </div>
                    <div class="catalog-categories--item__text">
                      <h5 class="catalog-categories--item__title"><a href="#" (click)="false">Online services</a></h5>
                      <p class="catalog-categories--item__subtitle">Public services, fines, taxes</p>
                    </div>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="catalog-categories--item">
                    <div class="catalog-categories--item__icon">
                      <img src="/assets/new_assets/img/catalog-block-icons/cat-categories-icon-9.png" alt="Icon">
                    </div>
                    <div class="catalog-categories--item__text">
                      <h5 class="catalog-categories--item__title"><a href="#"v>Entertainment</a></h5>
                      <p class="catalog-categories--item__subtitle">Public services, fines, taxes</p>
                    </div>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="catalog-categories--item">
                    <div class="catalog-categories--item__icon">
                      <img src="/assets/new_assets/img/catalog-block-icons/cat-categories-icon-13.png" alt="Icon">
                    </div>
                    <div class="catalog-categories--item__text">
                      <h5 class="catalog-categories--item__title"><a href="#" (click)="false">Finances</a></h5>
                      <p class="catalog-categories--item__subtitle">Public services, fines, taxes</p>
                    </div>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="catalog-categories--item">
                    <div class="catalog-categories--item__icon">
                      <img src="/assets/new_assets/img/catalog-block-icons/cat-categories-icon-7.png" alt="Icon">
                    </div>
                    <div class="catalog-categories--item__text">
                      <h5 class="catalog-categories--item__title"><a href="#" (click)="false">Programs</a></h5>
                      <p class="catalog-categories--item__subtitle">Public services, fines, taxes</p>
                    </div>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="catalog-categories--item">
                    <div class="catalog-categories--item__icon">
                      <img src="/assets/new_assets/img/catalog-block-icons/cat-categories-icon-12.png" alt="Icon">
                    </div>
                    <div class="catalog-categories--item__text">
                      <h5 class="catalog-categories--item__title"><a href="#" (click)="false">Transports</a></h5>
                      <p class="catalog-categories--item__subtitle">Public services, fines, taxes</p>
                    </div>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="catalog-categories--item">
                    <div class="catalog-categories--item__icon">
                      <img src="/assets/new_assets/img/catalog-block-icons/cat-categories-icon-4.png" alt="Icon">
                    </div>
                    <div class="catalog-categories--item__text">
                      <h5 class="catalog-categories--item__title"><a href="#" (click)="false">Charity</a></h5>
                      <p class="catalog-categories--item__subtitle">Public services, fines, taxes</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</section>

<footer-component></footer-component>

<!--<fast-btns-component></fast-btns-component>-->

<fill-phone-popup-component></fill-phone-popup-component>

<fill-account-popup-component></fill-account-popup-component>

<transfer-popup-component></transfer-popup-component>
