<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!--<title><%= htmlWebpackPlugin.options.title %></title>-->

  <!--<meta name="description" content="<%= htmlWebpackPlugin.options.title %>">-->

  <!-- base url -->
  <base href="<%= htmlWebpackPlugin.options.metadata.baseUrl %>">

  <link rel="shortcut icon" href="assets/img/favicon/favicon1.png" type="image/x-icon">
  <link rel="apple-touch-icon" href="assets/img/favicon/apple-touch-icon.png">
  <link rel="apple-touch-icon" sizes="72x72" href="assets/img/favicon/apple-touch-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="114x114" href="assets/img/favicon/apple-touch-icon-114x114.png">

  <link href="https://fonts.googleapis.com/css?family=Roboto&amp;subset=cyrillic,cyrillic-ext,latin-ext" rel="stylesheet">
  <link type="text/css" rel="stylesheet" href="assets/css/bootstrap.min.css" />
  <link type="text/css" rel="stylesheet" href="assets/css/intlTelInput.css" />
  <!--<link type="text/css" rel="stylesheet" href="assets/css/formValidation.css" />-->

  <link rel="stylesheet" href="assets/css/main.min.css?ver=1.0.0" media="all">
  <link rel="stylesheet" href="assets/css/site.css?ver=1.0.0" media="all">
  <link id="home" type="text/css" rel="stylesheet" href="assets/css/home.css" />
  <link type="text/css" rel="stylesheet" href="assets/css/waitMe.min.css" />
  <link type="text/css" rel="stylesheet" href="assets/css/style.css" />
</head>

<body>


  <app>
    <div id="app-loader">
      <div class='loader'>
        <i class="fa fa-refresh fa-spin fa-3x fa-fw" style="position: absolute; top: 50%; left: 50%;"></i>
        <span class="sr-only">Loading...</span>
      </div>
    </div>
  </app>

  <script type="text/javascript">
    var paySystemsImage = {"2":"card.png","3":"type_amex.png","4":"type_visa.png","5":"type_mastercard.png","6":"type_maestro.png","7":"card.png"};
    var cvvId = "81tK5GQ7SvsRx6v0GUDrfJiYJ9ELxnyc";
  </script>

  <script type="text/javascript" src="assets/js/jquery.js"></script>
  <script type="text/javascript" src="assets/js/selectize.min.js"></script>
  <script type="text/javascript" src="assets/js/jquery.equalheights.min.js"></script>
  <script type="text/javascript" src="assets/js/owl.carousel.min.js"></script>
  <script type="text/javascript" src="assets/js/site.js"></script>
  <script type="text/javascript" src="assets/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="assets/js/intlTelInput/intlTelInput.js"></script>
  <script type="text/javascript" src="assets/js/waitMe.min.js"></script>
  <!--<script type="text/javascript" src="assets/js/form_validator/formValidation.js"></script>-->
</body>
</html>
