<header class="main-head">
  <div class="top-line">
    <div class="container">
      <div class="row">
        <div class="col-md-3 col-sm-4 col-xs-12">
          <div class="visible-xs">
            <div class="lang dropdown-lang">
              English
              <div class="dropdown-content">
                <a href="https://moneyfge.com/en/">English</a>
                <a href="https://moneyfge.com/ru/">Русский</a>
                <a href="https://moneyfge.com/tr/">Türkçe</a>
                <a href="https://moneyfge.com/uk/">Українська</a>
              </div>
            </div></div>
          <div class="logo">
            <a href="https://moneyfge.com/en"><img src="assets/img/final_logo.png" alt="Finance Group"></a>
          </div>
        </div>
        <div class="col-md-9 col-sm-8 col-xs-12">
          <div class="top-right-info">
            <div class="hidden-xs">
              <div class="lang dropdown-lang">
                English    <div class="dropdown-content">
                <a href="https://moneyfge.com/en/">English</a>
                <a href="https://moneyfge.com/ru/">Русский</a>
                <a href="https://moneyfge.com/tr/">Türkçe</a>
                <a href="https://moneyfge.com/uk/">Українська</a>
              </div>
              </div>
            </div>
            <a class="btn btn-fill reg" [routerLink]=" ['./user/register'] " >Registration</a>
            <a class="btn btn-fill reg login" [routerLink]=" ['./user/login'] " >Login</a>
          </div>
        </div>
        <div class="col-xs-12">
          <nav class="main-menu">
            <ul class="first-line">
              <li><a href="https://moneyfge.com/en/site/about">MoneyFGE</a></li>
              <li class="with-sub"><a href="#">Our services</a>
                <ul class="inner-menu three-col">
                  <li><a href="https://moneyfge.com/en/current-account/page1"><i class="icon-menu-world-white1"></i>Mobile payments</a></li>
                  <li><a href="https://moneyfge.com/en/current-account/page2"><i class="icon-menu-world-white2"></i>Money transfer</a></li>
                  <li><a href="https://moneyfge.com/en/current-account/page3"><i class="icon-menu-world-white3"></i>Credit payments</a></li>
                  <li><a href="https://moneyfge.com/en/current-account/page4"><i class="icon-menu-world-white4"></i>Games/Entertainment</a></li>
                  <li><a href="https://moneyfge.com/en/current-account/page5"><i class="icon-menu-world-white5"></i>Internet / TV / Telephone</a></li>
                  <li><a href="https://moneyfge.com/en/current-account/page7"><i class="icon-menu-world-white7"></i>Online payments</a></li>
                  <li><a href="https://moneyfge.com/en/current-account/page8"><i class="icon-menu-world-white8"></i>Bills</a></li>
                </ul>
              </li>

              <li><a href="https://moneyfge.com/en/site/contacts">Contacts</a></li>
              <li><a href="http://www.worldfge.com/?l=en" target="_blank">WORLD FGE</a></li>
              <li><a href="https://moneyfge.com/en/current-account/birza">EXCHANGE MARKET FGE</a></li>

            </ul>
          </nav>
          <a id="nav-toggle"><span></span></a>
          <div class="mobile-menu"><ul class="first-line">
            <li><a href="https://moneyfge.com/en/site/about">MoneyFGE</a></li>
            <li class="with-sub"><a href="#">Our services</a>
              <ul class="inner-menu three-col">
                <li><a href="https://moneyfge.com/en/current-account/page1"><i class="icon-menu-world-white1"></i>Mobile payments</a></li>
                <li><a href="https://moneyfge.com/en/current-account/page2"><i class="icon-menu-world-white2"></i>Money transfer</a></li>
                <li><a href="https://moneyfge.com/en/current-account/page3"><i class="icon-menu-world-white3"></i>Credit payments</a></li>
                <li><a href="https://moneyfge.com/en/current-account/page4"><i class="icon-menu-world-white4"></i>Games/Entertainment</a></li>
                <li><a href="https://moneyfge.com/en/current-account/page5"><i class="icon-menu-world-white5"></i>Internet / TV / Telephone</a></li>
                <li><a href="https://moneyfge.com/en/current-account/page7"><i class="icon-menu-world-white7"></i>Online payments</a></li>
                <li><a href="https://moneyfge.com/en/current-account/page8"><i class="icon-menu-world-white8"></i>Bills</a></li>
              </ul>
            </li>

            <li><a href="https://moneyfge.com/en/site/contacts">Contacts</a></li>
            <li><a href="http://www.worldfge.com/?l=en" target="_blank">WORLD FGE</a></li>
            <li><a href="https://moneyfge.com/en/current-account/birza">EXCHANGE MARKET FGE</a></li>

          </ul></div>
        </div>
      </div>
    </div>
  </div>

  <div #slider style="display: block; opacity: 1;" class="slider head-banner owl-carousel owl-theme">

    <div class="slide" style="background-image: url(assets/img/slide-6.jpg);">
      <div class="container">
        <div class="row">
          <div class="col-md-7">
            <div class="head-banner-info">
              <h1>Easy mobile payments<br class="hidden-sm hidden-xs"> online<br class="hidden-sm hidden-xs"></h1>
            </div>
          </div>
          <div class="col-md-5"></div>
        </div>
      </div>
    </div>

    <div class="slide" style="background-image: url(/assets/img/slide-5.jpg);">
      <div class="container">
        <div class="row">
          <div class="col-md-7">
            <div class="head-banner-info">
              <h1>Instant online transfers into  more than 140 countries</h1>
            </div>
          </div>
          <div class="col-md-5"></div>
        </div>
      </div>
    </div>

    <div class="slide" style="background-image: url(/assets/img/slide-3.jpg);">
      <div class="container">
        <div class="row">
          <div class="col-md-7">
            <div class="head-banner-info">
              <h1>Paying off your credits without visiting a bank branch</h1>
            </div>
          </div>
          <div class="col-md-5"></div>
        </div>
      </div>
    </div>

    <div class="slide" style="background-image: url(/assets/img/slide-2.jpg);">
      <div class="container">
        <div class="row">
          <div class="col-md-7">
            <div class="head-banner-info">
              <h1> Convenient online payments on utility bills
              </h1>
            </div>
          </div>
          <div class="col-md-5"></div>
        </div>
      </div>
    </div>

    <div class="owl-item" style="width: 1351px;"><div class="slide" style="background-image: url(/assets/img/slide-1.jpg);">
      <div class="container">
        <div class="row">
          <div class="col-md-7">
            <div class="head-banner-info">
              <h1>More than 1,000 online payment methods available  in  Turkey and all over the world</h1>
            </div>
          </div>
          <div class="col-md-5"></div>
        </div>
      </div>
    </div>
    </div>

  </div>

  <div class="slider-nav">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <ul class="dop-menu clearfix">
            <li class=""><a href="#one" style="height: 80px;"><span class="icon-wrap"><i class="icon-globe"></i></span><span class="text-wrap hidden-xs">Payments <br class="hidden-sm hidden-xs">due</span></a></li>
            <li class=""><a href="#two" style="height: 80px;"><span class="icon-wrap big"><i class="icon-torg"></i></span><span class="text-wrap hidden-xs">Remittances</span></a></li>
            <li class=""><a href="#three" style="height: 80px;"><span class="icon-wrap"><i class="icon-pig"></i></span><span class="text-wrap hidden-xs">Credit <br class="hidden-sm hidden-xs">payments</span></a></li>
            <li class=""><a href="#four" style="height: 80px;"><span class="icon-wrap"><i class="icon-man"></i></span><span class="text-wrap hidden-xs">Bills</span></a></li>
            <li class=""><a href="#five" style="height: 80px;"><span class="icon-wrap big"><i class="icon-mastercard"></i></span><span class="text-wrap hidden-xs">Online <br class="hidden-sm hidden-xs">payments</span></a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</header>

﻿﻿
<div class="main">
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <div class="sliderContent sliderContent-0" style="display: none;">
          <h1 class="page-title">Mobile payments: <small>Mobile Payment Service</small></h1>
          <div class="main-text">
            <p>With this service, you can replenish/recharge
              your  mobile phones accounts when you have access to the Internet, PC
              and mobile devices. This service can be used by contract customers and
              prepaid subscribers. All transactions with mobile payment accounts occur
              within minutes.
            </p>
          </div>
        </div>
        <div class="sliderContent sliderContent-1" style="display: none;">
          <h1 class="page-title">Money transfer: <small>Sending and receiving money quickly and securely</small></h1>
          <div class="main-text">
            <p>MoneyFGE performs various types of payments
              and transfers in various currencies and carries deposition and transfer
              funds. All transactions are done quickly, conveniently and securely.
              Receive and send money from any  location in  the world. In card or
              cash. Money transfer reach  destination  within a few minutes. </p>
          </div>
        </div>
        <div class="sliderContent sliderContent-2" style="display: none;">
          <h1 class="page-title">Credit payments: <small>To repay loans</small></h1>
          <div class="main-text">
            <p>Take advantage of our service of the loan.
              This is another opportunity for our payment system. Now you can on a
              monthly basis or to repay Your loan in online mode (interest or
              principal or other payments that match the terms of the loan agreement).
              To repay the loan, you can use computer or mobile phone.</p>
          </div>
        </div>
        <div class="sliderContent sliderContent-3" style="display: none;">
          <h1 class="page-title">Bills: <small>Utility payments</small></h1>
          <div class="main-text">
            <p>Our billing system allows you to pay your
              utility bills through the Internet. This can be done from home or office
              and only requires access to the Internet, no need to go to the bank
              branch. Operations are conducted instantly and reliably.
            </p>
          </div>
        </div>
        <div class="sliderContent sliderContent-4" style="">
          <h1 class="page-title">Online payments: <small>Online Payment Service</small></h1>
          <div class="main-text">
            <p>MoneyFGE payment system provides payment
              services via the Internet, television, telephony online.
              You can easily perform these operations without leaving home. This can
              be done from anywhere in the world with Internet access, a computer or
              mobile device.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<footer class="main-foot">
  <div class="container">
    <div class="row">
      <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12 hidden-xs">
        <img src="assets/img/final_logo.png" class="img-responsive">
      </div>
      <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 myList1">
        <ul class="sub-foot-menu menu-1">

          <li class="title"><a href="#">Our services</a></li>
          <li><a href="https://moneyfge.com/en/current-account/page1">Mobile payments</a></li>
          <li><a href="https://moneyfge.com/en/current-account/page2">Money transfer</a></li>
          <li><a href="https://moneyfge.com/en/current-account/page3">Credit payments</a></li>
          <li><a href="https://moneyfge.com/en/current-account/page4">Games/Entertainment</a></li>
          <li><a href="https://moneyfge.com/en/current-account/page5">Internet / TV / Telephone</a></li>
          <li><a href="https://moneyfge.com/en/current-account/page7">Online payments</a></li>
          <li><a href="https://moneyfge.com/en/current-account/page8">Bills</a></li>

        </ul>
      </div>
      <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12">
        <ul class="sub-foot-menu menu-1">
          <li class="title"><a href="#">Current account</a></li>
          <li><a href="https://moneyfge.com/en/user/cabinet/fill">Recharge account</a></li>
          <li><a href="https://moneyfge.com/en/user/cabinet/outmoney">Cashouts</a></li>
        </ul>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
        <ul class="sub-foot-menu menu-2">
          <li class="title"><a href="#">Payment solutions</a></li>
          <li><a href="https://moneyfge.com/en/user/cabinet/transfer">Transfer from card to card</a></li>
        </ul>
      </div>
      <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12">
        <ul class="sub-foot-menu menu-1">
          <li class="title"><a href="https://moneyfge.com/en/site/contacts">Contacts</a></li>
        </ul>
        <div class="subsribe">
          <ul class="socials">
            <li><a href="https://www.facebook.com/moneyfge/" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
            <li><a href="https://twitter.com/MoneyFGE" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
          </ul>
        </div>
        <div class="ico_block">
          <img src="assets/img/mcafee.png" class="img-responsive footer_ic_mc" width='65px' height = '24px'>
          <img src="assets/img/ssl.png" class="img-responsive footer_ic_ssl" width = '50px'>
          <img src="assets/img/icon_pci.png" class="footer_ic_mc" alt="" width='65px' height = '24px'>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <p class="copyright">
          © Payment system «MoneyFGE™» 2016
          TM is used under license holder MoneyFGE
        </p>
      </div>
    </div>
  </div>
</footer>
