<simple-header-component></simple-header-component>

<section class="main-sect sect-grey page-content">
  <div class="container">
    <div class="page-content-heading">
      <div class="row">
        <div class="col-xs-12">
          <ul class="breadcrumbs">
            <li><a href="#">Главная</a></li>
            <li><a href="#">Новости</a></li>
          </ul>
        </div>
        <div class="col-xs-12">
          <h1 class="page-title">Новости</h1>
        </div>
      </div>
    </div>
    <div class="page-content-main-wrapper">
      <div class="row">

        <div class="col-md-3">
          <div class="left-sidebar">
            <ul class="news-list-menu">
              <li class="active">
                <div class="news-list-menu-item clearfix">
                  <div class="news-list-menu-date">
                    <span class="day">31</span>
                    <span class="month">дек</span>
                    <span class="year">2016</span>
                  </div>
                  <div class="news-list-menu-title"><a [routerLink]="['/article-1']">Euro rose against the US dollar</a></div>
                </div>
              </li>
              <li>
                <div class="news-list-menu-item clearfix">
                  <div class="news-list-menu-date">
                    <span class="day">31</span>
                    <span class="month">дек</span>
                    <span class="year">2016</span>
                  </div>
                  <div class="news-list-menu-title"><a [routerLink]="['/article-2']">Shopping on the Internet totaled 6% of global ...</a></div>
                </div>
              </li>
              <li>
                <div class="news-list-menu-item clearfix">
                  <div class="news-list-menu-date">
                    <span class="day">31</span>
                    <span class="month">дек</span>
                    <span class="year">2016</span>
                  </div>
                  <div class="news-list-menu-title"><a [routerLink]="['/article-3']">MasterCArd introduced payment service ...</a></div>
                </div>
              </li>
            </ul>
          </div>
        </div>

        <div class="col-md-9">
          <div class="main-content">
            <article>
              <h2 class="article-title">Euro rose against the US dollar</h2>
              <div class="article-text">
                <p>This happened to the closing of US sales on Tuesday, 28th of December.
                  EUR/USD  is trading at 1.0457, adding 0.03%.
                  Also, the euro rose against the British pound and the Japanese yen.
                  EUR/GBP has reached a level of 0,8522 and EUR/JPY has reached a level of 122,81.
                </p>
              </div>
            </article>
          </div>
        </div>

      </div>
    </div>
  </div>
</section>

<footer-component></footer-component>
