<div #dialog class="modal">
  <div class="modal-dialog {{ size }}" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <ng-content select="[dialog-header]"></ng-content>
        <!--<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>-->
        <!--<h4 class="modal-title text-center">{{ title }}</h4>-->
      </div>
      <div class="modal-body">
        <ng-content select="[dialog-body]"></ng-content>
      </div>
      <div class="modal-footer">
        <ng-content select="[dialog-footer]"></ng-content>
      </div>
    </div>
  </div>
</div>
