<header class="login-page">
  <div class="logo"><img src="assets/img/logo1.png" alt="Logo" style="width:20%!important;"></div>
  <div class="info-block widget login-widget">
    <div class="block-header">
      <h3 i18n>Registration</h3>
    </div>
    <div id="block" class="info-block-content">
      <form (submit)="register($event)">
        <div class="alert alert-danger" *ngIf="errorMsg">
          {{ errorMsg }}
        </div>
        <label i18n>Enter password</label>
        <div class="input-group">
          <input type="password" required="" class="phone-input-ua" name="password" [(ngModel)]="password" style="border-radius: 0;" />
          <i class="fa fa-info-circle" data-toggle="tooltip" data-placement="auto right" i18n-title title="The password must contain numbers (0-9), letters in upper and lower case letters (A-Z, a-z)"></i>
        </div>
        <button type="submit" class="btn btn-accent btn-big" i18n>Continue</button>
      </form>
      <a [routerLink]="['']" class="back"><i class="fa fa-chevron-left"></i> <span i18n>Back</span></a>
    </div>
  </div>
</header>
