<section class="sect-grey">
  <div class="head-banner" style="background-image: url(/assets/new_assets/img/credit.jpg);height:300px;">
    <div class="container">
      <h1 class="big_text" i18n>Paying off your <br /> credits without visiting <br /> a bank branch</h1>
    </div>
  </div>

  <div class="main">
    <div class="container">
      <div class="row">
        <div class="col-md-8">
          <h1 class="page-title">
            <small i18n>Credit payments</small>
          </h1>
          <div class="main-text">
            <p i18n>To repay loans</p>
            <p i18n>Use our repayment service. This is another opportunity of our payment system. Now you can  pay off any loan monthly or fully online (annual interests or principal of the debt and other payments that meet the conditions of the loan agreement). Pay off the loan by using a computer or mobile phone. Our payment system is available around the world. You have a unique opportunity to conduct any transactions, wherever you are.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

